In [1]:
import gc
import time
import numpy as np
import pandas as pd
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt
from logzero import logger

In [2]:
def do_count(df, group_cols, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_count"
    print("Aggregating by ", group_cols, '...')
    gp = df[group_cols][group_cols].groupby(group_cols).size().rename(agg_name).to_frame().reset_index()
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_countuniq(df, group_cols, counted, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_{}_countuniq".format(counted)
    print("Counting unqiue ", counted, " by ", group_cols, '...')
    gp = df[group_cols+[counted]].groupby(group_cols)[counted].nunique().reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_cumcount(df, group_cols, counted, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_cumcount"
    print("Cumulative count by ", group_cols, '...')
    gp = df[group_cols+[counted]].groupby(group_cols)[counted].cumcount()
    df[agg_name] = gp.values
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_mean(df, group_cols, counted, agg_type='float32'):
    agg_name = "_".join(group_cols) + "_mean"
    print("Calculating mean of ", counted, " by ", group_cols, '...')
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].mean(
    ).reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_var(df, group_cols, counted, agg_type='float32'):
    agg_name = "_".join(group_cols) + "_var"
    print("Calculating variance of ", counted, " by ", group_cols, '...')
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].var(
    ).reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)

In [3]:
%%time
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

CPU times: user 1.56 s, sys: 9.31 s, total: 10.9 s
Wall time: 5min 5s

In [4]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
dtype: object

In [ ]:
%%time
df = do_cumcount(df, ['ip', 'device', 'os'], 'app')
gc.collect()
df = do_cumcount(df, ['ip'], 'os')
gc.collect()
df = do_countuniq(df, ['ip'], 'channel', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip', 'dow'], 'hour', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip'], 'app', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip', 'app'], 'os', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip'], 'device', 'uint16')
gc.collect()
df = do_countuniq(df, ['app'], 'channel')
gc.collect()
df = do_countuniq(df, ['ip', 'device', 'os'], 'app')
gc.collect()
df = do_count(df, ['ip', 'dow', 'hour'])
gc.collect()
df = do_count(df, ['ip', 'app'])
gc.collect()
df = do_count(df, ['ip', 'app', 'os'], 'uint16')
gc.collect()
df = do_var(df, ['ip', 'dow', 'channel'], 'hour')
gc.collect()
df = do_var(df, ['ip', 'app', 'os'], 'hour')
gc.collect()
df = do_var(df, ['ip', 'app', 'channel'], 'dow')
gc.collect()
df = do_mean(df, ['ip', 'app', 'channel'], 'hour')
gc.collect()

Cumulative count by  ['ip', 'device', 'os'] ...
ip_device_os_cumcount max value =  282426
Cumulative count by  ['ip'] ...
ip_cumcount max value =  1421255
Counting unqiue  channel  by  ['ip'] ...
ip_dow_hour_countuniq max value =  24
Counting unqiue  app  by  ['ip'] ...
ip_app_countuniq max value =  277
Counting unqiue  os  by  ['ip', 'app'] ...
ip_app_os_countuniq max value =  148
Counting unqiue  device  by  ['ip'] ...
ip_device_countuniq max value =  551
Counting unqiue  channel  by  ['app'] ...
app_channel_countuniq max value =  49
Counting unqiue  app  by  ['ip', 'device', 'os'] ...
ip_device_os_app_countuniq max value =  100
Aggregating by  ['ip', 'dow', 'hour'] ...
ip_dow_hour_count max value =  44259
Aggregating by  ['ip', 'app'] ...
ip_app_count max value =  220743
Aggregating by  ['ip', 'app', 'os'] ...
ip_app_os_count max value =  55159
Calculating variance of  hour  by  ['ip', 'dow', 'channel'] ...

In [7]:
df.columns

Index(['app', 'channel', 'click_id', 'device', 'ip', 'is_attributed', 'os',
       'click_count_by_ip_os_device_dow',
       'click_count_by_ip_os_device_dow_hour', 'click_count_by_ip', 'dow',
       'hour', 'minute', 'second', 'rank_by_ip', 'rank_by_ip_os_device',
       'rank_by_ip_os_device_dow', 'click_time_interval_by_ip',
       'click_time_interval_by_ip_os_device',
       'click_time_interval_by_ip_os_device_dow',
       'click_time_interval_by_ip_os_device_dow_hour', 'ip_device_os_cumcount',
       'ip_cumcount', 'ip_channel_countuniq', 'ip_dow_hour_countuniq',
       'ip_app_countuniq', 'ip_app_os_countuniq', 'ip_device_countuniq',
       'app_channel_countuniq', 'ip_device_os_app_countuniq',
       'ip_dow_hour_count', 'ip_app_count', 'ip_app_os_count',
       'ip_dow_channel_var', 'ip_app_os_var', 'ip_app_channel_var',
       'ip_app_channel_mean'],
      dtype='object')

In [8]:
df

,app,channel,click_id,device,ip,is_attributed,os,click_count_by_ip_os_device_dow,click_count_by_ip_os_device_dow_hour,click_count_by_ip,...,ip_device_countuniq,app_channel_countuniq,ip_device_os_app_countuniq,ip_dow_hour_count,ip_app_count,ip_app_os_count,ip_dow_channel_var,ip_app_os_var,ip_app_channel_var,ip_app_channel_mean
0,3,379,NaN,1,83230,0.0,13,434,1,28085,...,26,49,49,1,5759,1431,7.893333,36.597950,1.389350,8.521276
1,3,379,NaN,1,17357,0.0,19,183,1,26234,...,22,49,48,1,5245,1451,9.618462,25.959045,1.103880,8.236263
2,3,379,NaN,1,35810,0.0,13,34,1,11002,...,16,49,41,1,2156,462,15.600000,33.348476,1.012026,8.872340
3,14,478,NaN,1,45745,0.0,13,1501,1,188741,...,99,40,58,1,10547,2186,5.947712,36.870251,1.070305,10.361702
4,3,379,NaN,1,161007,0.0,13,28,1,1171,...,5,49,28,1,232,80,10.800000,37.221359,0.619048,11.428572
5,3,379,NaN,1,18787,0.0,16,1,1,4029,...,2,49,20,1,884,30,2.333333,18.975863,1.937909,10.277778
6,3,379,NaN,1,103022,0.0,23,1,1,6099,...,11,49,4,1,1256,3,1.000000,44.333332,0.976950,11.208333
7,3,379,NaN,1,114221,0.0,19,51,1,2334,...,4,49,29,1,404,88,32.000000,29.235109,2.028571,9.466666
8,3,379,NaN,1,165970,0.0,13,19,1,2014,...,6,49,22,1,434,46,8.000000,26.908213,0.566667,14.333333
9,64,459,NaN,1,74544,0.0,22,5,1,3882,...,6,3,18,1,32,1,13.809524,NaN,0.555444,11.875000
10,3,379,NaN,1,172522,0.0,25,109,1,9494,...,11,49,20,1,1461,34,7.873206,47.526737,0.247768,9.843750
11,3,379,NaN,1,105861,0.0,13,495,1,12443,...,29,49,34,1,1940,470,7.617168,45.830132,2.183636,13.256757
12,3,379,NaN,1,210962,0.0,19,84,1,8688,...,14,49,38,1,1215,325,16.333334,31.188187,0.998851,11.133333
13,3,379,NaN,1,124979,0.0,18,1,1,1001,...,4,49,14,1,165,6,40.500000,15.466666,2.266667,9.833333
14,3,379,NaN,1,38816,0.0,18,1,1,4551,...,3,49,26,1,832,27,12.666667,24.763533,1.071225,8.888889
15,3,379,NaN,1,80447,0.0,19,42,1,5475,...,4,49,33,1,892,169,16.916666,35.519585,1.031746,7.178571
16,3,379,NaN,1,134575,0.0,13,16,1,3267,...,5,49,25,1,273,70,2.000000,23.418013,1.066667,9.500000
17,3,379,NaN,1,57576,0.0,19,1,1,297,...,1,49,23,1,47,20,NaN,11.734211,5.333333,7.666667
18,3,379,NaN,1,7755,0.0,13,34,1,685,...,5,49,23,1,104,16,1.333333,23.462500,3.111111,12.000000
19,3,379,NaN,1,91749,0.0,19,100,1,6074,...,11,49,32,1,911,339,12.700000,29.937965,1.719697,12.000000
20,3,379,NaN,1,50694,0.0,18,9,1,1221,...,3,49,18,1,206,15,40.500000,15.685715,1.361111,8.333333
21,3,379,NaN,1,111385,0.0,18,4,1,2474,...,9,49,14,1,457,9,27.000000,35.277779,1.670330,8.500000
22,14,478,NaN,1,125222,0.0,3,123,1,171961,...,178,40,33,1,9398,152,10.685715,34.973465,1.335227,10.969697
23,3,379,NaN,1,191759,0.0,13,407,1,25290,...,37,49,38,1,4534,1105,8.079932,40.149372,0.656371,11.395349
24,3,379,NaN,1,53418,0.0,17,6,1,2572,...,5,49,25,1,450,31,20.250000,48.655914,1.571429,10.933333
25,3,379,NaN,1,183168,0.0,19,3,1,90,...,2,49,3,1,16,3,NaN,22.333334,0.500000,10.500000
26,3,379,NaN,1,47902,0.0,17,6,1,5766,...,14,49,23,1,1014,78,NaN,36.947884,1.311111,10.611111
27,3,379,NaN,1,209663,0.0,13,2679,1,173423,...,50,49,49,1,20297,3439,6.972166,38.278740,0.357150,9.660378
28,3,379,NaN,1,129614,0.0,20,10,1,2201,...,6,49,16,2,315,6,12.600000,46.966667,0.277778,9.777778
29,3,379,NaN,1,208347,0.0,19,31,1,2753,...,6,49,26,1,225,40,19.000000,23.419872,2.285714,12.428572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203694329,27,153,18790438.0,1,51432,NaN,13,22,1,22,...,1,6,13,1,1,1,1.333333,NaN,NaN,15.000000
203694330,14,401,18790440.0,1,14334,NaN,19,274,1,2854,...,6,40,29,1,184,51,20.000000,29.783529,1.596491,10.000000
203694331,9,334,18790441.0,1,16749,NaN,13,46,1,1528,...,5,47,18,1,144,24,16.566668,37.389492,0.692308,11.923077
203694332,23,153,18790442.0,1,17814,NaN,13,260,1,11860,...,16,11,37,1,248,61,16.234848,39.937706,1.137158,9.728745
203694333,21,232,18790443.0,1,8825,NaN,13,41,3,2273,...,9,8,28,3,58,26,5.142857,34.038460,1.065217,12.000000
203694334,8,259,18790444.0,2,115536,NaN,13,4,1,1568,...,7,4,4,1,20,1,9.523809,NaN,0.500000,13.500000
203694335,2,205,18790445.0,1,121472,NaN,19,1789,1,90013,...,124,27,51,2,11842,2394,15.020443,28.733999,1.148887,10.458585
203694336,12,242,18790446.0,1,38000,NaN,12,7,1,1639,...,5,33,7,1,158,1,NaN,NaN,2.000000,11.000000
203694337,1,125,18790447.0,1,66176,NaN,19,304,6,18979,...,12,33,42,6,726,175,12.250000,31.029755,1.734210,13.550000
203694338,2,205,18790448.0,1,25553,NaN,22,114,1,49910,...,21,27,36,1,26695,1424,15.782972,47.541752,1.153579,10.893300
203694339,21,128,18790449.0,2,119531,NaN,19,878,1,162916,...,93,8,34,1,5645,1135,12.102192,33.909885,0.698123,11.571559
203694340,13,469,18790450.0,1,14062,NaN,53,1,1,4266,...,8,9,7,1,126,1,19.361111,NaN,1.418421,14.400000
203694341,14,442,18790451.0,1,48536,NaN,19,80,2,1748,...,7,40,29,2,104,24,21.928572,37.471016,1.839286,8.375000
203694342,1,125,18790452.0,1,93291,NaN,19,2245,7,38820,...,24,33,37,7,505,117,0.947619,36.501030,0.562217,14.576923
203694343,9,258,18790453.0,1,93291,NaN,19,2245,7,38820,...,24,47,37,7,2366,538,1.913846,28.743591,0.489648,13.385715
203694344,1,125,18790455.0,1,55874,NaN,22,60,6,13763,...,17,33,30,6,542,13,22.333334,40.474358,0.893281,10.869565
203694345,9,145,18790454.0,1,93291,NaN,19,2245,7,38820,...,24,47,37,7,2366,538,14.474748,28.743591,0.628307,13.357142
203694346,8,259,18790456.0,1,100697,NaN,18,17,1,3519,...,8,4,23,1,112,10,24.783333,1.655556,1.391304,12.565217
203694347,20,259,18790457.0,1,93291,NaN,19,2245,7,38820,...,24,7,37,7,216,35,10.317524,32.294117,0.435094,13.863095
203694348,2,452,18790458.0,1,85329,NaN,14,76,2,75986,...,127,27,31,2,14959,146,16.748381,31.969391,1.185620,10.833962
203694349,15,140,18790459.0,1,102467,NaN,17,173,6,40051,...,38,31,30,6,3676,151,7.014452,49.619778,1.066918,11.871875
203694350,9,445,18790460.0,1,80537,NaN,19,79,6,1048,...,7,47,23,6,103,16,60.500000,18.600000,2.000000,6.250000
203694351,2,237,18790462.0,2,101214,NaN,16,13,1,50215,...,95,27,18,1,7207,91,13.694435,25.020269,0.529386,9.665807
203694352,17,128,18790461.0,1,113418,NaN,17,60,2,13166,...,13,11,29,2,55,6,10.107617,0.300000,0.208669,11.375000
203694353,12,135,18790463.0,1,69245,NaN,13,100,1,4666,...,10,33,34,1,647,180,27.619047,36.789074,0.361111,8.666667
203694354,9,127,18790464.0,1,99442,NaN,13,5,2,377,...,3,47,21,2,35,11,20.000000,35.363636,0.000000,8.000000
203694355,23,153,18790465.0,1,88046,NaN,37,23,1,11288,...,16,11,25,1,224,13,14.522223,23.358974,1.207046,10.385651
203694356,18,265,18790467.0,1,81398,NaN,17,48,2,12192,...,16,20,26,2,1433,76,13.800467,21.325439,0.000000,11.692307
203694357,27,122,18790466.0,1,123236,NaN,13,13,1,963,...,4,6,23,1,4,1,60.500000,NaN,0.500000,7.500000
203694358,12,265,18790468.0,2,73516,NaN,27,172,1,839540,...,159,33,28,4,219988,1780,10.666474,35.386147,1.060851,10.977614

In [ ]:
%%time
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [2]:
%%time
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

CPU times: user 1.82 s, sys: 14.5 s, total: 16.3 s
Wall time: 7min 41s

In [3]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
dtype: object

In [12]:
%%time
MOD = int(1e9+7)
df["ip_os_device_app_hash"] = (df["ip"].astype(str)+"_"+df["os"].astype(str)+"_"+df["device"].astype(str)+"_"+df["app"].astype(str)).apply(hash)%MOD

CPU times: user 12min 2s, sys: 1min 11s, total: 13min 13s
Wall time: 13min 12s

In [16]:
df["ip_os_device_app_hash"] = df["ip_os_device_app_hash"].astype("uint32")

In [17]:
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

# Add time difference features

In [2]:
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [3]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
ip_os_device_app_hash                            uint32
dtype: object

In [4]:
df = df[["dow", "hour", "minute", "second", "ip_os_device_app_hash"]]

In [9]:
df["click_time_second"] = df["dow"].astype("uint32")*24*60*60 + df["hour"].astype("uint32")*60*60 + df["minute"].astype("uint32")*60 + df["second"].astype("uint32")

In [11]:
df

           dow  hour  minute  second  ip_os_device_app_hash  click_time_second
0            0    14      32      21              525163057              52341
1            0    14      33      34              116105055              52414
2            0    14      34      12                4835573              52452
3            0    14      34      52              271103479              52492
4            0    14      35       8              383355941              52508
5            0    14      36      26              265346367              52586
6            0    14      37      44              451576942              52664
7            0    14      37      59               48712048              52679
8            0    14      38      10              409149612              52690
9            0    14      38      23              991191953              52703
10           0    14      38      27              771660871              52707
11           0    14      38      51              185415683              52731
12           0    14      39      29              921233975              52769
13           0    14      40      16              251490267              52816
14           0    14      40      39              403016032              52839
15           0    14      40      51              149463335              52851
16           0    14      43      10              871983428              52990
17           0    14      43      14              818518993              52994
18           0    14      43      25              214027987              53005
19           0    14      43      51              767386328              53031
20           0    14      44       2              294024182              53042
21           0    14      44      15              528954648              53055
22           0    14      44      51              188313364              53091
23           0    14      44      51              206774784              53091
24           0    14      44      52              596430985              53092
25           0    14      47      49              627609408              53269
26           0    14      48       7              242949124              53287
27           0    14      48      55              957598269              53335
28           0    14      49      36              748072354              53376
29           0    14      49      38              194437668              53378
...        ...   ...     ...     ...                    ...                ...
203694329    4    15       0       0              450212829             399600
203694330    4    15       0       0              193236773             399600
203694331    4    15       0       0              349793900             399600
203694332    4    15       0       0              978197240             399600
203694333    4    15       0       0              620000798             399600
203694334    4    15       0       0              770841743             399600
203694335    4    15       0       0              391237076             399600
203694336    4    15       0       0              723530682             399600
203694337    4    15       0       0              662253097             399600
203694338    4    15       0       0              904291942             399600
203694339    4    15       0       0              542249403             399600
203694340    4    15       0       0              380681768             399600
203694341    4    15       0       0              909207776             399600
203694342    4    15       0       0              583818058             399600
203694343    4    15       0       0              902086272             399600
203694344    4    15       0       0              487913602             399600
203694345    4    15       0       0              902086272             399600
203694346    4    15       0       0              437214649             399600
203694347    4    15       0       0              991411077             399600
203694348    4    15       0       0              780703664             399600
203694349    4    15       0       0              334148769             399600
203694350    4    15       0       0              981970012             399600
203694351    4    15       0       0              901471979             399600
203694352    4    15       0       0              678479268             399600
203694353    4    15       0       0              888451438             399600
203694354    4    15       0       0              693835767             399600
203694355    4    15       0       0              936126680             399600
203694356    4    15       0       0              632956177             399600
203694357    4    15       0       0              720133744             399600
203694358    4    15       0       0              656853604             399600

[203694359 rows x 6 columns]

In [12]:
%%time
df.sort_values(by=["ip_os_device_app_hash", "click_time_second"], inplace=True)

CPU times: user 4min 34s, sys: 12.2 s, total: 4min 46s
Wall time: 4min 46s

In [14]:
df

           dow  hour  minute  second  ip_os_device_app_hash  click_time_second
121638       0    16       2      13                     26              57733
1787841      0    16      43      25                     26              60205
9261562      0    23      58      58                     26              86338
11126756     1     0      30      26                     26              88226
13377758     1     1       7      58                     26              90478
13841862     1     1      16      21                     26              90981
13860275     1     1      16      40                     26              91000
42169678     1    10      21      31                     26             123691
51061818     1    13      11      33                     26             133893
52111160     1    13      31      21                     26             135081
52116460     1    13      31      27                     26             135087
104238626    2    10      54      50                     51             212090
192982212    4     9      37      51                     73             380271
4090216      0    18      38      47                    106              67127
59155316     1    15      47      38                    217             143258
5530004      0    21      40      20                    313              78020
5640257      0    21      52      14                    313              78734
5680222      0    21      55      51                    313              78951
20480488     1     3      21      51                    313              98511
20489063     1     3      22       1                    313              98521
20637974     1     3      24      51                    313              98691
20644768     1     3      24      59                    313              98699
20651776     1     3      25       7                    313              98707
20664792     1     3      25      22                    313              98722
28116575     1     5      35       6                    313             106506
28135266     1     5      35      27                    313             106527
28170482     1     5      36       7                    313             106567
28223347     1     5      37       7                    313             106627
37963283     1     8      58      10                    313             118690
39012412     1     9      19      36                    313             119976
...        ...   ...     ...     ...                    ...                ...
14926703     1     1      35      53             1000000002              92153
16306051     1     2       1      29             1000000002              93689
20657049     1     3      25      14             1000000002              98714
20657139     1     3      25      14             1000000002              98714
20682684     1     3      25      43             1000000002              98743
20682706     1     3      25      43             1000000002              98743
20736609     1     3      26      45             1000000002              98805
20736610     1     3      26      45             1000000002              98805
20762525     1     3      27      15             1000000002              98835
25845205     1     4      54      23             1000000002             104063
25889581     1     4      55       5             1000000002             104105
25941522     1     4      55      56             1000000002             104156
29072079     1     5      53      25             1000000002             107605
32376994     1     7       0      51             1000000002             111651
39010629     1     9      19      34             1000000002             119974
39264026     1     9      24      35             1000000002             120275
39291385     1     9      25       9             1000000002             120309
53575866     1    13      58       3             1000000002             136683
53662264     1    13      59      36             1000000002             136776
53739600     1    14       0      47             1000000002             136847
133307406    3     0      25      33             1000000002             260733
141606162    3     3       4      37             1000000002             270277
145835579    3     4      17      42             1000000002             274662
145836924    3     4      17      43             1000000002             274663
148724150    3     4      59      44             1000000002             277184
149328581    3     5       9       1             1000000002             277741
149331272    3     5       9       4             1000000002             277744
196966073    4    10      55       5             1000000002             384905
198286493    4    13      20      37             1000000002             393637
198325477    4    13      21      21             1000000002             393681

[203694359 rows x 6 columns]

In [15]:
df["click_time_shift"] = df["click_time_second"].shift()

In [16]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_shift
121638,0,16,2,13,26,57733,NaN
1787841,0,16,43,25,26,60205,57733.0
9261562,0,23,58,58,26,86338,60205.0
11126756,1,0,30,26,26,88226,86338.0
13377758,1,1,7,58,26,90478,88226.0
13841862,1,1,16,21,26,90981,90478.0
13860275,1,1,16,40,26,91000,90981.0
42169678,1,10,21,31,26,123691,91000.0
51061818,1,13,11,33,26,133893,123691.0
52111160,1,13,31,21,26,135081,133893.0
52116460,1,13,31,27,26,135087,135081.0
104238626,2,10,54,50,51,212090,135087.0
192982212,4,9,37,51,73,380271,212090.0
4090216,0,18,38,47,106,67127,380271.0
59155316,1,15,47,38,217,143258,67127.0
5530004,0,21,40,20,313,78020,143258.0
5640257,0,21,52,14,313,78734,78020.0
5680222,0,21,55,51,313,78951,78734.0
20480488,1,3,21,51,313,98511,78951.0
20489063,1,3,22,1,313,98521,98511.0
20637974,1,3,24,51,313,98691,98521.0
20644768,1,3,24,59,313,98699,98691.0
20651776,1,3,25,7,313,98707,98699.0
20664792,1,3,25,22,313,98722,98707.0
28116575,1,5,35,6,313,106506,98722.0
28135266,1,5,35,27,313,106527,106506.0
28170482,1,5,36,7,313,106567,106527.0
28223347,1,5,37,7,313,106627,106567.0
37963283,1,8,58,10,313,118690,106627.0
39012412,1,9,19,36,313,119976,118690.0
...,...,...,...,...,...,...,...
14926703,1,1,35,53,1000000002,92153,91141.0
16306051,1,2,1,29,1000000002,93689,92153.0
20657049,1,3,25,14,1000000002,98714,93689.0
20657139,1,3,25,14,1000000002,98714,98714.0
20682684,1,3,25,43,1000000002,98743,98714.0
20682706,1,3,25,43,1000000002,98743,98743.0
20736609,1,3,26,45,1000000002,98805,98743.0
20736610,1,3,26,45,1000000002,98805,98805.0
20762525,1,3,27,15,1000000002,98835,98805.0
25845205,1,4,54,23,1000000002,104063,98835.0
25889581,1,4,55,5,1000000002,104105,104063.0
25941522,1,4,55,56,1000000002,104156,104105.0
29072079,1,5,53,25,1000000002,107605,104156.0
32376994,1,7,0,51,1000000002,111651,107605.0
39010629,1,9,19,34,1000000002,119974,111651.0
39264026,1,9,24,35,1000000002,120275,119974.0
39291385,1,9,25,9,1000000002,120309,120275.0
53575866,1,13,58,3,1000000002,136683,120309.0
53662264,1,13,59,36,1000000002,136776,136683.0
53739600,1,14,0,47,1000000002,136847,136776.0
133307406,3,0,25,33,1000000002,260733,136847.0
141606162,3,3,4,37,1000000002,270277,260733.0
145835579,3,4,17,42,1000000002,274662,270277.0
145836924,3,4,17,43,1000000002,274663,274662.0
148724150,3,4,59,44,1000000002,277184,274663.0
149328581,3,5,9,1,1000000002,277741,277184.0
149331272,3,5,9,4,1000000002,277744,277741.0
196966073,4,10,55,5,1000000002,384905,277744.0
198286493,4,13,20,37,1000000002,393637,384905.0
198325477,4,13,21,21,1000000002,393681,393637.0

In [17]:
df["click_time_interval_ip_device_os_app_hash"] = df["click_time_second"] - df["click_time_shift"]

In [19]:
df["ip_os_device_app_hash_shift"] = df["ip_os_device_app_hash"].shift()

In [22]:
%%time
df["click_time_interval_ip_device_os_app_hash"].where(df["ip_os_device_app_hash"]==df["ip_os_device_app_hash_shift"], np.nan, inplace=True)

CPU times: user 2.03 s, sys: 508 ms, total: 2.54 s
Wall time: 2.54 s

In [23]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_shift,click_time_interval_ip_device_os_app_hash,ip_os_device_app_hash_shift
121638,0,16,2,13,26,57733,NaN,NaN,NaN
1787841,0,16,43,25,26,60205,57733.0,2472.0,2.600000e+01
9261562,0,23,58,58,26,86338,60205.0,26133.0,2.600000e+01
11126756,1,0,30,26,26,88226,86338.0,1888.0,2.600000e+01
13377758,1,1,7,58,26,90478,88226.0,2252.0,2.600000e+01
13841862,1,1,16,21,26,90981,90478.0,503.0,2.600000e+01
13860275,1,1,16,40,26,91000,90981.0,19.0,2.600000e+01
42169678,1,10,21,31,26,123691,91000.0,32691.0,2.600000e+01
51061818,1,13,11,33,26,133893,123691.0,10202.0,2.600000e+01
52111160,1,13,31,21,26,135081,133893.0,1188.0,2.600000e+01
52116460,1,13,31,27,26,135087,135081.0,6.0,2.600000e+01
104238626,2,10,54,50,51,212090,135087.0,NaN,2.600000e+01
192982212,4,9,37,51,73,380271,212090.0,NaN,5.100000e+01
4090216,0,18,38,47,106,67127,380271.0,NaN,7.300000e+01
59155316,1,15,47,38,217,143258,67127.0,NaN,1.060000e+02
5530004,0,21,40,20,313,78020,143258.0,NaN,2.170000e+02
5640257,0,21,52,14,313,78734,78020.0,714.0,3.130000e+02
5680222,0,21,55,51,313,78951,78734.0,217.0,3.130000e+02
20480488,1,3,21,51,313,98511,78951.0,19560.0,3.130000e+02
20489063,1,3,22,1,313,98521,98511.0,10.0,3.130000e+02
20637974,1,3,24,51,313,98691,98521.0,170.0,3.130000e+02
20644768,1,3,24,59,313,98699,98691.0,8.0,3.130000e+02
20651776,1,3,25,7,313,98707,98699.0,8.0,3.130000e+02
20664792,1,3,25,22,313,98722,98707.0,15.0,3.130000e+02
28116575,1,5,35,6,313,106506,98722.0,7784.0,3.130000e+02
28135266,1,5,35,27,313,106527,106506.0,21.0,3.130000e+02
28170482,1,5,36,7,313,106567,106527.0,40.0,3.130000e+02
28223347,1,5,37,7,313,106627,106567.0,60.0,3.130000e+02
37963283,1,8,58,10,313,118690,106627.0,12063.0,3.130000e+02
39012412,1,9,19,36,313,119976,118690.0,1286.0,3.130000e+02
...,...,...,...,...,...,...,...,...,...
14926703,1,1,35,53,1000000002,92153,91141.0,1012.0,1.000000e+09
16306051,1,2,1,29,1000000002,93689,92153.0,1536.0,1.000000e+09
20657049,1,3,25,14,1000000002,98714,93689.0,5025.0,1.000000e+09
20657139,1,3,25,14,1000000002,98714,98714.0,0.0,1.000000e+09
20682684,1,3,25,43,1000000002,98743,98714.0,29.0,1.000000e+09
20682706,1,3,25,43,1000000002,98743,98743.0,0.0,1.000000e+09
20736609,1,3,26,45,1000000002,98805,98743.0,62.0,1.000000e+09
20736610,1,3,26,45,1000000002,98805,98805.0,0.0,1.000000e+09
20762525,1,3,27,15,1000000002,98835,98805.0,30.0,1.000000e+09
25845205,1,4,54,23,1000000002,104063,98835.0,5228.0,1.000000e+09
25889581,1,4,55,5,1000000002,104105,104063.0,42.0,1.000000e+09
25941522,1,4,55,56,1000000002,104156,104105.0,51.0,1.000000e+09
29072079,1,5,53,25,1000000002,107605,104156.0,3449.0,1.000000e+09
32376994,1,7,0,51,1000000002,111651,107605.0,4046.0,1.000000e+09
39010629,1,9,19,34,1000000002,119974,111651.0,8323.0,1.000000e+09
39264026,1,9,24,35,1000000002,120275,119974.0,301.0,1.000000e+09
39291385,1,9,25,9,1000000002,120309,120275.0,34.0,1.000000e+09
53575866,1,13,58,3,1000000002,136683,120309.0,16374.0,1.000000e+09
53662264,1,13,59,36,1000000002,136776,136683.0,93.0,1.000000e+09
53739600,1,14,0,47,1000000002,136847,136776.0,71.0,1.000000e+09
133307406,3,0,25,33,1000000002,260733,136847.0,123886.0,1.000000e+09
141606162,3,3,4,37,1000000002,270277,260733.0,9544.0,1.000000e+09
145835579,3,4,17,42,1000000002,274662,270277.0,4385.0,1.000000e+09
145836924,3,4,17,43,1000000002,274663,274662.0,1.0,1.000000e+09
148724150,3,4,59,44,1000000002,277184,274663.0,2521.0,1.000000e+09
149328581,3,5,9,1,1000000002,277741,277184.0,557.0,1.000000e+09
149331272,3,5,9,4,1000000002,277744,277741.0,3.0,1.000000e+09
196966073,4,10,55,5,1000000002,384905,277744.0,107161.0,1.000000e+09
198286493,4,13,20,37,1000000002,393637,384905.0,8732.0,1.000000e+09
198325477,4,13,21,21,1000000002,393681,393637.0,44.0,1.000000e+09

In [25]:
df["first_click_interval_ip_device_os_app_hash"] = df["click_time_interval_ip_device_os_app_hash"].isnull()

In [27]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_shift,click_time_interval_ip_device_os_app_hash,ip_os_device_app_hash_shift,first_click_interval_ip_device_os_app_hash
121638,0,16,2,13,26,57733,NaN,NaN,NaN,True
1787841,0,16,43,25,26,60205,57733.0,2472.0,2.600000e+01,False
9261562,0,23,58,58,26,86338,60205.0,26133.0,2.600000e+01,False
11126756,1,0,30,26,26,88226,86338.0,1888.0,2.600000e+01,False
13377758,1,1,7,58,26,90478,88226.0,2252.0,2.600000e+01,False
13841862,1,1,16,21,26,90981,90478.0,503.0,2.600000e+01,False
13860275,1,1,16,40,26,91000,90981.0,19.0,2.600000e+01,False
42169678,1,10,21,31,26,123691,91000.0,32691.0,2.600000e+01,False
51061818,1,13,11,33,26,133893,123691.0,10202.0,2.600000e+01,False
52111160,1,13,31,21,26,135081,133893.0,1188.0,2.600000e+01,False
52116460,1,13,31,27,26,135087,135081.0,6.0,2.600000e+01,False
104238626,2,10,54,50,51,212090,135087.0,NaN,2.600000e+01,True
192982212,4,9,37,51,73,380271,212090.0,NaN,5.100000e+01,True
4090216,0,18,38,47,106,67127,380271.0,NaN,7.300000e+01,True
59155316,1,15,47,38,217,143258,67127.0,NaN,1.060000e+02,True
5530004,0,21,40,20,313,78020,143258.0,NaN,2.170000e+02,True
5640257,0,21,52,14,313,78734,78020.0,714.0,3.130000e+02,False
5680222,0,21,55,51,313,78951,78734.0,217.0,3.130000e+02,False
20480488,1,3,21,51,313,98511,78951.0,19560.0,3.130000e+02,False
20489063,1,3,22,1,313,98521,98511.0,10.0,3.130000e+02,False
20637974,1,3,24,51,313,98691,98521.0,170.0,3.130000e+02,False
20644768,1,3,24,59,313,98699,98691.0,8.0,3.130000e+02,False
20651776,1,3,25,7,313,98707,98699.0,8.0,3.130000e+02,False
20664792,1,3,25,22,313,98722,98707.0,15.0,3.130000e+02,False
28116575,1,5,35,6,313,106506,98722.0,7784.0,3.130000e+02,False
28135266,1,5,35,27,313,106527,106506.0,21.0,3.130000e+02,False
28170482,1,5,36,7,313,106567,106527.0,40.0,3.130000e+02,False
28223347,1,5,37,7,313,106627,106567.0,60.0,3.130000e+02,False
37963283,1,8,58,10,313,118690,106627.0,12063.0,3.130000e+02,False
39012412,1,9,19,36,313,119976,118690.0,1286.0,3.130000e+02,False
...,...,...,...,...,...,...,...,...,...,...
14926703,1,1,35,53,1000000002,92153,91141.0,1012.0,1.000000e+09,False
16306051,1,2,1,29,1000000002,93689,92153.0,1536.0,1.000000e+09,False
20657049,1,3,25,14,1000000002,98714,93689.0,5025.0,1.000000e+09,False
20657139,1,3,25,14,1000000002,98714,98714.0,0.0,1.000000e+09,False
20682684,1,3,25,43,1000000002,98743,98714.0,29.0,1.000000e+09,False
20682706,1,3,25,43,1000000002,98743,98743.0,0.0,1.000000e+09,False
20736609,1,3,26,45,1000000002,98805,98743.0,62.0,1.000000e+09,False
20736610,1,3,26,45,1000000002,98805,98805.0,0.0,1.000000e+09,False
20762525,1,3,27,15,1000000002,98835,98805.0,30.0,1.000000e+09,False
25845205,1,4,54,23,1000000002,104063,98835.0,5228.0,1.000000e+09,False
25889581,1,4,55,5,1000000002,104105,104063.0,42.0,1.000000e+09,False
25941522,1,4,55,56,1000000002,104156,104105.0,51.0,1.000000e+09,False
29072079,1,5,53,25,1000000002,107605,104156.0,3449.0,1.000000e+09,False
32376994,1,7,0,51,1000000002,111651,107605.0,4046.0,1.000000e+09,False
39010629,1,9,19,34,1000000002,119974,111651.0,8323.0,1.000000e+09,False
39264026,1,9,24,35,1000000002,120275,119974.0,301.0,1.000000e+09,False
39291385,1,9,25,9,1000000002,120309,120275.0,34.0,1.000000e+09,False
53575866,1,13,58,3,1000000002,136683,120309.0,16374.0,1.000000e+09,False
53662264,1,13,59,36,1000000002,136776,136683.0,93.0,1.000000e+09,False
53739600,1,14,0,47,1000000002,136847,136776.0,71.0,1.000000e+09,False
133307406,3,0,25,33,1000000002,260733,136847.0,123886.0,1.000000e+09,False
141606162,3,3,4,37,1000000002,270277,260733.0,9544.0,1.000000e+09,False
145835579,3,4,17,42,1000000002,274662,270277.0,4385.0,1.000000e+09,False
145836924,3,4,17,43,1000000002,274663,274662.0,1.0,1.000000e+09,False
148724150,3,4,59,44,1000000002,277184,274663.0,2521.0,1.000000e+09,False
149328581,3,5,9,1,1000000002,277741,277184.0,557.0,1.000000e+09,False
149331272,3,5,9,4,1000000002,277744,277741.0,3.0,1.000000e+09,False
196966073,4,10,55,5,1000000002,384905,277744.0,107161.0,1.000000e+09,False
198286493,4,13,20,37,1000000002,393637,384905.0,8732.0,1.000000e+09,False
198325477,4,13,21,21,1000000002,393681,393637.0,44.0,1.000000e+09,False

In [28]:
df.drop(columns=["ip_os_device_app_hash_shift", "click_time_shift"], inplace=True)

In [29]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_interval_ip_device_os_app_hash,first_click_interval_ip_device_os_app_hash
121638,0,16,2,13,26,57733,NaN,True
1787841,0,16,43,25,26,60205,2472.0,False
9261562,0,23,58,58,26,86338,26133.0,False
11126756,1,0,30,26,26,88226,1888.0,False
13377758,1,1,7,58,26,90478,2252.0,False
13841862,1,1,16,21,26,90981,503.0,False
13860275,1,1,16,40,26,91000,19.0,False
42169678,1,10,21,31,26,123691,32691.0,False
51061818,1,13,11,33,26,133893,10202.0,False
52111160,1,13,31,21,26,135081,1188.0,False
52116460,1,13,31,27,26,135087,6.0,False
104238626,2,10,54,50,51,212090,NaN,True
192982212,4,9,37,51,73,380271,NaN,True
4090216,0,18,38,47,106,67127,NaN,True
59155316,1,15,47,38,217,143258,NaN,True
5530004,0,21,40,20,313,78020,NaN,True
5640257,0,21,52,14,313,78734,714.0,False
5680222,0,21,55,51,313,78951,217.0,False
20480488,1,3,21,51,313,98511,19560.0,False
20489063,1,3,22,1,313,98521,10.0,False
20637974,1,3,24,51,313,98691,170.0,False
20644768,1,3,24,59,313,98699,8.0,False
20651776,1,3,25,7,313,98707,8.0,False
20664792,1,3,25,22,313,98722,15.0,False
28116575,1,5,35,6,313,106506,7784.0,False
28135266,1,5,35,27,313,106527,21.0,False
28170482,1,5,36,7,313,106567,40.0,False
28223347,1,5,37,7,313,106627,60.0,False
37963283,1,8,58,10,313,118690,12063.0,False
39012412,1,9,19,36,313,119976,1286.0,False
...,...,...,...,...,...,...,...,...
14926703,1,1,35,53,1000000002,92153,1012.0,False
16306051,1,2,1,29,1000000002,93689,1536.0,False
20657049,1,3,25,14,1000000002,98714,5025.0,False
20657139,1,3,25,14,1000000002,98714,0.0,False
20682684,1,3,25,43,1000000002,98743,29.0,False
20682706,1,3,25,43,1000000002,98743,0.0,False
20736609,1,3,26,45,1000000002,98805,62.0,False
20736610,1,3,26,45,1000000002,98805,0.0,False
20762525,1,3,27,15,1000000002,98835,30.0,False
25845205,1,4,54,23,1000000002,104063,5228.0,False
25889581,1,4,55,5,1000000002,104105,42.0,False
25941522,1,4,55,56,1000000002,104156,51.0,False
29072079,1,5,53,25,1000000002,107605,3449.0,False
32376994,1,7,0,51,1000000002,111651,4046.0,False
39010629,1,9,19,34,1000000002,119974,8323.0,False
39264026,1,9,24,35,1000000002,120275,301.0,False
39291385,1,9,25,9,1000000002,120309,34.0,False
53575866,1,13,58,3,1000000002,136683,16374.0,False
53662264,1,13,59,36,1000000002,136776,93.0,False
53739600,1,14,0,47,1000000002,136847,71.0,False
133307406,3,0,25,33,1000000002,260733,123886.0,False
141606162,3,3,4,37,1000000002,270277,9544.0,False
145835579,3,4,17,42,1000000002,274662,4385.0,False
145836924,3,4,17,43,1000000002,274663,1.0,False
148724150,3,4,59,44,1000000002,277184,2521.0,False
149328581,3,5,9,1,1000000002,277741,557.0,False
149331272,3,5,9,4,1000000002,277744,3.0,False
196966073,4,10,55,5,1000000002,384905,107161.0,False
198286493,4,13,20,37,1000000002,393637,8732.0,False
198325477,4,13,21,21,1000000002,393681,44.0,False

In [30]:
df["click_time_interval_ip_device_os_app_hash"].max()

341856.0

In [31]:
df["click_time_interval_ip_device_os_app_hash"].fillna(1e9+7, inplace=True)

In [34]:
df["click_time_interval_ip_device_os_app_hash"] = df["click_time_interval_ip_device_os_app_hash"].astype("uint32")

In [36]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_interval_ip_device_os_app_hash,first_click_interval_ip_device_os_app_hash
121638,0,16,2,13,26,57733,1000000007,True
1787841,0,16,43,25,26,60205,2472,False
9261562,0,23,58,58,26,86338,26133,False
11126756,1,0,30,26,26,88226,1888,False
13377758,1,1,7,58,26,90478,2252,False
13841862,1,1,16,21,26,90981,503,False
13860275,1,1,16,40,26,91000,19,False
42169678,1,10,21,31,26,123691,32691,False
51061818,1,13,11,33,26,133893,10202,False
52111160,1,13,31,21,26,135081,1188,False
52116460,1,13,31,27,26,135087,6,False
104238626,2,10,54,50,51,212090,1000000007,True
192982212,4,9,37,51,73,380271,1000000007,True
4090216,0,18,38,47,106,67127,1000000007,True
59155316,1,15,47,38,217,143258,1000000007,True
5530004,0,21,40,20,313,78020,1000000007,True
5640257,0,21,52,14,313,78734,714,False
5680222,0,21,55,51,313,78951,217,False
20480488,1,3,21,51,313,98511,19560,False
20489063,1,3,22,1,313,98521,10,False
20637974,1,3,24,51,313,98691,170,False
20644768,1,3,24,59,313,98699,8,False
20651776,1,3,25,7,313,98707,8,False
20664792,1,3,25,22,313,98722,15,False
28116575,1,5,35,6,313,106506,7784,False
28135266,1,5,35,27,313,106527,21,False
28170482,1,5,36,7,313,106567,40,False
28223347,1,5,37,7,313,106627,60,False
37963283,1,8,58,10,313,118690,12063,False
39012412,1,9,19,36,313,119976,1286,False
...,...,...,...,...,...,...,...,...
14926703,1,1,35,53,1000000002,92153,1012,False
16306051,1,2,1,29,1000000002,93689,1536,False
20657049,1,3,25,14,1000000002,98714,5025,False
20657139,1,3,25,14,1000000002,98714,0,False
20682684,1,3,25,43,1000000002,98743,29,False
20682706,1,3,25,43,1000000002,98743,0,False
20736609,1,3,26,45,1000000002,98805,62,False
20736610,1,3,26,45,1000000002,98805,0,False
20762525,1,3,27,15,1000000002,98835,30,False
25845205,1,4,54,23,1000000002,104063,5228,False
25889581,1,4,55,5,1000000002,104105,42,False
25941522,1,4,55,56,1000000002,104156,51,False
29072079,1,5,53,25,1000000002,107605,3449,False
32376994,1,7,0,51,1000000002,111651,4046,False
39010629,1,9,19,34,1000000002,119974,8323,False
39264026,1,9,24,35,1000000002,120275,301,False
39291385,1,9,25,9,1000000002,120309,34,False
53575866,1,13,58,3,1000000002,136683,16374,False
53662264,1,13,59,36,1000000002,136776,93,False
53739600,1,14,0,47,1000000002,136847,71,False
133307406,3,0,25,33,1000000002,260733,123886,False
141606162,3,3,4,37,1000000002,270277,9544,False
145835579,3,4,17,42,1000000002,274662,4385,False
145836924,3,4,17,43,1000000002,274663,1,False
148724150,3,4,59,44,1000000002,277184,2521,False
149328581,3,5,9,1,1000000002,277741,557,False
149331272,3,5,9,4,1000000002,277744,3,False
196966073,4,10,55,5,1000000002,384905,107161,False
198286493,4,13,20,37,1000000002,393637,8732,False
198325477,4,13,21,21,1000000002,393681,44,False

In [37]:
df.sort_index(inplace=True)

In [38]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_interval_ip_device_os_app_hash,first_click_interval_ip_device_os_app_hash
0,0,14,32,21,525163057,52341,1000000007,True
1,0,14,33,34,116105055,52414,1000000007,True
2,0,14,34,12,4835573,52452,1000000007,True
3,0,14,34,52,271103479,52492,1000000007,True
4,0,14,35,8,383355941,52508,1000000007,True
5,0,14,36,26,265346367,52586,1000000007,True
6,0,14,37,44,451576942,52664,1000000007,True
7,0,14,37,59,48712048,52679,1000000007,True
8,0,14,38,10,409149612,52690,1000000007,True
9,0,14,38,23,991191953,52703,1000000007,True
10,0,14,38,27,771660871,52707,1000000007,True
11,0,14,38,51,185415683,52731,1000000007,True
12,0,14,39,29,921233975,52769,1000000007,True
13,0,14,40,16,251490267,52816,1000000007,True
14,0,14,40,39,403016032,52839,1000000007,True
15,0,14,40,51,149463335,52851,1000000007,True
16,0,14,43,10,871983428,52990,1000000007,True
17,0,14,43,14,818518993,52994,1000000007,True
18,0,14,43,25,214027987,53005,1000000007,True
19,0,14,43,51,767386328,53031,1000000007,True
20,0,14,44,2,294024182,53042,1000000007,True
21,0,14,44,15,528954648,53055,1000000007,True
22,0,14,44,51,188313364,53091,1000000007,True
23,0,14,44,51,206774784,53091,1000000007,True
24,0,14,44,52,596430985,53092,1000000007,True
25,0,14,47,49,627609408,53269,1000000007,True
26,0,14,48,7,242949124,53287,1000000007,True
27,0,14,48,55,957598269,53335,1000000007,True
28,0,14,49,36,748072354,53376,1000000007,True
29,0,14,49,38,194437668,53378,1000000007,True
...,...,...,...,...,...,...,...,...
203694329,4,15,0,0,450212829,399600,1000000007,True
203694330,4,15,0,0,193236773,399600,469,False
203694331,4,15,0,0,349793900,399600,3296,False
203694332,4,15,0,0,978197240,399600,382,False
203694333,4,15,0,0,620000798,399600,18981,False
203694334,4,15,0,0,770841743,399600,1000000007,True
203694335,4,15,0,0,391237076,399600,76,False
203694336,4,15,0,0,723530682,399600,1000000007,True
203694337,4,15,0,0,662253097,399600,4074,False
203694338,4,15,0,0,904291942,399600,32,False
203694339,4,15,0,0,542249403,399600,152,False
203694340,4,15,0,0,380681768,399600,1000000007,True
203694341,4,15,0,0,909207776,399600,4026,False
203694342,4,15,0,0,583818058,399600,776,False
203694343,4,15,0,0,902086272,399600,0,False
203694344,4,15,0,0,487913602,399600,36707,False
203694345,4,15,0,0,902086272,399600,0,False
203694346,4,15,0,0,437214649,399600,32,False
203694347,4,15,0,0,991411077,399600,39194,False
203694348,4,15,0,0,780703664,399600,7,False
203694349,4,15,0,0,334148769,399600,5195,False
203694350,4,15,0,0,981970012,399600,0,False
203694351,4,15,0,0,901471979,399600,16506,False
203694352,4,15,0,0,678479268,399600,29,False
203694353,4,15,0,0,888451438,399600,16,False
203694354,4,15,0,0,693835767,399600,1305,False
203694355,4,15,0,0,936126680,399600,36822,False
203694356,4,15,0,0,632956177,399600,0,False
203694357,4,15,0,0,720133744,399600,1000000007,True
203694358,4,15,0,0,656853604,399600,564,False

In [39]:
df[["click_time_interval_ip_device_os_app_hash", "first_click_interval_ip_device_os_app_hash"]].to_hdf("../data/click_time_interval_ip_device_os_app_hash.hdf", "click_time_interval_ip_device_os_app_hash")

# Add first click features

In [1]:
import pandas as pd
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [4]:
df["is_attributed"].fillna(0.0, inplace=True)
df["is_attributed"] = (df["is_attributed"] == 1.0)

In [7]:
df["is_attributed"] = df["is_attributed"].astype("uint8")

In [11]:
df["click_id"].fillna(1e9+7, inplace=True)

In [12]:
df["click_id"] = df["click_id"].astype("uint32")

In [15]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                         uint32
device                                           uint16
ip                                               uint32
is_attributed                                     uint8
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
ip_os_device_app_hash                            uint32
dtype: object

In [16]:
df["click_time_interval_by_ip"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip"] = df["click_time_interval_by_ip"].astype("uint32")
df["click_time_interval_by_ip_os_device"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip_os_device"] = df["click_time_interval_by_ip_os_device"].astype("uint32")
df["click_time_interval_by_ip_os_device_dow"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip_os_device_dow"] = df["click_time_interval_by_ip_os_device_dow"].astype("uint32")
df["click_time_interval_by_ip_os_device_dow_hour"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip_os_device_dow_hour"] = df["click_time_interval_by_ip_os_device_dow_hour"].astype("uint32")

In [18]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                         uint32
device                                           uint16
ip                                               uint32
is_attributed                                     uint8
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                        uint32
click_time_interval_by_ip_os_device              uint32
click_time_interval_by_ip_os_device_dow          uint32
click_time_interval_by_ip_os_device_dow_hour     uint32
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
ip_os_device_app_hash                            uint32
dtype: object

In [19]:
df["first_click_by_ip"] = df["click_time_interval_by_ip"]==1e9+7
df["first_click_by_ip_os_device"] = df["click_time_interval_by_ip_os_device"]==1e9+7
df["first_click_by_ip_os_device_dow"] = df["click_time_interval_by_ip_os_device_dow"]==1e9+7
df["first_click_by_ip_os_device_dow_hour"] = df["click_time_interval_by_ip_os_device_dow_hour"]==1e9+7

In [21]:
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

# Add categorical features

In [1]:
import pandas as pd

In [2]:
%%time
df = pd.read_feather("../data/basic_table")

CPU times: user 892 ms, sys: 768 ms, total: 1.66 s
Wall time: 1.66 s

In [5]:
%%time
df["ip_str"] = df["ip"].astype(str)

CPU times: user 3min 49s, sys: 10.1 s, total: 3min 59s
Wall time: 3min 58s

In [6]:
%%time
df["os_str"] = df["os"].astype(str)

CPU times: user 3min 40s, sys: 14.2 s, total: 3min 55s
Wall time: 3min 53s

In [7]:
%%time
df["device_str"] = df["device"].astype(str)

CPU times: user 3min 39s, sys: 11.8 s, total: 3min 51s
Wall time: 3min 49s

In [8]:
%%time
df["app_str"] = df["app"].astype(str)

CPU times: user 3min 42s, sys: 12.1 s, total: 3min 55s
Wall time: 3min 53s

In [9]:
df.dtypes

app              uint16
channel          uint16
click_id         uint32
device           uint16
ip               uint32
is_attributed     uint8
os               uint16
ip_str           object
os_str           object
device_str       object
app_str          object
dtype: object

In [10]:
%%time
df["channel_str"] = df["channel"].astype(str)

CPU times: user 3min 44s, sys: 15.5 s, total: 3min 59s
Wall time: 3min 58s

In [11]:
df["ip_os_device_str"] = df["ip_str"]+" "+df["os_str"]+" "+df["device_str"]

In [12]:
%%time
df["ip_os_device_app_str"] = (df["ip_str"]+" "
                              +df["os_str"]+" "
                              +df["device_str"]+" "
                              +df["app_str"])

CPU times: user 1min 46s, sys: 1min 40s, total: 3min 27s
Wall time: 3min 26s

In [13]:
df.dtypes

app                     uint16
channel                 uint16
click_id                uint32
device                  uint16
ip                      uint32
is_attributed            uint8
os                      uint16
ip_str                  object
os_str                  object
device_str              object
app_str                 object
channel_str             object
ip_os_device_str        object
ip_os_device_app_str    object
dtype: object

In [14]:
%%time
df["ip_os_device_categorical"] = pd.Categorical(df["ip_os_device_str"]).codes

CPU times: user 1min 1s, sys: 19 s, total: 1min 20s
Wall time: 1min 20s

In [15]:
%%time
df["ip_os_device_app_categorical"] = pd.Categorical(df["ip_os_device_app_str"]).codes

CPU times: user 3min 29s, sys: 52 s, total: 4min 21s
Wall time: 4min 21s

In [16]:
%%time
df["app_channel_str"] = df["app_str"]+" "+df["channel_str"]

CPU times: user 31.6 s, sys: 18.9 s, total: 50.4 s
Wall time: 50.1 s

In [17]:
df.dtypes

app                             uint16
channel                         uint16
click_id                        uint32
device                          uint16
ip                              uint32
is_attributed                    uint8
os                              uint16
ip_str                          object
os_str                          object
device_str                      object
app_str                         object
channel_str                     object
ip_os_device_str                object
ip_os_device_app_str            object
ip_os_device_categorical         int32
ip_os_device_app_categorical     int32
app_channel_str                 object
dtype: object

In [18]:
%%time
df["app_channel_categorical"] = pd.Categorical(df["app_channel_str"]).codes

CPU times: user 12.1 s, sys: 2.61 s, total: 14.7 s
Wall time: 14.7 s

In [19]:
df.dtypes

app                             uint16
channel                         uint16
click_id                        uint32
device                          uint16
ip                              uint32
is_attributed                    uint8
os                              uint16
ip_str                          object
os_str                          object
device_str                      object
app_str                         object
channel_str                     object
ip_os_device_str                object
ip_os_device_app_str            object
ip_os_device_categorical         int32
ip_os_device_app_categorical     int32
app_channel_str                 object
app_channel_categorical          int16
dtype: object

In [20]:
%%time
df["ip_os_channel_str"] = (df["ip_str"]+" "
                              +df["os_str"]+" "
                              +df["channel_str"])

CPU times: user 1min 4s, sys: 49.6 s, total: 1min 54s
Wall time: 1min 53s

In [21]:
%%time
df["ip_os_device_channel_str"] = (df["ip_str"]+" "
                              +df["os_str"]+" "
                              +df["device_str"]+" "
                              +df["channel_str"])

CPU times: user 1min 43s, sys: 1min 39s, total: 3min 23s
Wall time: 3min 22s

In [22]:
df.dtypes

app                             uint16
channel                         uint16
click_id                        uint32
device                          uint16
ip                              uint32
is_attributed                    uint8
os                              uint16
ip_str                          object
os_str                          object
device_str                      object
app_str                         object
channel_str                     object
ip_os_device_str                object
ip_os_device_app_str            object
ip_os_device_categorical         int32
ip_os_device_app_categorical     int32
app_channel_str                 object
app_channel_categorical          int16
ip_os_channel_str               object
ip_os_device_channel_str        object
dtype: object

In [23]:
%%time
df["ip_os_channel_categorical"] = pd.Categorical(df["ip_os_channel_str"]).codes

CPU times: user 5min 39s, sys: 2min 12s, total: 7min 52s
Wall time: 7min 51s

In [24]:
%%time
df["ip_os_device_channel_categorical"] = pd.Categorical(df["ip_os_device_channel_str"]).codes

CPU times: user 5min 56s, sys: 2min 20s, total: 8min 16s
Wall time: 8min 16s

In [25]:
df.dtypes

app                                 uint16
channel                             uint16
click_id                            uint32
device                              uint16
ip                                  uint32
is_attributed                        uint8
os                                  uint16
ip_str                              object
os_str                              object
device_str                          object
app_str                             object
channel_str                         object
ip_os_device_str                    object
ip_os_device_app_str                object
ip_os_device_categorical             int32
ip_os_device_app_categorical         int32
app_channel_str                     object
app_channel_categorical              int16
ip_os_channel_str                   object
ip_os_device_channel_str            object
ip_os_channel_categorical            int32
ip_os_device_channel_categorical     int32
dtype: object

In [27]:
df.drop(columns=["ip_os_device_str", "ip_os_device_app_str", "app_channel_str", "ip_os_channel_str", "ip_os_device_channel_str"], inplace=True)

In [28]:
df.dtypes

app                                 uint16
channel                             uint16
click_id                            uint32
device                              uint16
ip                                  uint32
is_attributed                        uint8
os                                  uint16
ip_str                              object
os_str                              object
device_str                          object
app_str                             object
channel_str                         object
ip_os_device_categorical             int32
ip_os_device_app_categorical         int32
app_channel_categorical              int16
ip_os_channel_categorical            int32
ip_os_device_channel_categorical     int32
dtype: object

In [30]:
import gc
gc.collect()

3196

In [32]:
df.dtypes

app                                 uint16
channel                             uint16
click_id                            uint32
device                              uint16
ip                                  uint32
is_attributed                        uint8
os                                  uint16
ip_str                              object
os_str                              object
device_str                          object
app_str                             object
channel_str                         object
ip_os_device_categorical             int32
ip_os_device_app_categorical         int32
app_channel_categorical              int16
ip_os_channel_categorical            int32
ip_os_device_channel_categorical     int32
dtype: object

In [33]:
%%time
df.sort_index(axis=1, inplace=True)

CPU times: user 23.8 s, sys: 28.1 s, total: 51.9 s
Wall time: 51.8 s

In [34]:
df

,app,app_channel_categorical,app_str,channel,channel_str,click_id,device,device_str,ip,ip_os_channel_categorical,ip_os_device_app_categorical,ip_os_device_categorical,ip_os_device_channel_categorical,ip_str,is_attributed,os,os_str
0,3,687,3,379,379,1000000007,1,1,83230,39340234,22588778,3373482,40610265,83230,0,13,13
1,3,687,3,379,379,1000000007,1,1,17357,12816010,7242710,1016835,13248517,17357,0,19,19
2,3,687,3,379,379,1000000007,1,1,35810,26183596,15428639,2469885,26905865,35810,0,13,13
3,14,219,14,478,478,1000000007,1,1,45745,29128018,17047141,2682681,29977839,45745,0,13,13
4,3,687,3,379,379,1000000007,1,1,161007,11347548,6370507,877172,11747871,161007,0,13,13
5,3,687,3,379,379,1000000007,1,1,18787,14589942,8287118,1181562,15053805,18787,0,16,16
6,3,687,3,379,379,1000000007,1,1,103022,858515,471631,57800,903597,103022,0,23,23
7,3,687,3,379,379,1000000007,1,1,114221,4007349,2172576,268351,4175485,114221,0,19,19
8,3,687,3,379,379,1000000007,1,1,165970,11915489,6712127,932732,12329302,165970,0,13,13
9,64,1191,64,459,459,1000000007,1,1,74544,36909068,21268889,3210709,38073857,74544,0,22,22
10,3,687,3,379,379,1000000007,1,1,172522,12676520,7162401,1004585,13105711,172522,0,25,25
11,3,687,3,379,379,1000000007,1,1,105861,1686945,920611,112832,1770793,105861,0,13,13
12,3,687,3,379,379,1000000007,1,1,210962,17391627,9961473,1449838,17920898,210962,0,19,19
13,3,687,3,379,379,1000000007,1,1,124979,6885955,3736164,463586,7184380,124979,0,18,18
14,3,687,3,379,379,1000000007,1,1,38816,27174290,15993811,2553549,27935469,38816,0,18,18
15,3,687,3,379,379,1000000007,1,1,80447,38574701,22171605,3322003,39807761,80447,0,19,19
16,3,687,3,379,379,1000000007,1,1,134575,8186835,4498567,580311,8514393,134575,0,13,13
17,3,687,3,379,379,1000000007,1,1,57576,32368554,18816616,2904713,33365063,57576,0,19,19
18,3,687,3,379,379,1000000007,1,1,7755,37757375,21726714,3267066,38956898,7755,0,13,13
19,3,687,3,379,379,1000000007,1,1,91749,41589327,23799890,3523127,42937880,91749,0,19,19
20,3,687,3,379,379,1000000007,1,1,50694,30600837,17848680,2782005,31519969,50694,0,18,18
21,3,687,3,379,379,1000000007,1,1,111385,3285966,1780881,218328,3433933,111385,0,18,18
22,14,219,14,478,478,1000000007,1,1,125222,6950497,3769728,467534,7251886,125222,0,3,3
23,3,687,3,379,379,1000000007,1,1,191759,15095914,8585350,1228449,15570701,191759,0,13,13
24,3,687,3,379,379,1000000007,1,1,53418,31260362,18211261,2828512,32207679,53418,0,17,17
25,3,687,3,379,379,1000000007,1,1,183168,14008705,7944457,1127469,14461954,183168,0,19,19
26,3,687,3,379,379,1000000007,1,1,47902,29701607,17360909,2722743,30572590,47902,0,17,17
27,3,687,3,379,379,1000000007,1,1,209663,17233227,9867310,1434717,17759309,209663,0,13,13
28,3,687,3,379,379,1000000007,1,1,129614,7599072,4146098,524029,7913214,129614,0,20,20
29,3,687,3,379,379,1000000007,1,1,208347,17079576,9776035,1420008,17602481,208347,0,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203694329,27,595,27,153,153,18790438,1,1,51432,30769092,17941169,2794407,31691239,51432,0,13,13
203694330,14,206,14,401,401,18790440,1,1,14334,9227542,5118060,679279,9581018,14334,0,19,19
203694331,9,1413,9,334,334,18790441,1,1,16749,12095730,6818605,949302,12513593,16749,0,13,13
203694332,23,517,23,153,153,18790442,1,1,17814,13388789,7579578,1070096,13830431,17814,0,13,13
203694333,21,479,21,232,232,18790443,1,1,8825,40699029,23318386,3463315,42016339,8825,0,13,13
203694334,8,1363,8,259,259,18790444,2,2,115536,4353500,2362408,292449,4541857,115536,0,13,13
203694335,2,420,2,205,205,18790445,1,1,121472,5995341,3251688,402718,6253640,121472,0,19,19
203694336,12,127,12,242,242,18790446,1,1,38000,26962723,15881485,2539870,27717984,38000,0,12,12
203694337,1,7,1,125,125,18790447,1,1,66176,34526676,19978936,3050080,35596830,66176,0,19,19
203694338,2,420,2,205,205,18790448,1,1,25553,20354347,11801851,1787348,20946106,25553,0,22,22
203694339,21,477,21,128,128,18790449,2,2,119531,5433298,2951770,365965,5674795,119531,0,19,19
203694340,13,170,13,469,469,18790450,1,1,14062,8899057,4925610,649044,9246242,14062,0,53,53
203694341,14,211,14,442,442,18790451,1,1,48536,29943820,17491708,2738236,30829115,48536,0,19,19
203694342,1,7,1,125,125,18790452,1,1,93291,42010268,24029500,3551444,43379595,93291,0,19,19
203694343,9,1406,9,258,258,18790453,1,1,93291,42010301,24029536,3551444,43379628,93291,0,19,19
203694344,1,7,1,125,125,18790455,1,1,55874,31929189,18576013,2874264,32910125,55874,0,22,22
203694345,9,1396,9,145,145,18790454,1,1,93291,42010277,24029536,3551444,43379604,93291,0,19,19
203694346,8,1363,8,259,259,18790456,1,1,100697,240998,126379,14432,252444,100697,0,18,18
203694347,20,444,20,259,259,18790457,1,1,93291,42010302,24029513,3551444,43379629,93291,0,19,19
203694348,2,439,2,452,452,18790458,1,1,85329,40024978,22955050,3417582,41321065,85329,0,14,14
203694349,15,247,15,140,140,18790459,1,1,102467,694400,380480,46068,731838,102467,0,17,17
203694350,9,1419,9,445,445,18790460,1,1,80537,38608460,22189791,3324190,39842902,80537,0,19,19
203694351,2,427,2,237,237,18790462,2,2,101214,362536,194683,23299,381786,101214,0,16,16
203694352,17,323,17,128,128,18790461,1,1,113418,3792390,2059435,254945,3955742,113418,0,17,17
203694353,12,115,12,135,135,18790463,1,1,69245,35413771,20465012,3111263,36527913,69245,0,13,13
203694354,9,1392,9,127,127,18790464,1,1,99442,43636842,24900295,3658721,45060313,99442,0,13,13
203694355,23,517,23,153,153,18790465,1,1,88046,40631366,23284308,3459391,41948089,88046,0,37,37
203694356,18,355,18,265,265,18790467,1,1,81398,38812163,22300455,3337876,40054703,81398,0,17,17
203694357,27,594,27,122,122,18790466,1,1,123236,6368596,3458412,430097,6640856,123236,0,13,13
203694358,12,131,12,265,265,18790468,2,2,73516,36657985,21133703,3194126,37814086,73516,0,27,27

In [35]:
df.dtypes

app                                 uint16
app_channel_categorical              int16
app_str                             object
channel                             uint16
channel_str                         object
click_id                            uint32
device                              uint16
device_str                          object
ip                                  uint32
ip_os_channel_categorical            int32
ip_os_device_app_categorical         int32
ip_os_device_categorical             int32
ip_os_device_channel_categorical     int32
ip_str                              object
is_attributed                        uint8
os                                  uint16
os_str                              object
dtype: object

In [36]:
df["os_device_categorical"] = pd.Categorical(df["os_str"]+" "+df["device_str"]).codes

In [37]:
df["os_device_app_categorical"] =pd.Categorical(
                                    df["os_str"]+" "+
                                    df["device_str"]+" "+
                                    df["app_str"]).codes

In [38]:
df.dtypes

app                                 uint16
app_channel_categorical              int16
app_str                             object
channel                             uint16
channel_str                         object
click_id                            uint32
device                              uint16
device_str                          object
ip                                  uint32
ip_os_channel_categorical            int32
ip_os_device_app_categorical         int32
ip_os_device_categorical             int32
ip_os_device_channel_categorical     int32
ip_str                              object
is_attributed                        uint8
os                                  uint16
os_str                              object
os_device_categorical                int16
os_device_app_categorical            int32
dtype: object

columns = ["ip", "os", "device", "app", "channel"]
n = len(columns)

In [3]:
%%time
import pandas as pd
from logzero import logger
df = pd.read_feather("../data/basic_table")

CPU times: user 876 ms, sys: 736 ms, total: 1.61 s
Wall time: 1.61 s

In [4]:
df.dtypes

app              uint16
channel          uint16
click_id         uint32
device           uint16
ip               uint32
is_attributed     uint8
os               uint16
dtype: object

In [5]:
%%time
logger.info("app")
df["app"] = df["app"].astype(str)
logger.info("os")
df["os"] = df["os"].astype(str)
logger.info("device")
df["device"] = df["device"].astype(str)
logger.info("channel")
df["channel"] = df["channel"].astype(str)
logger.info("ip")
df["ip"] = df["ip"].astype(str)

[I 180425 17:11:26 <timed exec>:1] app
[I 180425 17:15:14 <timed exec>:3] os
[I 180425 17:19:01 <timed exec>:5] device
[I 180425 17:22:45 <timed exec>:7] channel
[I 180425 17:26:36 <timed exec>:9] ip

CPU times: user 18min 21s, sys: 50 s, total: 19min 11s
Wall time: 19min 6s

In [6]:
df.dtypes

app              object
channel          object
click_id         uint32
device           object
ip               object
is_attributed     uint8
os               object
dtype: object

In [7]:
columns = ["ip", "os", "device", "app", "channel"]
n = len(columns)

In [8]:
logger.info("started")
for i in range(n):
    for j in range(i+1, n):
        ci=columns[i]
        cj=columns[j]
        feature="{}_{}".format(ci, cj)
        logger.info("{} started".format(feature))
        df[feature] = pd.Categorical(df[ci]+"_"+df[cj]).codes
        logger.info("{} finished".format(feature))

[I 180425 17:30:32 <ipython-input-8-e942d1df4103>:1] started
[I 180425 17:30:32 <ipython-input-8-e942d1df4103>:7] ip_os started
[I 180425 17:32:35 <ipython-input-8-e942d1df4103>:9] ip_os finished
[I 180425 17:32:35 <ipython-input-8-e942d1df4103>:7] ip_device started
[I 180425 17:34:55 <ipython-input-8-e942d1df4103>:9] ip_device finished
[I 180425 17:34:55 <ipython-input-8-e942d1df4103>:7] ip_app started
[I 180425 17:37:32 <ipython-input-8-e942d1df4103>:9] ip_app finished
[I 180425 17:37:32 <ipython-input-8-e942d1df4103>:7] ip_channel started
[I 180425 17:40:41 <ipython-input-8-e942d1df4103>:9] ip_channel finished
[I 180425 17:40:41 <ipython-input-8-e942d1df4103>:7] os_device started
[I 180425 17:43:51 <ipython-input-8-e942d1df4103>:9] os_device finished
[I 180425 17:43:51 <ipython-input-8-e942d1df4103>:7] os_app started
[I 180425 17:47:06 <ipython-input-8-e942d1df4103>:9] os_app finished
[I 180425 17:47:06 <ipython-input-8-e942d1df4103>:7] os_channel started
[I 180425 17:50:25 <ipython-input-8-e942d1df4103>:9] os_channel finished
[I 180425 17:50:25 <ipython-input-8-e942d1df4103>:7] device_app started
[I 180425 17:53:40 <ipython-input-8-e942d1df4103>:9] device_app finished
[I 180425 17:53:40 <ipython-input-8-e942d1df4103>:7] device_channel started
[I 180425 17:57:33 <ipython-input-8-e942d1df4103>:9] device_channel finished
[I 180425 17:57:33 <ipython-input-8-e942d1df4103>:7] app_channel started
[I 180425 17:58:35 <ipython-input-8-e942d1df4103>:9] app_channel finished

In [9]:
df.dtypes

app               object
channel           object
click_id          uint32
device            object
ip                object
is_attributed      uint8
os                object
ip_os              int32
ip_device          int32
ip_app             int32
ip_channel         int32
os_device          int16
os_app             int16
os_channel         int16
device_app         int16
device_channel     int16
app_channel        int16
dtype: object

In [12]:
import gc
gc.collect()

0

In [13]:
twos = ["{}_{}".format(columns[i], columns[j]) for i in range(n) for j in range(i+1, n)]

In [16]:
for two in twos:
    logger.info("{} {}".format(two, df[two].max()))

[I 180425 18:07:43 <ipython-input-16-80b0f64acc4d>:2] ip_os 3260003
[I 180425 18:07:44 <ipython-input-16-80b0f64acc4d>:2] ip_device 795046
[I 180425 18:07:45 <ipython-input-16-80b0f64acc4d>:2] ip_app 4135195
[I 180425 18:07:46 <ipython-input-16-80b0f64acc4d>:2] ip_channel 8419361
[I 180425 18:07:47 <ipython-input-16-80b0f64acc4d>:2] os_device 5897
[I 180425 18:07:48 <ipython-input-16-80b0f64acc4d>:2] os_app 14638
[I 180425 18:07:48 <ipython-input-16-80b0f64acc4d>:2] os_channel 19725
[I 180425 18:07:49 <ipython-input-16-80b0f64acc4d>:2] device_app 13140
[I 180425 18:07:50 <ipython-input-16-80b0f64acc4d>:2] device_channel 11565
[I 180425 18:07:51 <ipython-input-16-80b0f64acc4d>:2] app_channel 1456

In [19]:
df.drop(columns=["click_id", "is_attributed"], inplace=True)

In [20]:
gc.collect()

1960

In [23]:
df["app"] = pd.Categorical(df["app"]).codes
logger.info("app")
df["os"] = pd.Categorical(df["os"]).codes
logger.info("os")
df["device"] = pd.Categorical(df["device"]).codes
logger.info("device")
df["channel"] = pd.Categorical(df["channel"]).codes
logger.info("channel")
df["ip"] = pd.Categorical(df["ip"]).codes
logger.info("ip")

[I 180425 18:13:36 <ipython-input-23-e56391e1c60f>:2] app
[I 180425 18:14:04 <ipython-input-23-e56391e1c60f>:4] os
[I 180425 18:14:25 <ipython-input-23-e56391e1c60f>:6] device
[I 180425 18:14:43 <ipython-input-23-e56391e1c60f>:8] channel
[I 180425 18:15:11 <ipython-input-23-e56391e1c60f>:10] ip

In [26]:
df = df.astype("uint64")

In [33]:
ones = columns
n = len(ones)

In [36]:
df.max()

app                   729
channel               201
device               3798
ip                 333167
os                    855
ip_os             3260003
ip_device          795046
ip_app            4135195
ip_channel        8419361
os_device            5897
os_app              14638
os_channel          19725
device_app          13140
device_channel      11565
app_channel          1456
dtype: uint64

In [37]:
for i in range(n):
    for j in range(i+1, n):
        for k in range(j+1, n):
            feature="{}_{}_{}".format(ones[i], ones[j], ones[k])
            one = ones[i]
            two = "{}_{}".format(ones[j], ones[k])
            logger.info(feature)
            df[feature] = pd.Categorical(df[one]*10000000+df[two]).codes
            logger.info("done")

[I 180425 18:24:50 <ipython-input-37-402fd42ae267>:7] ip_os_device
[I 180425 18:25:08 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:25:08 <ipython-input-37-402fd42ae267>:7] ip_os_app
[I 180425 18:25:38 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:25:38 <ipython-input-37-402fd42ae267>:7] ip_os_channel
[I 180425 18:26:24 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:26:24 <ipython-input-37-402fd42ae267>:7] ip_device_app
[I 180425 18:26:42 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:26:42 <ipython-input-37-402fd42ae267>:7] ip_device_channel
[I 180425 18:27:04 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:27:04 <ipython-input-37-402fd42ae267>:7] ip_app_channel
[I 180425 18:27:29 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:27:29 <ipython-input-37-402fd42ae267>:7] os_device_app
[I 180425 18:27:40 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:27:40 <ipython-input-37-402fd42ae267>:7] os_device_channel
[I 180425 18:27:51 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:27:51 <ipython-input-37-402fd42ae267>:7] os_app_channel
[I 180425 18:28:03 <ipython-input-37-402fd42ae267>:9] done
[I 180425 18:28:03 <ipython-input-37-402fd42ae267>:7] device_app_channel
[I 180425 18:28:10 <ipython-input-37-402fd42ae267>:9] done

In [39]:
df.max()

app                        729.0
channel                    201.0
device                    3798.0
ip                      333167.0
os                         855.0
ip_os                  3260003.0
ip_device               795046.0
ip_app                 4135195.0
ip_channel             8419361.0
os_device                 5897.0
os_app                   14638.0
os_channel               19725.0
device_app               13140.0
device_channel           11565.0
app_channel               1456.0
ip_os_device           3669417.0
ip_os_app             23835240.0
ip_os_channel         43803139.0
ip_device_app          4795604.0
ip_device_channel      9446113.0
ip_app_channel        13206832.0
os_device_app            32952.0
os_device_channel        44789.0
os_app_channel           43287.0
device_app_channel       19606.0
dtype: float64

In [41]:
%%time
df = df.astype("int64")

CPU times: user 33.9 s, sys: 1min 23s, total: 1min 57s
Wall time: 1min 57s

In [44]:
%%time
df.max()

CPU times: user 47.4 s, sys: 47.1 s, total: 1min 34s
Wall time: 1min 34s

app                        729
channel                    201
device                    3798
ip                      333167
os                         855
ip_os                  3260003
ip_device               795046
ip_app                 4135195
ip_channel             8419361
os_device                 5897
os_app                   14638
os_channel               19725
device_app               13140
device_channel           11565
app_channel               1456
ip_os_device           3669417
ip_os_app             23835240
ip_os_channel         43803139
ip_device_app          4795604
ip_device_channel      9446113
ip_app_channel        13206832
os_device_app            32952
os_device_channel        44789
os_app_channel           43287
device_app_channel       19606
dtype: int64

In [46]:
%%time
for i in range(n):
    for j in range(i+1, n):
        for k in range(j+1, n):
            for l in range(k+1, n):
                two1="{}_{}".format(ones[i], ones[j])
                two2="{}_{}".format(ones[k], ones[l])
                feature = "{}_{}".format(two1, two2)
                logger.info(feature)
                df[feature] = pd.Categorical(df[two1]*1000000000+ df[two2]).codes
                logger.info("done")

[I 180425 18:43:48 <timed exec>:8] ip_os_device_app
[I 180425 18:44:21 <timed exec>:10] done
[I 180425 18:44:21 <timed exec>:8] ip_os_device_channel
[I 180425 18:45:08 <timed exec>:10] done
[I 180425 18:45:08 <timed exec>:8] ip_os_app_channel
[I 180425 18:46:07 <timed exec>:10] done
[I 180425 18:46:07 <timed exec>:8] ip_device_app_channel
[I 180425 18:46:32 <timed exec>:10] done
[I 180425 18:46:32 <timed exec>:8] os_device_app_channel
[I 180425 18:46:44 <timed exec>:10] done

CPU times: user 2min 46s, sys: 24.6 s, total: 3min 11s
Wall time: 2min 55s

In [47]:
df.dtypes

app                      int64
channel                  int64
device                   int64
ip                       int64
os                       int64
ip_os                    int64
ip_device                int64
ip_app                   int64
ip_channel               int64
os_device                int64
os_app                   int64
os_channel               int64
device_app               int64
device_channel           int64
app_channel              int64
ip_os_device             int64
ip_os_app                int64
ip_os_channel            int64
ip_device_app            int64
ip_device_channel        int64
ip_app_channel           int64
os_device_app            int64
os_device_channel        int64
os_app_channel           int64
device_app_channel       int64
ip_os_device_app         int32
ip_os_device_channel     int32
ip_os_app_channel        int32
ip_device_app_channel    int32
os_device_app_channel    int32
dtype: object

In [49]:
df["ip_os_device_app"].max()

24990688

In [50]:
df["channel"].max()

201

In [51]:
df["ip_os_device_app"] = df["ip_os_device_app"].astype("int64")

In [52]:
df["ip_os_device_app"] = df["ip_os_device_app"] * 1000

In [53]:
%%time
df["ip_os_device_app_channel"] = pd.Categorical(df["ip_os_device_app"]*1000+df["channel"]).codes

CPU times: user 58.2 s, sys: 4.62 s, total: 1min 2s
Wall time: 1min

In [54]:
df.dtypes

app                         int64
channel                     int64
device                      int64
ip                          int64
os                          int64
ip_os                       int64
ip_device                   int64
ip_app                      int64
ip_channel                  int64
os_device                   int64
os_app                      int64
os_channel                  int64
device_app                  int64
device_channel              int64
app_channel                 int64
ip_os_device                int64
ip_os_app                   int64
ip_os_channel               int64
ip_device_app               int64
ip_device_channel           int64
ip_app_channel              int64
os_device_app               int64
os_device_channel           int64
os_app_channel              int64
device_app_channel          int64
ip_os_device_app            int64
ip_os_device_channel        int32
ip_os_app_channel           int32
ip_device_app_channel       int32
os_device_app_channel       int32
ip_os_device_app_channel    int32
dtype: object

In [55]:
df.drop(columns=["ip", "app", "os", "device", "channel"], inplace=True)

In [56]:
df.dtypes

ip_os                       int64
ip_device                   int64
ip_app                      int64
ip_channel                  int64
os_device                   int64
os_app                      int64
os_channel                  int64
device_app                  int64
device_channel              int64
app_channel                 int64
ip_os_device                int64
ip_os_app                   int64
ip_os_channel               int64
ip_device_app               int64
ip_device_channel           int64
ip_app_channel              int64
os_device_app               int64
os_device_channel           int64
os_app_channel              int64
device_app_channel          int64
ip_os_device_app            int64
ip_os_device_channel        int32
ip_os_app_channel           int32
ip_device_app_channel       int32
os_device_app_channel       int32
ip_os_device_app_channel    int32
dtype: object

In [57]:
df.max()

ip_os                           3260003
ip_device                        795046
ip_app                          4135195
ip_channel                      8419361
os_device                          5897
os_app                            14638
os_channel                        19725
device_app                        13140
device_channel                    11565
app_channel                        1456
ip_os_device                    3669417
ip_os_app                      23835240
ip_os_channel                  43803139
ip_device_app                   4795604
ip_device_channel               9446113
ip_app_channel                 13206832
os_device_app                     32952
os_device_channel                 44789
os_app_channel                    43287
device_app_channel                19606
ip_os_device_app            24990688000
ip_os_device_channel           45235476
ip_os_app_channel              57217358
ip_device_app_channel          14226319
os_device_app_channel             82867
ip_os_device_app_channel       58691622
dtype: int64

In [59]:
df["ip_os_device_app"] = pd.Categorical(df["ip_os_device_app"]).codes

In [60]:
df_max = df.max()
df_max

ip_os                        3260003
ip_device                     795046
ip_app                       4135195
ip_channel                   8419361
os_device                       5897
os_app                         14638
os_channel                     19725
device_app                     13140
device_channel                 11565
app_channel                     1456
ip_os_device                 3669417
ip_os_app                   23835240
ip_os_channel               43803139
ip_device_app                4795604
ip_device_channel            9446113
ip_app_channel              13206832
os_device_app                  32952
os_device_channel              44789
os_app_channel                 43287
device_app_channel             19606
ip_os_device_app            24990688
ip_os_device_channel        45235476
ip_os_app_channel           57217358
ip_device_app_channel       14226319
os_device_app_channel          82867
ip_os_device_app_channel    58691622
dtype: int64

In [70]:
df = df.astype("uint32")

In [71]:
for c in df_max[df_max < 60000].index:
    logger.info(c)
    logger.info(df[c].max())
    df[c] = df[c].astype("uint16")

[I 180425 19:13:55 <ipython-input-71-a94b67c351ee>:2] os_device
[I 180425 19:13:56 <ipython-input-71-a94b67c351ee>:3] 5897
[I 180425 19:14:04 <ipython-input-71-a94b67c351ee>:2] os_app
[I 180425 19:14:05 <ipython-input-71-a94b67c351ee>:3] 14638
[I 180425 19:14:13 <ipython-input-71-a94b67c351ee>:2] os_channel
[I 180425 19:14:14 <ipython-input-71-a94b67c351ee>:3] 19725
[I 180425 19:14:22 <ipython-input-71-a94b67c351ee>:2] device_app
[I 180425 19:14:23 <ipython-input-71-a94b67c351ee>:3] 13140
[I 180425 19:14:31 <ipython-input-71-a94b67c351ee>:2] device_channel
[I 180425 19:14:32 <ipython-input-71-a94b67c351ee>:3] 11565
[I 180425 19:14:39 <ipython-input-71-a94b67c351ee>:2] app_channel
[I 180425 19:14:40 <ipython-input-71-a94b67c351ee>:3] 1456
[I 180425 19:14:46 <ipython-input-71-a94b67c351ee>:2] os_device_app
[I 180425 19:14:47 <ipython-input-71-a94b67c351ee>:3] 32952
[I 180425 19:14:54 <ipython-input-71-a94b67c351ee>:2] os_device_channel
[I 180425 19:14:55 <ipython-input-71-a94b67c351ee>:3] 44789
[I 180425 19:15:01 <ipython-input-71-a94b67c351ee>:2] os_app_channel
[I 180425 19:15:02 <ipython-input-71-a94b67c351ee>:3] 43287
[I 180425 19:15:08 <ipython-input-71-a94b67c351ee>:2] device_app_channel
[I 180425 19:15:09 <ipython-input-71-a94b67c351ee>:3] 19606

In [72]:
df.dtypes

ip_os                       uint32
ip_device                   uint32
ip_app                      uint32
ip_channel                  uint32
os_device                   uint16
os_app                      uint16
os_channel                  uint16
device_app                  uint16
device_channel              uint16
app_channel                 uint16
ip_os_device                uint32
ip_os_app                   uint32
ip_os_channel               uint32
ip_device_app               uint32
ip_device_channel           uint32
ip_app_channel              uint32
os_device_app               uint16
os_device_channel           uint16
os_app_channel              uint16
device_app_channel          uint16
ip_os_device_app            uint32
ip_os_device_channel        uint32
ip_os_app_channel           uint32
ip_device_app_channel       uint32
os_device_app_channel       uint32
ip_os_device_app_channel    uint32
dtype: object

In [73]:
df.to_feather("../data/multi_basic")