In [1]:
import gc
import time
import numpy as np
import pandas as pd
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt
from logzero import logger

In [2]:
def do_count(df, group_cols, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_count"
    print("Aggregating by ", group_cols, '...')
    gp = df[group_cols][group_cols].groupby(group_cols).size().rename(agg_name).to_frame().reset_index()
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_countuniq(df, group_cols, counted, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_{}_countuniq".format(counted)
    print("Counting unqiue ", counted, " by ", group_cols, '...')
    gp = df[group_cols+[counted]].groupby(group_cols)[counted].nunique().reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_cumcount(df, group_cols, counted, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_cumcount"
    print("Cumulative count by ", group_cols, '...')
    gp = df[group_cols+[counted]].groupby(group_cols)[counted].cumcount()
    df[agg_name] = gp.values
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_mean(df, group_cols, counted, agg_type='float32'):
    agg_name = "_".join(group_cols) + "_mean"
    print("Calculating mean of ", counted, " by ", group_cols, '...')
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].mean(
    ).reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_var(df, group_cols, counted, agg_type='float32'):
    agg_name = "_".join(group_cols) + "_var"
    print("Calculating variance of ", counted, " by ", group_cols, '...')
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].var(
    ).reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)

In [3]:
%%time
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

CPU times: user 1.56 s, sys: 9.31 s, total: 10.9 s
Wall time: 5min 5s

In [4]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
dtype: object

In [ ]:
%%time
df = do_cumcount(df, ['ip', 'device', 'os'], 'app')
gc.collect()
df = do_cumcount(df, ['ip'], 'os')
gc.collect()
df = do_countuniq(df, ['ip'], 'channel', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip', 'dow'], 'hour', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip'], 'app', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip', 'app'], 'os', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip'], 'device', 'uint16')
gc.collect()
df = do_countuniq(df, ['app'], 'channel')
gc.collect()
df = do_countuniq(df, ['ip', 'device', 'os'], 'app')
gc.collect()
df = do_count(df, ['ip', 'dow', 'hour'])
gc.collect()
df = do_count(df, ['ip', 'app'])
gc.collect()
df = do_count(df, ['ip', 'app', 'os'], 'uint16')
gc.collect()
df = do_var(df, ['ip', 'dow', 'channel'], 'hour')
gc.collect()
df = do_var(df, ['ip', 'app', 'os'], 'hour')
gc.collect()
df = do_var(df, ['ip', 'app', 'channel'], 'dow')
gc.collect()
df = do_mean(df, ['ip', 'app', 'channel'], 'hour')
gc.collect()

Cumulative count by  ['ip', 'device', 'os'] ...
ip_device_os_cumcount max value =  282426
Cumulative count by  ['ip'] ...
ip_cumcount max value =  1421255
Counting unqiue  channel  by  ['ip'] ...
ip_dow_hour_countuniq max value =  24
Counting unqiue  app  by  ['ip'] ...
ip_app_countuniq max value =  277
Counting unqiue  os  by  ['ip', 'app'] ...
ip_app_os_countuniq max value =  148
Counting unqiue  device  by  ['ip'] ...
ip_device_countuniq max value =  551
Counting unqiue  channel  by  ['app'] ...
app_channel_countuniq max value =  49
Counting unqiue  app  by  ['ip', 'device', 'os'] ...
ip_device_os_app_countuniq max value =  100
Aggregating by  ['ip', 'dow', 'hour'] ...
ip_dow_hour_count max value =  44259
Aggregating by  ['ip', 'app'] ...
ip_app_count max value =  220743
Aggregating by  ['ip', 'app', 'os'] ...
ip_app_os_count max value =  55159
Calculating variance of  hour  by  ['ip', 'dow', 'channel'] ...

In [7]:
df.columns

Index(['app', 'channel', 'click_id', 'device', 'ip', 'is_attributed', 'os',
       'click_count_by_ip_os_device_dow',
       'click_count_by_ip_os_device_dow_hour', 'click_count_by_ip', 'dow',
       'hour', 'minute', 'second', 'rank_by_ip', 'rank_by_ip_os_device',
       'rank_by_ip_os_device_dow', 'click_time_interval_by_ip',
       'click_time_interval_by_ip_os_device',
       'click_time_interval_by_ip_os_device_dow',
       'click_time_interval_by_ip_os_device_dow_hour', 'ip_device_os_cumcount',
       'ip_cumcount', 'ip_channel_countuniq', 'ip_dow_hour_countuniq',
       'ip_app_countuniq', 'ip_app_os_countuniq', 'ip_device_countuniq',
       'app_channel_countuniq', 'ip_device_os_app_countuniq',
       'ip_dow_hour_count', 'ip_app_count', 'ip_app_os_count',
       'ip_dow_channel_var', 'ip_app_os_var', 'ip_app_channel_var',
       'ip_app_channel_mean'],
      dtype='object')

In [8]:
df

,app,channel,click_id,device,ip,is_attributed,os,click_count_by_ip_os_device_dow,click_count_by_ip_os_device_dow_hour,click_count_by_ip,...,ip_device_countuniq,app_channel_countuniq,ip_device_os_app_countuniq,ip_dow_hour_count,ip_app_count,ip_app_os_count,ip_dow_channel_var,ip_app_os_var,ip_app_channel_var,ip_app_channel_mean
0,3,379,NaN,1,83230,0.0,13,434,1,28085,...,26,49,49,1,5759,1431,7.893333,36.597950,1.389350,8.521276
1,3,379,NaN,1,17357,0.0,19,183,1,26234,...,22,49,48,1,5245,1451,9.618462,25.959045,1.103880,8.236263
2,3,379,NaN,1,35810,0.0,13,34,1,11002,...,16,49,41,1,2156,462,15.600000,33.348476,1.012026,8.872340
3,14,478,NaN,1,45745,0.0,13,1501,1,188741,...,99,40,58,1,10547,2186,5.947712,36.870251,1.070305,10.361702
4,3,379,NaN,1,161007,0.0,13,28,1,1171,...,5,49,28,1,232,80,10.800000,37.221359,0.619048,11.428572
5,3,379,NaN,1,18787,0.0,16,1,1,4029,...,2,49,20,1,884,30,2.333333,18.975863,1.937909,10.277778
6,3,379,NaN,1,103022,0.0,23,1,1,6099,...,11,49,4,1,1256,3,1.000000,44.333332,0.976950,11.208333
7,3,379,NaN,1,114221,0.0,19,51,1,2334,...,4,49,29,1,404,88,32.000000,29.235109,2.028571,9.466666
8,3,379,NaN,1,165970,0.0,13,19,1,2014,...,6,49,22,1,434,46,8.000000,26.908213,0.566667,14.333333
9,64,459,NaN,1,74544,0.0,22,5,1,3882,...,6,3,18,1,32,1,13.809524,NaN,0.555444,11.875000
10,3,379,NaN,1,172522,0.0,25,109,1,9494,...,11,49,20,1,1461,34,7.873206,47.526737,0.247768,9.843750
11,3,379,NaN,1,105861,0.0,13,495,1,12443,...,29,49,34,1,1940,470,7.617168,45.830132,2.183636,13.256757
12,3,379,NaN,1,210962,0.0,19,84,1,8688,...,14,49,38,1,1215,325,16.333334,31.188187,0.998851,11.133333
13,3,379,NaN,1,124979,0.0,18,1,1,1001,...,4,49,14,1,165,6,40.500000,15.466666,2.266667,9.833333
14,3,379,NaN,1,38816,0.0,18,1,1,4551,...,3,49,26,1,832,27,12.666667,24.763533,1.071225,8.888889
15,3,379,NaN,1,80447,0.0,19,42,1,5475,...,4,49,33,1,892,169,16.916666,35.519585,1.031746,7.178571
16,3,379,NaN,1,134575,0.0,13,16,1,3267,...,5,49,25,1,273,70,2.000000,23.418013,1.066667,9.500000
17,3,379,NaN,1,57576,0.0,19,1,1,297,...,1,49,23,1,47,20,NaN,11.734211,5.333333,7.666667
18,3,379,NaN,1,7755,0.0,13,34,1,685,...,5,49,23,1,104,16,1.333333,23.462500,3.111111,12.000000
19,3,379,NaN,1,91749,0.0,19,100,1,6074,...,11,49,32,1,911,339,12.700000,29.937965,1.719697,12.000000
20,3,379,NaN,1,50694,0.0,18,9,1,1221,...,3,49,18,1,206,15,40.500000,15.685715,1.361111,8.333333
21,3,379,NaN,1,111385,0.0,18,4,1,2474,...,9,49,14,1,457,9,27.000000,35.277779,1.670330,8.500000
22,14,478,NaN,1,125222,0.0,3,123,1,171961,...,178,40,33,1,9398,152,10.685715,34.973465,1.335227,10.969697
23,3,379,NaN,1,191759,0.0,13,407,1,25290,...,37,49,38,1,4534,1105,8.079932,40.149372,0.656371,11.395349
24,3,379,NaN,1,53418,0.0,17,6,1,2572,...,5,49,25,1,450,31,20.250000,48.655914,1.571429,10.933333
25,3,379,NaN,1,183168,0.0,19,3,1,90,...,2,49,3,1,16,3,NaN,22.333334,0.500000,10.500000
26,3,379,NaN,1,47902,0.0,17,6,1,5766,...,14,49,23,1,1014,78,NaN,36.947884,1.311111,10.611111
27,3,379,NaN,1,209663,0.0,13,2679,1,173423,...,50,49,49,1,20297,3439,6.972166,38.278740,0.357150,9.660378
28,3,379,NaN,1,129614,0.0,20,10,1,2201,...,6,49,16,2,315,6,12.600000,46.966667,0.277778,9.777778
29,3,379,NaN,1,208347,0.0,19,31,1,2753,...,6,49,26,1,225,40,19.000000,23.419872,2.285714,12.428572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203694329,27,153,18790438.0,1,51432,NaN,13,22,1,22,...,1,6,13,1,1,1,1.333333,NaN,NaN,15.000000
203694330,14,401,18790440.0,1,14334,NaN,19,274,1,2854,...,6,40,29,1,184,51,20.000000,29.783529,1.596491,10.000000
203694331,9,334,18790441.0,1,16749,NaN,13,46,1,1528,...,5,47,18,1,144,24,16.566668,37.389492,0.692308,11.923077
203694332,23,153,18790442.0,1,17814,NaN,13,260,1,11860,...,16,11,37,1,248,61,16.234848,39.937706,1.137158,9.728745
203694333,21,232,18790443.0,1,8825,NaN,13,41,3,2273,...,9,8,28,3,58,26,5.142857,34.038460,1.065217,12.000000
203694334,8,259,18790444.0,2,115536,NaN,13,4,1,1568,...,7,4,4,1,20,1,9.523809,NaN,0.500000,13.500000
203694335,2,205,18790445.0,1,121472,NaN,19,1789,1,90013,...,124,27,51,2,11842,2394,15.020443,28.733999,1.148887,10.458585
203694336,12,242,18790446.0,1,38000,NaN,12,7,1,1639,...,5,33,7,1,158,1,NaN,NaN,2.000000,11.000000
203694337,1,125,18790447.0,1,66176,NaN,19,304,6,18979,...,12,33,42,6,726,175,12.250000,31.029755,1.734210,13.550000
203694338,2,205,18790448.0,1,25553,NaN,22,114,1,49910,...,21,27,36,1,26695,1424,15.782972,47.541752,1.153579,10.893300
203694339,21,128,18790449.0,2,119531,NaN,19,878,1,162916,...,93,8,34,1,5645,1135,12.102192,33.909885,0.698123,11.571559
203694340,13,469,18790450.0,1,14062,NaN,53,1,1,4266,...,8,9,7,1,126,1,19.361111,NaN,1.418421,14.400000
203694341,14,442,18790451.0,1,48536,NaN,19,80,2,1748,...,7,40,29,2,104,24,21.928572,37.471016,1.839286,8.375000
203694342,1,125,18790452.0,1,93291,NaN,19,2245,7,38820,...,24,33,37,7,505,117,0.947619,36.501030,0.562217,14.576923
203694343,9,258,18790453.0,1,93291,NaN,19,2245,7,38820,...,24,47,37,7,2366,538,1.913846,28.743591,0.489648,13.385715
203694344,1,125,18790455.0,1,55874,NaN,22,60,6,13763,...,17,33,30,6,542,13,22.333334,40.474358,0.893281,10.869565
203694345,9,145,18790454.0,1,93291,NaN,19,2245,7,38820,...,24,47,37,7,2366,538,14.474748,28.743591,0.628307,13.357142
203694346,8,259,18790456.0,1,100697,NaN,18,17,1,3519,...,8,4,23,1,112,10,24.783333,1.655556,1.391304,12.565217
203694347,20,259,18790457.0,1,93291,NaN,19,2245,7,38820,...,24,7,37,7,216,35,10.317524,32.294117,0.435094,13.863095
203694348,2,452,18790458.0,1,85329,NaN,14,76,2,75986,...,127,27,31,2,14959,146,16.748381,31.969391,1.185620,10.833962
203694349,15,140,18790459.0,1,102467,NaN,17,173,6,40051,...,38,31,30,6,3676,151,7.014452,49.619778,1.066918,11.871875
203694350,9,445,18790460.0,1,80537,NaN,19,79,6,1048,...,7,47,23,6,103,16,60.500000,18.600000,2.000000,6.250000
203694351,2,237,18790462.0,2,101214,NaN,16,13,1,50215,...,95,27,18,1,7207,91,13.694435,25.020269,0.529386,9.665807
203694352,17,128,18790461.0,1,113418,NaN,17,60,2,13166,...,13,11,29,2,55,6,10.107617,0.300000,0.208669,11.375000
203694353,12,135,18790463.0,1,69245,NaN,13,100,1,4666,...,10,33,34,1,647,180,27.619047,36.789074,0.361111,8.666667
203694354,9,127,18790464.0,1,99442,NaN,13,5,2,377,...,3,47,21,2,35,11,20.000000,35.363636,0.000000,8.000000
203694355,23,153,18790465.0,1,88046,NaN,37,23,1,11288,...,16,11,25,1,224,13,14.522223,23.358974,1.207046,10.385651
203694356,18,265,18790467.0,1,81398,NaN,17,48,2,12192,...,16,20,26,2,1433,76,13.800467,21.325439,0.000000,11.692307
203694357,27,122,18790466.0,1,123236,NaN,13,13,1,963,...,4,6,23,1,4,1,60.500000,NaN,0.500000,7.500000
203694358,12,265,18790468.0,2,73516,NaN,27,172,1,839540,...,159,33,28,4,219988,1780,10.666474,35.386147,1.060851,10.977614

In [ ]:
%%time
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [2]:
%%time
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

CPU times: user 1.82 s, sys: 14.5 s, total: 16.3 s
Wall time: 7min 41s

In [3]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
dtype: object

In [12]:
%%time
MOD = int(1e9+7)
df["ip_os_device_app_hash"] = (df["ip"].astype(str)+"_"+df["os"].astype(str)+"_"+df["device"].astype(str)+"_"+df["app"].astype(str)).apply(hash)%MOD

CPU times: user 12min 2s, sys: 1min 11s, total: 13min 13s
Wall time: 13min 12s

In [16]:
df["ip_os_device_app_hash"] = df["ip_os_device_app_hash"].astype("uint32")

In [17]:
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")