In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
%%time
ip_os_device_dow = pd.read_hdf("../data/ip_os_device_dow.hdf", "ip_os_device_dow")

CPU times: user 40 ms, sys: 2.19 s, total: 2.23 s
Wall time: 2.27 s

In [5]:
%%time
ip_os_device_dow.groupby(["ip_os_device_dow"]).count()

CPU times: user 13 s, sys: 3.04 s, total: 16 s
Wall time: 16 s

                  ip_os_device_dow_hour
ip_os_device_dow
4                                     2
100200012                             4
100200013                             5
100300012                             3
100400013                             2
100600012                             2
100700014                             1
100900013                             5
101000012                             2
101500012                             4
102700013                             1
102800012                             1
103000013                             2
103200013                             1
103700013                             1
104300013                             1
104700013                             1
104800013                             6
104900012                             1
105200013                             5
201300014                             5
300900024                             6
301000014                            11
301300014                             5
301300024                            10
301600014                             7
301800014                            19
301900014                             4
302500014                             2
402600014                             6
...                                 ...
36477226000003                        1
36477300100013                        2
36477300300013                        3
36477303000013                        1
36477303200013                        1
36477386638663                        8
36477402900063                        3
36477500300013                        1
36477500900013                        8
36477501300012                        1
36477501300013                        7
36477501900012                        1
36477501900013                        6
36477600000003                        2
36477600800013                        1
36477601000013                        1
36477601300012                        7
36477601300013                       15
36477601300023                       70
36477601800012                        4
36477601900012                       34
36477601900013                        7
36477602200013                      135
36477603200013                        8
36477603700013                        4
36477605800023                       21
36477701900013                        1
36477702100003                        4
36477801300013                       15
36477801800013                        1

[6865504 rows x 1 columns]

In [6]:
%%time
click_data = pd.read_hdf("../data/click_data.hdf", "click_data")

CPU times: user 11.8 s, sys: 10.2 s, total: 22 s
Wall time: 1min 51s

In [7]:
%%time
ip_count = click_data.groupby(['ip'])['channel'].count().reset_index()

CPU times: user 7.88 s, sys: 2.94 s, total: 10.8 s
Wall time: 10.8 s

In [21]:
ip_count.columns = ["ip", "click_count_by_ip"]

In [23]:
ip_count.to_hdf("../data/click_count_by_ip.hdf", "click_count_by_ip")

In [30]:
count_ip_os_device_dow = ip_os_device_dow.groupby(["ip_os_device_dow"])["ip_os_device_dow_hour"].count().reset_index()
count_ip_os_device_dow.columns = ["ip_os_device_dow", "click_count_by_ip_os_device_dow"]

In [31]:
count_ip_os_device_dow.to_hdf("../data/click_count_by_ip_os_device_dow.hdf", "click_count_by_ip_os_device_dow")

In [33]:
click_count_by_ip_os_device_dow_hour = ip_os_device_dow.groupby(["ip_os_device_dow_hour"])["ip_os_device_dow"].count().reset_index()
click_count_by_ip_os_device_dow_hour.columns = ["ip_os_device_dow_hour", "click_count_by_ip_os_device_dow_hour"]

In [35]:
click_count_by_ip_os_device_dow_hour.to_hdf("../data/click_count_by_ip_os_device_dow_hour.hdf", "click_count_by_ip_os_device_dow_hour")