In [2]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }

In [3]:
%%time
train = pd.read_csv("../data/train.csv", dtype=dtypes)

CPU times: user 1min 50s, sys: 5.98 s, total: 1min 56s
Wall time: 1min 56s

In [4]:
%%time
test = pd.read_csv("../data/test.csv", dtype=dtypes)

CPU times: user 11.9 s, sys: 196 ms, total: 12.1 s
Wall time: 12.1 s

In [5]:
%%time
click_data = pd.concat([train, test])

CPU times: user 7.42 s, sys: 4.08 s, total: 11.5 s
Wall time: 11.5 s

In [6]:
%%time
click_data.sort_values(by=["click_time", "is_attributed"], inplace=True)

CPU times: user 34.4 s, sys: 14.2 s, total: 48.6 s
Wall time: 48.5 s

In [7]:
%%time
click_data.reset_index(inplace=True)

CPU times: user 316 ms, sys: 404 ms, total: 720 ms
Wall time: 717 ms

In [20]:
%%time
click_time = click_data[["index", "click_time"]]

CPU times: user 1.59 s, sys: 796 ms, total: 2.38 s
Wall time: 2.37 s

In [23]:
%%time
click_data.drop(["click_time"], axis=1, inplace=True)

CPU times: user 3.9 s, sys: 2.74 s, total: 6.64 s
Wall time: 6.64 s

In [25]:
%%time
click_data.to_hdf("../data/click_data.hdf", "click_data")

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/pandas/core/generic.py:1471: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['attributed_time']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

CPU times: user 14.7 s, sys: 11.3 s, total: 26 s
Wall time: 25.9 s

In [26]:
%%time
click_time.to_hdf("../data/click_time.hdf", "click_time")

CPU times: user 9.37 s, sys: 4.77 s, total: 14.1 s
Wall time: 14.1 s

In [3]:
%%time
click_data = pd.read_hdf("../data/click_data.hdf", "click_data")

CPU times: user 12.4 s, sys: 9.44 s, total: 21.9 s
Wall time: 3min 6s

In [4]:
%%time
click_time = pd.read_hdf("../data/click_time.hdf", "click_time")

CPU times: user 6.56 s, sys: 3.82 s, total: 10.4 s
Wall time: 1min 16s

In [6]:
%%time
click_data.set_index("index", inplace=True)

CPU times: user 0 ns, sys: 4 ms, total: 4 ms
Wall time: 6.3 ms

In [7]:
%%time
click_time.set_index("index", inplace=True)

CPU times: user 4 ms, sys: 4 ms, total: 8 ms
Wall time: 5.97 ms

In [23]:
%%time
click_data = pd.concat([click_data, click_time], axis=1)

CPU times: user 7.08 s, sys: 3.98 s, total: 11.1 s
Wall time: 11.1 s

In [24]:
del click_time
gc.collect()

5711

In [25]:
click_data

,app,attributed_time,channel,click_id,device,ip,is_attributed,os,click_time
index,,,,,,,,,
0,3,NaN,379,NaN,1,83230,0.0,13,2017-11-06 14:32:21
1,3,NaN,379,NaN,1,17357,0.0,19,2017-11-06 14:33:34
2,3,NaN,379,NaN,1,35810,0.0,13,2017-11-06 14:34:12
3,14,NaN,478,NaN,1,45745,0.0,13,2017-11-06 14:34:52
4,3,NaN,379,NaN,1,161007,0.0,13,2017-11-06 14:35:08
5,3,NaN,379,NaN,1,18787,0.0,16,2017-11-06 14:36:26
6,3,NaN,379,NaN,1,103022,0.0,23,2017-11-06 14:37:44
7,3,NaN,379,NaN,1,114221,0.0,19,2017-11-06 14:37:59
8,3,NaN,379,NaN,1,165970,0.0,13,2017-11-06 14:38:10
9,64,NaN,459,NaN,1,74544,0.0,22,2017-11-06 14:38:23
10,3,NaN,379,NaN,1,172522,0.0,25,2017-11-06 14:38:27
11,3,NaN,379,NaN,1,105861,0.0,13,2017-11-06 14:38:51
12,3,NaN,379,NaN,1,210962,0.0,19,2017-11-06 14:39:29
13,3,NaN,379,NaN,1,124979,0.0,18,2017-11-06 14:40:16
14,3,NaN,379,NaN,1,38816,0.0,18,2017-11-06 14:40:39
15,3,NaN,379,NaN,1,80447,0.0,19,2017-11-06 14:40:51
16,3,NaN,379,NaN,1,134575,0.0,13,2017-11-06 14:43:10
17,3,NaN,379,NaN,1,57576,0.0,19,2017-11-06 14:43:14
18,3,NaN,379,NaN,1,7755,0.0,13,2017-11-06 14:43:25
19,3,NaN,379,NaN,1,91749,0.0,19,2017-11-06 14:43:51
20,3,NaN,379,NaN,1,50694,0.0,18,2017-11-06 14:44:02
21,3,NaN,379,NaN,1,111385,0.0,18,2017-11-06 14:44:15
22,14,NaN,478,NaN,1,125222,0.0,3,2017-11-06 14:44:51
23,3,NaN,379,NaN,1,191759,0.0,13,2017-11-06 14:44:51
24,3,NaN,379,NaN,1,53418,0.0,17,2017-11-06 14:44:52
25,3,NaN,379,NaN,1,183168,0.0,19,2017-11-06 14:47:49
26,3,NaN,379,NaN,1,47902,0.0,17,2017-11-06 14:48:07
27,3,NaN,379,NaN,1,209663,0.0,13,2017-11-06 14:48:55
28,3,NaN,379,NaN,1,129614,0.0,20,2017-11-06 14:49:36
29,3,NaN,379,NaN,1,208347,0.0,19,2017-11-06 14:49:38
...,...,...,...,...,...,...,...,...,...
18790439,27,NaN,153,18790438.0,1,51432,NaN,13,2017-11-10 15:00:00
18790440,14,NaN,401,18790440.0,1,14334,NaN,19,2017-11-10 15:00:00
18790441,9,NaN,334,18790441.0,1,16749,NaN,13,2017-11-10 15:00:00
18790442,23,NaN,153,18790442.0,1,17814,NaN,13,2017-11-10 15:00:00
18790443,21,NaN,232,18790443.0,1,8825,NaN,13,2017-11-10 15:00:00
18790444,8,NaN,259,18790444.0,2,115536,NaN,13,2017-11-10 15:00:00
18790445,2,NaN,205,18790445.0,1,121472,NaN,19,2017-11-10 15:00:00
18790446,12,NaN,242,18790446.0,1,38000,NaN,12,2017-11-10 15:00:00
18790447,1,NaN,125,18790447.0,1,66176,NaN,19,2017-11-10 15:00:00
18790448,2,NaN,205,18790448.0,1,25553,NaN,22,2017-11-10 15:00:00
18790449,21,NaN,128,18790449.0,2,119531,NaN,19,2017-11-10 15:00:00
18790450,13,NaN,469,18790450.0,1,14062,NaN,53,2017-11-10 15:00:00
18790451,14,NaN,442,18790451.0,1,48536,NaN,19,2017-11-10 15:00:00
18790452,1,NaN,125,18790452.0,1,93291,NaN,19,2017-11-10 15:00:00
18790453,9,NaN,258,18790453.0,1,93291,NaN,19,2017-11-10 15:00:00
18790454,1,NaN,125,18790455.0,1,55874,NaN,22,2017-11-10 15:00:00
18790455,9,NaN,145,18790454.0,1,93291,NaN,19,2017-11-10 15:00:00
18790456,8,NaN,259,18790456.0,1,100697,NaN,18,2017-11-10 15:00:00
18790457,20,NaN,259,18790457.0,1,93291,NaN,19,2017-11-10 15:00:00
18790458,2,NaN,452,18790458.0,1,85329,NaN,14,2017-11-10 15:00:00
18790459,15,NaN,140,18790459.0,1,102467,NaN,17,2017-11-10 15:00:00
18790460,9,NaN,445,18790460.0,1,80537,NaN,19,2017-11-10 15:00:00
18790461,2,NaN,237,18790462.0,2,101214,NaN,16,2017-11-10 15:00:00
18790462,17,NaN,128,18790461.0,1,113418,NaN,17,2017-11-10 15:00:00
18790463,12,NaN,135,18790463.0,1,69245,NaN,13,2017-11-10 15:00:00
18790464,9,NaN,127,18790464.0,1,99442,NaN,13,2017-11-10 15:00:00
18790465,23,NaN,153,18790465.0,1,88046,NaN,37,2017-11-10 15:00:00
18790466,18,NaN,265,18790467.0,1,81398,NaN,17,2017-11-10 15:00:00
18790467,27,NaN,122,18790466.0,1,123236,NaN,13,2017-11-10 15:00:00
18790468,12,NaN,265,18790468.0,2,73516,NaN,27,2017-11-10 15:00:00