In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
ls -lah ../data/

total 24G
drwxrwxr-x 5 ubuntu ubuntu 4.0K May  3 09:35 ./
drwxrwxr-x 8 ubuntu ubuntu 4.0K Apr 30 17:30 ../
drwxrwxr-x 2 ubuntu ubuntu 4.0K Apr 28 16:52 .ipynb_checkpoints/
-rw-r--r-- 1 ubuntu ubuntu 4.8G Apr 30 14:27 click_data.feather
drwxrwxr-x 2 ubuntu ubuntu 4.0K Apr 29 14:21 kenkoooos/
-rw-r--r-- 1 ubuntu ubuntu  18G May  2 14:38 merge.feather
drwxrwxr-x 2 ubuntu ubuntu 4.0K Apr 28 17:13 raw/
-rw-rw-r-- 1 ubuntu ubuntu 1.4G Apr 28 17:20 raw.zip

In [3]:
%time
merge = pd.read_feather("../data/click_data.feather", nthreads=4)

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 9.3 Âµs

In [4]:
train_size = merge[merge.is_test == 0].shape[0]

In [5]:
merge.shape

(203693876, 9)

In [6]:
merge.dtypes

app                      uint16
channel                  uint16
click_id                 uint32
device                   uint16
ip                       uint32
is_attributed             uint8
os                       uint16
click_time       datetime64[ns]
is_test                    bool
dtype: object

### get time values

In [7]:
%%time
merge['dow'] = merge.click_time.dt.dayofweek.astype('uint8')
merge['hour'] = merge.click_time.dt.hour.astype('uint8')
merge['minute'] = merge.click_time.dt.minute.astype('uint8')
merge['min5'] = ((merge.click_time.dt.minute/5).apply(lambda x: x//1)*5).astype('uint8')
merge['second'] = merge.click_time.dt.second.astype('uint8')

CPU times: user 1min 54s, sys: 11 s, total: 2min 5s
Wall time: 2min 2s

In [8]:
%%time
MOD = int(1e+8)
seconds = (merge.hour.astype('uint32')*60*60
           + merge.minute.astype('uint32')*60
           + merge.second.astype('uint32'))
merge['sin_time'] = np.sin(2*np.pi*seconds/(24*60*60)).round(8) + 0
merge['cos_time'] = np.cos(2*np.pi*seconds/(24*60*60)).round(8) + 0
del seconds

CPU times: user 17.1 s, sys: 6.79 s, total: 23.9 s
Wall time: 19.5 s

In [9]:
print(merge[['sin_time', 'cos_time']][merge.hour == 0].head(1))
print(merge[['sin_time', 'cos_time']][merge.hour == 6].head(1))
print(merge[['sin_time', 'cos_time']][merge.hour == 12].head(1))
print(merge[['sin_time', 'cos_time']][merge.hour == 18].head(1))

         sin_time  cos_time
9308085       0.0       1.0
          sin_time  cos_time
29409346       1.0       0.0
          sin_time  cos_time
47448221       0.0      -1.0
         sin_time  cos_time
3571125      -1.0       0.0

In [10]:
merge.dtypes

app                      uint16
channel                  uint16
click_id                 uint32
device                   uint16
ip                       uint32
is_attributed             uint8
os                       uint16
click_time       datetime64[ns]
is_test                    bool
dow                       uint8
hour                      uint8
minute                    uint8
min5                      uint8
second                    uint8
sin_time                float64
cos_time                float64
dtype: object

In [11]:
print(merge.shape)
merge

(203693876, 16)

,app,channel,click_id,device,ip,is_attributed,os,click_time,is_test,dow,hour,minute,min5,second,sin_time,cos_time
0,20,259,99999999,1,14901,0,17,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
1,2,477,99999999,2,5729,0,37,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
2,8,145,99999999,1,105475,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
3,26,121,99999999,1,93021,0,13,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
4,20,259,99999999,1,78507,0,30,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
5,14,379,99999999,1,97463,0,14,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
6,15,315,99999999,1,95766,0,27,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
7,12,245,99999999,1,156391,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
8,15,138,99999999,1,73555,0,10,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
9,15,153,99999999,1,5314,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
10,2,122,99999999,1,75007,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
11,2,401,99999999,1,75007,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
12,2,435,99999999,1,119798,0,18,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
13,6,459,99999999,1,58085,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
14,14,134,99999999,1,147164,0,28,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
15,12,265,99999999,1,67708,0,11,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
16,2,377,99999999,1,119818,0,70,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
17,9,442,99999999,1,88537,0,13,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
18,13,477,99999999,1,134459,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
19,3,452,99999999,1,27997,0,17,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
20,6,125,99999999,1,72967,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
21,12,326,99999999,1,73516,0,16,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
22,15,245,99999999,1,35221,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
23,8,145,99999999,1,50516,0,13,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
24,14,401,99999999,1,59395,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
25,64,459,99999999,1,68453,0,13,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
26,1,134,99999999,1,58669,0,8,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
27,15,245,99999999,1,20488,0,19,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
28,3,280,99999999,1,100971,0,13,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
29,64,459,99999999,1,103052,0,20,2017-11-06 16:00:00,False,0,16,0,0,0,-0.866025,-0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203693846,27,153,18790438,1,51432,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693847,14,401,18790440,1,14334,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693848,9,334,18790441,1,16749,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693849,23,153,18790442,1,17814,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693850,21,232,18790443,1,8825,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693851,8,259,18790444,2,115536,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693852,2,205,18790445,1,121472,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693853,12,242,18790446,1,38000,99,12,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693854,1,125,18790447,1,66176,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693855,2,205,18790448,1,25553,99,22,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693856,21,128,18790449,2,119531,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693857,13,469,18790450,1,14062,99,53,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693858,14,442,18790451,1,48536,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693859,1,125,18790452,1,93291,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693860,9,258,18790453,1,93291,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693861,1,125,18790455,1,55874,99,22,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693862,9,145,18790454,1,93291,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693863,8,259,18790456,1,100697,99,18,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693864,20,259,18790457,1,93291,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693865,2,452,18790458,1,85329,99,14,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693866,15,140,18790459,1,102467,99,17,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693867,9,445,18790460,1,80537,99,19,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693868,2,237,18790462,2,101214,99,16,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693869,17,128,18790461,1,113418,99,17,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693870,12,135,18790463,1,69245,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693871,9,127,18790464,1,99442,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693872,23,153,18790465,1,88046,99,37,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693873,18,265,18790467,1,81398,99,17,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693874,27,122,18790466,1,123236,99,13,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107
203693875,12,265,18790468,2,73516,99,27,2017-11-10 15:00:00,True,4,15,0,0,0,-0.707107,-0.707107

In [12]:
merge.to_feather("../data/merge.feather")