In [1]:
import gc
import time
import numpy as np
import pandas as pd
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt
from logzero import logger

In [2]:
def do_count(df, group_cols, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_count"
    print("Aggregating by ", group_cols, '...')
    gp = df[group_cols][group_cols].groupby(group_cols).size().rename(agg_name).to_frame().reset_index()
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_countuniq(df, group_cols, counted, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_{}_countuniq".format(counted)
    print("Counting unqiue ", counted, " by ", group_cols, '...')
    gp = df[group_cols+[counted]].groupby(group_cols)[counted].nunique().reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_cumcount(df, group_cols, counted, agg_type='uint32'):
    agg_name = "_".join(group_cols) + "_cumcount"
    print("Cumulative count by ", group_cols, '...')
    gp = df[group_cols+[counted]].groupby(group_cols)[counted].cumcount()
    df[agg_name] = gp.values
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_mean(df, group_cols, counted, agg_type='float32'):
    agg_name = "_".join(group_cols) + "_mean"
    print("Calculating mean of ", counted, " by ", group_cols, '...')
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].mean(
    ).reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)


def do_var(df, group_cols, counted, agg_type='float32'):
    agg_name = "_".join(group_cols) + "_var"
    print("Calculating variance of ", counted, " by ", group_cols, '...')
    gp = df[group_cols + [counted]].groupby(group_cols)[counted].var(
    ).reset_index().rename(columns={counted: agg_name})
    df = df.merge(gp, on=group_cols, how='left')
    del gp
    print(agg_name + " max value = ", df[agg_name].max())
    df[agg_name] = df[agg_name].astype(agg_type)
    gc.collect()
    return(df)

In [3]:
%%time
df = pd.read_feather("../data/merged_click_data.hdf", "merged_click_data")

CPU times: user 52 ms, sys: 8.52 s, total: 8.57 s
Wall time: 8.57 s

In [4]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
dtype: object

In [5]:
%%time
df = do_cumcount(df, ['ip', 'device', 'os'], 'app')
gc.collect()
df = do_cumcount(df, ['ip'], 'os')
gc.collect()
df = do_countuniq(df, ['ip'], 'channel', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip', 'dow'], 'hour', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip'], 'app', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip', 'app'], 'os', 'uint8')
gc.collect()
df = do_countuniq(df, ['ip'], 'device', 'uint16')
gc.collect()
df = do_countuniq(df, ['app'], 'channel')
gc.collect()
df = do_countuniq(df, ['ip', 'device', 'os'], 'app')
gc.collect()
df = do_count(df, ['ip', 'dow', 'hour'])
gc.collect()
df = do_count(df, ['ip', 'app'])
gc.collect()
df = do_count(df, ['ip', 'app', 'os'], 'uint16')
gc.collect()
df = do_var(df, ['ip', 'dow', 'channel'], 'hour')
gc.collect()
df = do_var(df, ['ip', 'app', 'os'], 'hour')
gc.collect()
df = do_var(df, ['ip', 'app', 'channel'], 'dow')
gc.collect()
df = do_mean(df, ['ip', 'app', 'channel'], 'hour')
gc.collect()

Cumulative count by  ['ip', 'device', 'os'] ...
ip_device_os_cumcount max value =  282426
Cumulative count by  ['ip'] ...
ip_cumcount max value =  1421255
Counting unqiue  channel  by  ['ip'] ...
ip_channel_countuniq max value =  165
Counting unqiue  hour  by  ['ip', 'dow'] ...
ip_dow_hour_countuniq max value =  24
Counting unqiue  app  by  ['ip'] ...
ip_app_countuniq max value =  277
Counting unqiue  os  by  ['ip', 'app'] ...
ip_app_os_countuniq max value =  148
Counting unqiue  device  by  ['ip'] ...
ip_device_countuniq max value =  551
Counting unqiue  channel  by  ['app'] ...
app_channel_countuniq max value =  49
Counting unqiue  app  by  ['ip', 'device', 'os'] ...
ip_device_os_app_countuniq max value =  100
Aggregating by  ['ip', 'dow', 'hour'] ...
ip_dow_hour_count max value =  44259
Aggregating by  ['ip', 'app'] ...
ip_app_count max value =  220743
Aggregating by  ['ip', 'app', 'os'] ...
ip_app_os_count max value =  55159
Calculating variance of  hour  by  ['ip', 'dow', 'channel'] ...
ip_dow_channel_var max value =  264.5
Calculating variance of  hour  by  ['ip', 'app', 'os'] ...
ip_app_os_var max value =  264.5
Calculating variance of  dow  by  ['ip', 'app', 'channel'] ...
ip_app_channel_var max value =  8.0
Calculating mean of  hour  by  ['ip', 'app', 'channel'] ...
ip_app_channel_mean max value =  23.0
CPU times: user 54min 14s, sys: 18min 18s, total: 1h 12min 33s
Wall time: 1h 12min 32s

In [6]:
df.columns

Index(['app', 'channel', 'click_id', 'device', 'ip', 'is_attributed', 'os',
       'click_count_by_ip_os_device_dow',
       'click_count_by_ip_os_device_dow_hour', 'click_count_by_ip', 'dow',
       'hour', 'minute', 'second', 'rank_by_ip', 'rank_by_ip_os_device',
       'rank_by_ip_os_device_dow', 'click_time_interval_by_ip',
       'click_time_interval_by_ip_os_device',
       'click_time_interval_by_ip_os_device_dow',
       'click_time_interval_by_ip_os_device_dow_hour', 'ip_device_os_cumcount',
       'ip_cumcount', 'ip_channel_countuniq', 'ip_dow_hour_countuniq',
       'ip_app_countuniq', 'ip_app_os_countuniq', 'ip_device_countuniq',
       'app_channel_countuniq', 'ip_device_os_app_countuniq',
       'ip_dow_hour_count', 'ip_app_count', 'ip_app_os_count',
       'ip_dow_channel_var', 'ip_app_os_var', 'ip_app_channel_var',
       'ip_app_channel_mean'],
      dtype='object')

In [7]:
df

,app,channel,click_id,device,ip,is_attributed,os,click_count_by_ip_os_device_dow,click_count_by_ip_os_device_dow_hour,click_count_by_ip,...,ip_device_countuniq,app_channel_countuniq,ip_device_os_app_countuniq,ip_dow_hour_count,ip_app_count,ip_app_os_count,ip_dow_channel_var,ip_app_os_var,ip_app_channel_var,ip_app_channel_mean
0,3,379,NaN,1,83230,0.0,13,434,1,28085,...,26,49,49,1,5759,1431,7.893333,36.597950,1.389350,8.521276
1,3,379,NaN,1,17357,0.0,19,183,1,26234,...,22,49,48,1,5245,1451,9.618462,25.959045,1.103880,8.236263
2,3,379,NaN,1,35810,0.0,13,34,1,11002,...,16,49,41,1,2156,462,15.600000,33.348476,1.012026,8.872340
3,14,478,NaN,1,45745,0.0,13,1501,1,188741,...,99,40,58,1,10547,2186,5.947712,36.870251,1.070305,10.361702
4,3,379,NaN,1,161007,0.0,13,28,1,1171,...,5,49,28,1,232,80,10.800000,37.221359,0.619048,11.428572
5,3,379,NaN,1,18787,0.0,16,1,1,4029,...,2,49,20,1,884,30,2.333333,18.975863,1.937909,10.277778
6,3,379,NaN,1,103022,0.0,23,1,1,6099,...,11,49,4,1,1256,3,1.000000,44.333332,0.976950,11.208333
7,3,379,NaN,1,114221,0.0,19,51,1,2334,...,4,49,29,1,404,88,32.000000,29.235109,2.028571,9.466666
8,3,379,NaN,1,165970,0.0,13,19,1,2014,...,6,49,22,1,434,46,8.000000,26.908213,0.566667,14.333333
9,64,459,NaN,1,74544,0.0,22,5,1,3882,...,6,3,18,1,32,1,13.809524,NaN,0.555444,11.875000
10,3,379,NaN,1,172522,0.0,25,109,1,9494,...,11,49,20,1,1461,34,7.873206,47.526737,0.247768,9.843750
11,3,379,NaN,1,105861,0.0,13,495,1,12443,...,29,49,34,1,1940,470,7.617168,45.830132,2.183636,13.256757
12,3,379,NaN,1,210962,0.0,19,84,1,8688,...,14,49,38,1,1215,325,16.333334,31.188187,0.998851,11.133333
13,3,379,NaN,1,124979,0.0,18,1,1,1001,...,4,49,14,1,165,6,40.500000,15.466666,2.266667,9.833333
14,3,379,NaN,1,38816,0.0,18,1,1,4551,...,3,49,26,1,832,27,12.666667,24.763533,1.071225,8.888889
15,3,379,NaN,1,80447,0.0,19,42,1,5475,...,4,49,33,1,892,169,16.916666,35.519585,1.031746,7.178571
16,3,379,NaN,1,134575,0.0,13,16,1,3267,...,5,49,25,1,273,70,2.000000,23.418013,1.066667,9.500000
17,3,379,NaN,1,57576,0.0,19,1,1,297,...,1,49,23,1,47,20,NaN,11.734211,5.333333,7.666667
18,3,379,NaN,1,7755,0.0,13,34,1,685,...,5,49,23,1,104,16,1.333333,23.462500,3.111111,12.000000
19,3,379,NaN,1,91749,0.0,19,100,1,6074,...,11,49,32,1,911,339,12.700000,29.937965,1.719697,12.000000
20,3,379,NaN,1,50694,0.0,18,9,1,1221,...,3,49,18,1,206,15,40.500000,15.685715,1.361111,8.333333
21,3,379,NaN,1,111385,0.0,18,4,1,2474,...,9,49,14,1,457,9,27.000000,35.277779,1.670330,8.500000
22,14,478,NaN,1,125222,0.0,3,123,1,171961,...,178,40,33,1,9398,152,10.685715,34.973465,1.335227,10.969697
23,3,379,NaN,1,191759,0.0,13,407,1,25290,...,37,49,38,1,4534,1105,8.079932,40.149372,0.656371,11.395349
24,3,379,NaN,1,53418,0.0,17,6,1,2572,...,5,49,25,1,450,31,20.250000,48.655914,1.571429,10.933333
25,3,379,NaN,1,183168,0.0,19,3,1,90,...,2,49,3,1,16,3,NaN,22.333334,0.500000,10.500000
26,3,379,NaN,1,47902,0.0,17,6,1,5766,...,14,49,23,1,1014,78,NaN,36.947884,1.311111,10.611111
27,3,379,NaN,1,209663,0.0,13,2679,1,173423,...,50,49,49,1,20297,3439,6.972166,38.278740,0.357150,9.660378
28,3,379,NaN,1,129614,0.0,20,10,1,2201,...,6,49,16,2,315,6,12.600000,46.966667,0.277778,9.777778
29,3,379,NaN,1,208347,0.0,19,31,1,2753,...,6,49,26,1,225,40,19.000000,23.419872,2.285714,12.428572
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203694329,27,153,18790438.0,1,51432,NaN,13,22,1,22,...,1,6,13,1,1,1,1.333333,NaN,NaN,15.000000
203694330,14,401,18790440.0,1,14334,NaN,19,274,1,2854,...,6,40,29,1,184,51,20.000000,29.783529,1.596491,10.000000
203694331,9,334,18790441.0,1,16749,NaN,13,46,1,1528,...,5,47,18,1,144,24,16.566668,37.389492,0.692308,11.923077
203694332,23,153,18790442.0,1,17814,NaN,13,260,1,11860,...,16,11,37,1,248,61,16.234848,39.937706,1.137158,9.728745
203694333,21,232,18790443.0,1,8825,NaN,13,41,3,2273,...,9,8,28,3,58,26,5.142857,34.038460,1.065217,12.000000
203694334,8,259,18790444.0,2,115536,NaN,13,4,1,1568,...,7,4,4,1,20,1,9.523809,NaN,0.500000,13.500000
203694335,2,205,18790445.0,1,121472,NaN,19,1789,1,90013,...,124,27,51,2,11842,2394,15.020443,28.733999,1.148887,10.458585
203694336,12,242,18790446.0,1,38000,NaN,12,7,1,1639,...,5,33,7,1,158,1,NaN,NaN,2.000000,11.000000
203694337,1,125,18790447.0,1,66176,NaN,19,304,6,18979,...,12,33,42,6,726,175,12.250000,31.029755,1.734210,13.550000
203694338,2,205,18790448.0,1,25553,NaN,22,114,1,49910,...,21,27,36,1,26695,1424,15.782972,47.541752,1.153579,10.893300
203694339,21,128,18790449.0,2,119531,NaN,19,878,1,162916,...,93,8,34,1,5645,1135,12.102192,33.909885,0.698123,11.571559
203694340,13,469,18790450.0,1,14062,NaN,53,1,1,4266,...,8,9,7,1,126,1,19.361111,NaN,1.418421,14.400000
203694341,14,442,18790451.0,1,48536,NaN,19,80,2,1748,...,7,40,29,2,104,24,21.928572,37.471016,1.839286,8.375000
203694342,1,125,18790452.0,1,93291,NaN,19,2245,7,38820,...,24,33,37,7,505,117,0.947619,36.501030,0.562217,14.576923
203694343,9,258,18790453.0,1,93291,NaN,19,2245,7,38820,...,24,47,37,7,2366,538,1.913846,28.743591,0.489648,13.385715
203694344,1,125,18790455.0,1,55874,NaN,22,60,6,13763,...,17,33,30,6,542,13,22.333334,40.474358,0.893281,10.869565
203694345,9,145,18790454.0,1,93291,NaN,19,2245,7,38820,...,24,47,37,7,2366,538,14.474748,28.743591,0.628307,13.357142
203694346,8,259,18790456.0,1,100697,NaN,18,17,1,3519,...,8,4,23,1,112,10,24.783333,1.655556,1.391304,12.565217
203694347,20,259,18790457.0,1,93291,NaN,19,2245,7,38820,...,24,7,37,7,216,35,10.317524,32.294117,0.435094,13.863095
203694348,2,452,18790458.0,1,85329,NaN,14,76,2,75986,...,127,27,31,2,14959,146,16.748381,31.969391,1.185620,10.833962
203694349,15,140,18790459.0,1,102467,NaN,17,173,6,40051,...,38,31,30,6,3676,151,7.014452,49.619778,1.066918,11.871875
203694350,9,445,18790460.0,1,80537,NaN,19,79,6,1048,...,7,47,23,6,103,16,60.500000,18.600000,2.000000,6.250000
203694351,2,237,18790462.0,2,101214,NaN,16,13,1,50215,...,95,27,18,1,7207,91,13.694435,25.020269,0.529386,9.665807
203694352,17,128,18790461.0,1,113418,NaN,17,60,2,13166,...,13,11,29,2,55,6,10.107617,0.300000,0.208669,11.375000
203694353,12,135,18790463.0,1,69245,NaN,13,100,1,4666,...,10,33,34,1,647,180,27.619047,36.789074,0.361111,8.666667
203694354,9,127,18790464.0,1,99442,NaN,13,5,2,377,...,3,47,21,2,35,11,20.000000,35.363636,0.000000,8.000000
203694355,23,153,18790465.0,1,88046,NaN,37,23,1,11288,...,16,11,25,1,224,13,14.522223,23.358974,1.207046,10.385651
203694356,18,265,18790467.0,1,81398,NaN,17,48,2,12192,...,16,20,26,2,1433,76,13.800467,21.325439,0.000000,11.692307
203694357,27,122,18790466.0,1,123236,NaN,13,13,1,963,...,4,6,23,1,4,1,60.500000,NaN,0.500000,7.500000
203694358,12,265,18790468.0,2,73516,NaN,27,172,1,839540,...,159,33,28,4,219988,1780,10.666474,35.386147,1.060851,10.977614

In [8]:
%%time
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

CPU times: user 36.5 s, sys: 2min 56s, total: 3min 32s
Wall time: 6min 16s

In [9]:
gc.collect()

95

In [10]:
%%time
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

CPU times: user 440 ms, sys: 12.6 s, total: 13 s
Wall time: 36.5 s

In [11]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
dtype: object

In [12]:
%%time
MOD = int(1e9+7)
df["ip_os_device_app_hash"] = (df["ip"].astype(str)+"_"+df["os"].astype(str)+"_"+df["device"].astype(str)+"_"+df["app"].astype(str)).apply(hash)%MOD

CPU times: user 11min 13s, sys: 1min 17s, total: 12min 31s
Wall time: 12min 29s

In [13]:
df["ip_os_device_app_hash"] = df["ip_os_device_app_hash"].astype("uint32")

In [14]:
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

# Add time difference features

In [15]:
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [16]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
ip_os_device_app_hash                            uint32
dtype: object

In [17]:
df = df[["dow", "hour", "minute", "second", "ip_os_device_app_hash"]]

In [18]:
df["click_time_second"] = df["dow"].astype("uint32")*24*60*60 + df["hour"].astype("uint32")*60*60 + df["minute"].astype("uint32")*60 + df["second"].astype("uint32")

In [19]:
df

           dow  hour  minute  second  ip_os_device_app_hash  click_time_second
0            0    14      32      21              210218720              52341
1            0    14      33      34              808483042              52414
2            0    14      34      12              307460829              52452
3            0    14      34      52              250305947              52492
4            0    14      35       8              950166762              52508
5            0    14      36      26               90009919              52586
6            0    14      37      44              228641874              52664
7            0    14      37      59              261270055              52679
8            0    14      38      10              797366259              52690
9            0    14      38      23               87040044              52703
10           0    14      38      27              703373851              52707
11           0    14      38      51              421834599              52731
12           0    14      39      29               53350628              52769
13           0    14      40      16              525619396              52816
14           0    14      40      39              261686900              52839
15           0    14      40      51              148285333              52851
16           0    14      43      10              422766655              52990
17           0    14      43      14              414809083              52994
18           0    14      43      25              708420029              53005
19           0    14      43      51              801700946              53031
20           0    14      44       2              324757871              53042
21           0    14      44      15              856957796              53055
22           0    14      44      51              900600158              53091
23           0    14      44      51              728458752              53091
24           0    14      44      52              239525365              53092
25           0    14      47      49              103618493              53269
26           0    14      48       7              438668861              53287
27           0    14      48      55              646730421              53335
28           0    14      49      36              118748906              53376
29           0    14      49      38              805033446              53378
...        ...   ...     ...     ...                    ...                ...
203694329    4    15       0       0              752962404             399600
203694330    4    15       0       0              549313512             399600
203694331    4    15       0       0              548970373             399600
203694332    4    15       0       0              205155878             399600
203694333    4    15       0       0              801565914             399600
203694334    4    15       0       0              693863440             399600
203694335    4    15       0       0              688138810             399600
203694336    4    15       0       0              564527887             399600
203694337    4    15       0       0              839451070             399600
203694338    4    15       0       0              313201353             399600
203694339    4    15       0       0              157056077             399600
203694340    4    15       0       0              892919986             399600
203694341    4    15       0       0              894558563             399600
203694342    4    15       0       0                7706636             399600
203694343    4    15       0       0              278384507             399600
203694344    4    15       0       0              535988662             399600
203694345    4    15       0       0              278384507             399600
203694346    4    15       0       0              659787144             399600
203694347    4    15       0       0              809767354             399600
203694348    4    15       0       0              392208433             399600
203694349    4    15       0       0              581401198             399600
203694350    4    15       0       0              262478344             399600
203694351    4    15       0       0              228142379             399600
203694352    4    15       0       0               61770718             399600
203694353    4    15       0       0              989795271             399600
203694354    4    15       0       0              840793395             399600
203694355    4    15       0       0              648439816             399600
203694356    4    15       0       0              454367243             399600
203694357    4    15       0       0              122167087             399600
203694358    4    15       0       0              811829443             399600

[203694359 rows x 6 columns]

In [20]:
%%time
df.sort_values(by=["ip_os_device_app_hash", "click_time_second"], inplace=True)

CPU times: user 4min 26s, sys: 16.6 s, total: 4min 43s
Wall time: 4min 43s

In [21]:
df

           dow  hour  minute  second  ip_os_device_app_hash  click_time_second
5983865      0    22      18       1                    111              80281
20255942     1     3      17      36                    111              98256
28230899     1     5      37      16                    111             106636
32910114     1     7      12       4                    111             112324
61244089     1    16      35      51                    111             146151
64804845     1    20      43      33                    111             161013
71205361     2     0      38      39                    111             175119
73762271     2     1      24      26                    111             177866
100583594    2     9      49      39                    111             208179
104020559    2    10      50      55                    111             211855
119066855    2    15       5       8                    111             227108
10683421     1     0      23      22                    156              87802
10816085     1     0      25      30                    156              87930
31655690     1     6      45      50                    156             110750
177130874    3    13      37      31                    196             308251
198427746    4    13      23      13                    196             393793
54789725     1    14      20       8                    218             138008
55543710     1    14      34      18                    237             138858
77985561     2     2      42      26                    237             182546
120265428    2    15      24      13                    237             228253
121983682    2    15      58       2                    237             230282
75021437     2     1      50       8                    254             179408
80671228     2     3      29      56                    254             185396
80671262     2     3      29      56                    254             185396
116017177    2    14      15       9                    254             224109
116794849    2    14      27      55                    254             224875
14016959     1     1      19      28                    262              91168
107443013    2    11      51      10                    367             215470
184064789    3    15      41      30                    388             315690
69134368     2     0       3      28                    401             173008
...        ...   ...     ...     ...                    ...                ...
35811637     1     8      11      17              999999770             115877
200299711    4    13      57      40              999999770             395860
171304442    3    11      54      30              999999773             302070
115385788    2    14       5       1              999999782             223501
117263532    2    14      35      43              999999782             225343
147660106    3     4      44      16              999999844             276256
154097689    3     6      28       4              999999844             282484
164612862    3     9      53      26              999999844             294806
164716103    3     9      55      21              999999844             294921
164734205    3     9      55      41              999999844             294941
184094199    3    15      42       8              999999844             315728
184181484    3    15      43      56              999999844             315836
184184258    3    15      43      59              999999844             315839
76251593     2     2      14       8              999999900             180848
76251759     2     2      14       8              999999900             180848
80239597     2     3      21      27              999999900             184887
91344922     2     6      47      45              999999900             197265
100261915    2     9      43      25              999999900             207805
100352995    2     9      45      10              999999900             207910
104891289    2    11       6      37              999999900             212797
115208879    2    14       2       8              999999900             223328
191329609    4     9       4      12              999999900             378252
194513437    4    10       8       7              999999900             382087
5504004      0    21      37      14              999999976              77834
120860410    2    15      35      18              999999976             228918
128821360    2    22      32      58              999999976             253978
185493020    4     4      10      28              999999976             360628
185669692    4     4      13      31              999999976             360811
185682216    4     4      13      44              999999976             360824
195825851    4    10      33      25              999999978             383605

[203694359 rows x 6 columns]

In [22]:
df["click_time_shift"] = df["click_time_second"].shift()

In [24]:
df["click_time_interval_ip_device_os_app_hash"] = df["click_time_second"] - df["click_time_shift"]

In [23]:
df["ip_os_device_app_hash_shift"] = df["ip_os_device_app_hash"].shift()

In [25]:
%%time
df["click_time_interval_ip_device_os_app_hash"].where(df["ip_os_device_app_hash"]==df["ip_os_device_app_hash_shift"], np.nan, inplace=True)

CPU times: user 1.84 s, sys: 644 ms, total: 2.48 s
Wall time: 2.48 s

In [26]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_shift,ip_os_device_app_hash_shift,click_time_interval_ip_device_os_app_hash
5983865,0,22,18,1,111,80281,NaN,NaN,NaN
20255942,1,3,17,36,111,98256,80281.0,111.0,17975.0
28230899,1,5,37,16,111,106636,98256.0,111.0,8380.0
32910114,1,7,12,4,111,112324,106636.0,111.0,5688.0
61244089,1,16,35,51,111,146151,112324.0,111.0,33827.0
64804845,1,20,43,33,111,161013,146151.0,111.0,14862.0
71205361,2,0,38,39,111,175119,161013.0,111.0,14106.0
73762271,2,1,24,26,111,177866,175119.0,111.0,2747.0
100583594,2,9,49,39,111,208179,177866.0,111.0,30313.0
104020559,2,10,50,55,111,211855,208179.0,111.0,3676.0
119066855,2,15,5,8,111,227108,211855.0,111.0,15253.0
10683421,1,0,23,22,156,87802,227108.0,111.0,NaN
10816085,1,0,25,30,156,87930,87802.0,156.0,128.0
31655690,1,6,45,50,156,110750,87930.0,156.0,22820.0
177130874,3,13,37,31,196,308251,110750.0,156.0,NaN
198427746,4,13,23,13,196,393793,308251.0,196.0,85542.0
54789725,1,14,20,8,218,138008,393793.0,196.0,NaN
55543710,1,14,34,18,237,138858,138008.0,218.0,NaN
77985561,2,2,42,26,237,182546,138858.0,237.0,43688.0
120265428,2,15,24,13,237,228253,182546.0,237.0,45707.0
121983682,2,15,58,2,237,230282,228253.0,237.0,2029.0
75021437,2,1,50,8,254,179408,230282.0,237.0,NaN
80671228,2,3,29,56,254,185396,179408.0,254.0,5988.0
80671262,2,3,29,56,254,185396,185396.0,254.0,0.0
116017177,2,14,15,9,254,224109,185396.0,254.0,38713.0
116794849,2,14,27,55,254,224875,224109.0,254.0,766.0
14016959,1,1,19,28,262,91168,224875.0,254.0,NaN
107443013,2,11,51,10,367,215470,91168.0,262.0,NaN
184064789,3,15,41,30,388,315690,215470.0,367.0,NaN
69134368,2,0,3,28,401,173008,315690.0,388.0,NaN
...,...,...,...,...,...,...,...,...,...
35811637,1,8,11,17,999999770,115877,227321.0,999999764.0,NaN
200299711,4,13,57,40,999999770,395860,115877.0,999999770.0,279983.0
171304442,3,11,54,30,999999773,302070,395860.0,999999770.0,NaN
115385788,2,14,5,1,999999782,223501,302070.0,999999773.0,NaN
117263532,2,14,35,43,999999782,225343,223501.0,999999782.0,1842.0
147660106,3,4,44,16,999999844,276256,225343.0,999999782.0,NaN
154097689,3,6,28,4,999999844,282484,276256.0,999999844.0,6228.0
164612862,3,9,53,26,999999844,294806,282484.0,999999844.0,12322.0
164716103,3,9,55,21,999999844,294921,294806.0,999999844.0,115.0
164734205,3,9,55,41,999999844,294941,294921.0,999999844.0,20.0
184094199,3,15,42,8,999999844,315728,294941.0,999999844.0,20787.0
184181484,3,15,43,56,999999844,315836,315728.0,999999844.0,108.0
184184258,3,15,43,59,999999844,315839,315836.0,999999844.0,3.0
76251593,2,2,14,8,999999900,180848,315839.0,999999844.0,NaN
76251759,2,2,14,8,999999900,180848,180848.0,999999900.0,0.0
80239597,2,3,21,27,999999900,184887,180848.0,999999900.0,4039.0
91344922,2,6,47,45,999999900,197265,184887.0,999999900.0,12378.0
100261915,2,9,43,25,999999900,207805,197265.0,999999900.0,10540.0
100352995,2,9,45,10,999999900,207910,207805.0,999999900.0,105.0
104891289,2,11,6,37,999999900,212797,207910.0,999999900.0,4887.0
115208879,2,14,2,8,999999900,223328,212797.0,999999900.0,10531.0
191329609,4,9,4,12,999999900,378252,223328.0,999999900.0,154924.0
194513437,4,10,8,7,999999900,382087,378252.0,999999900.0,3835.0
5504004,0,21,37,14,999999976,77834,382087.0,999999900.0,NaN
120860410,2,15,35,18,999999976,228918,77834.0,999999976.0,151084.0
128821360,2,22,32,58,999999976,253978,228918.0,999999976.0,25060.0
185493020,4,4,10,28,999999976,360628,253978.0,999999976.0,106650.0
185669692,4,4,13,31,999999976,360811,360628.0,999999976.0,183.0
185682216,4,4,13,44,999999976,360824,360811.0,999999976.0,13.0
195825851,4,10,33,25,999999978,383605,360824.0,999999976.0,NaN

In [27]:
df["first_click_interval_ip_device_os_app_hash"] = df["click_time_interval_ip_device_os_app_hash"].isnull()

In [28]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_shift,ip_os_device_app_hash_shift,click_time_interval_ip_device_os_app_hash,first_click_interval_ip_device_os_app_hash
5983865,0,22,18,1,111,80281,NaN,NaN,NaN,True
20255942,1,3,17,36,111,98256,80281.0,111.0,17975.0,False
28230899,1,5,37,16,111,106636,98256.0,111.0,8380.0,False
32910114,1,7,12,4,111,112324,106636.0,111.0,5688.0,False
61244089,1,16,35,51,111,146151,112324.0,111.0,33827.0,False
64804845,1,20,43,33,111,161013,146151.0,111.0,14862.0,False
71205361,2,0,38,39,111,175119,161013.0,111.0,14106.0,False
73762271,2,1,24,26,111,177866,175119.0,111.0,2747.0,False
100583594,2,9,49,39,111,208179,177866.0,111.0,30313.0,False
104020559,2,10,50,55,111,211855,208179.0,111.0,3676.0,False
119066855,2,15,5,8,111,227108,211855.0,111.0,15253.0,False
10683421,1,0,23,22,156,87802,227108.0,111.0,NaN,True
10816085,1,0,25,30,156,87930,87802.0,156.0,128.0,False
31655690,1,6,45,50,156,110750,87930.0,156.0,22820.0,False
177130874,3,13,37,31,196,308251,110750.0,156.0,NaN,True
198427746,4,13,23,13,196,393793,308251.0,196.0,85542.0,False
54789725,1,14,20,8,218,138008,393793.0,196.0,NaN,True
55543710,1,14,34,18,237,138858,138008.0,218.0,NaN,True
77985561,2,2,42,26,237,182546,138858.0,237.0,43688.0,False
120265428,2,15,24,13,237,228253,182546.0,237.0,45707.0,False
121983682,2,15,58,2,237,230282,228253.0,237.0,2029.0,False
75021437,2,1,50,8,254,179408,230282.0,237.0,NaN,True
80671228,2,3,29,56,254,185396,179408.0,254.0,5988.0,False
80671262,2,3,29,56,254,185396,185396.0,254.0,0.0,False
116017177,2,14,15,9,254,224109,185396.0,254.0,38713.0,False
116794849,2,14,27,55,254,224875,224109.0,254.0,766.0,False
14016959,1,1,19,28,262,91168,224875.0,254.0,NaN,True
107443013,2,11,51,10,367,215470,91168.0,262.0,NaN,True
184064789,3,15,41,30,388,315690,215470.0,367.0,NaN,True
69134368,2,0,3,28,401,173008,315690.0,388.0,NaN,True
...,...,...,...,...,...,...,...,...,...,...
35811637,1,8,11,17,999999770,115877,227321.0,999999764.0,NaN,True
200299711,4,13,57,40,999999770,395860,115877.0,999999770.0,279983.0,False
171304442,3,11,54,30,999999773,302070,395860.0,999999770.0,NaN,True
115385788,2,14,5,1,999999782,223501,302070.0,999999773.0,NaN,True
117263532,2,14,35,43,999999782,225343,223501.0,999999782.0,1842.0,False
147660106,3,4,44,16,999999844,276256,225343.0,999999782.0,NaN,True
154097689,3,6,28,4,999999844,282484,276256.0,999999844.0,6228.0,False
164612862,3,9,53,26,999999844,294806,282484.0,999999844.0,12322.0,False
164716103,3,9,55,21,999999844,294921,294806.0,999999844.0,115.0,False
164734205,3,9,55,41,999999844,294941,294921.0,999999844.0,20.0,False
184094199,3,15,42,8,999999844,315728,294941.0,999999844.0,20787.0,False
184181484,3,15,43,56,999999844,315836,315728.0,999999844.0,108.0,False
184184258,3,15,43,59,999999844,315839,315836.0,999999844.0,3.0,False
76251593,2,2,14,8,999999900,180848,315839.0,999999844.0,NaN,True
76251759,2,2,14,8,999999900,180848,180848.0,999999900.0,0.0,False
80239597,2,3,21,27,999999900,184887,180848.0,999999900.0,4039.0,False
91344922,2,6,47,45,999999900,197265,184887.0,999999900.0,12378.0,False
100261915,2,9,43,25,999999900,207805,197265.0,999999900.0,10540.0,False
100352995,2,9,45,10,999999900,207910,207805.0,999999900.0,105.0,False
104891289,2,11,6,37,999999900,212797,207910.0,999999900.0,4887.0,False
115208879,2,14,2,8,999999900,223328,212797.0,999999900.0,10531.0,False
191329609,4,9,4,12,999999900,378252,223328.0,999999900.0,154924.0,False
194513437,4,10,8,7,999999900,382087,378252.0,999999900.0,3835.0,False
5504004,0,21,37,14,999999976,77834,382087.0,999999900.0,NaN,True
120860410,2,15,35,18,999999976,228918,77834.0,999999976.0,151084.0,False
128821360,2,22,32,58,999999976,253978,228918.0,999999976.0,25060.0,False
185493020,4,4,10,28,999999976,360628,253978.0,999999976.0,106650.0,False
185669692,4,4,13,31,999999976,360811,360628.0,999999976.0,183.0,False
185682216,4,4,13,44,999999976,360824,360811.0,999999976.0,13.0,False
195825851,4,10,33,25,999999978,383605,360824.0,999999976.0,NaN,True

In [29]:
df.drop(columns=["ip_os_device_app_hash_shift", "click_time_shift"], inplace=True)

In [30]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_interval_ip_device_os_app_hash,first_click_interval_ip_device_os_app_hash
5983865,0,22,18,1,111,80281,NaN,True
20255942,1,3,17,36,111,98256,17975.0,False
28230899,1,5,37,16,111,106636,8380.0,False
32910114,1,7,12,4,111,112324,5688.0,False
61244089,1,16,35,51,111,146151,33827.0,False
64804845,1,20,43,33,111,161013,14862.0,False
71205361,2,0,38,39,111,175119,14106.0,False
73762271,2,1,24,26,111,177866,2747.0,False
100583594,2,9,49,39,111,208179,30313.0,False
104020559,2,10,50,55,111,211855,3676.0,False
119066855,2,15,5,8,111,227108,15253.0,False
10683421,1,0,23,22,156,87802,NaN,True
10816085,1,0,25,30,156,87930,128.0,False
31655690,1,6,45,50,156,110750,22820.0,False
177130874,3,13,37,31,196,308251,NaN,True
198427746,4,13,23,13,196,393793,85542.0,False
54789725,1,14,20,8,218,138008,NaN,True
55543710,1,14,34,18,237,138858,NaN,True
77985561,2,2,42,26,237,182546,43688.0,False
120265428,2,15,24,13,237,228253,45707.0,False
121983682,2,15,58,2,237,230282,2029.0,False
75021437,2,1,50,8,254,179408,NaN,True
80671228,2,3,29,56,254,185396,5988.0,False
80671262,2,3,29,56,254,185396,0.0,False
116017177,2,14,15,9,254,224109,38713.0,False
116794849,2,14,27,55,254,224875,766.0,False
14016959,1,1,19,28,262,91168,NaN,True
107443013,2,11,51,10,367,215470,NaN,True
184064789,3,15,41,30,388,315690,NaN,True
69134368,2,0,3,28,401,173008,NaN,True
...,...,...,...,...,...,...,...,...
35811637,1,8,11,17,999999770,115877,NaN,True
200299711,4,13,57,40,999999770,395860,279983.0,False
171304442,3,11,54,30,999999773,302070,NaN,True
115385788,2,14,5,1,999999782,223501,NaN,True
117263532,2,14,35,43,999999782,225343,1842.0,False
147660106,3,4,44,16,999999844,276256,NaN,True
154097689,3,6,28,4,999999844,282484,6228.0,False
164612862,3,9,53,26,999999844,294806,12322.0,False
164716103,3,9,55,21,999999844,294921,115.0,False
164734205,3,9,55,41,999999844,294941,20.0,False
184094199,3,15,42,8,999999844,315728,20787.0,False
184181484,3,15,43,56,999999844,315836,108.0,False
184184258,3,15,43,59,999999844,315839,3.0,False
76251593,2,2,14,8,999999900,180848,NaN,True
76251759,2,2,14,8,999999900,180848,0.0,False
80239597,2,3,21,27,999999900,184887,4039.0,False
91344922,2,6,47,45,999999900,197265,12378.0,False
100261915,2,9,43,25,999999900,207805,10540.0,False
100352995,2,9,45,10,999999900,207910,105.0,False
104891289,2,11,6,37,999999900,212797,4887.0,False
115208879,2,14,2,8,999999900,223328,10531.0,False
191329609,4,9,4,12,999999900,378252,154924.0,False
194513437,4,10,8,7,999999900,382087,3835.0,False
5504004,0,21,37,14,999999976,77834,NaN,True
120860410,2,15,35,18,999999976,228918,151084.0,False
128821360,2,22,32,58,999999976,253978,25060.0,False
185493020,4,4,10,28,999999976,360628,106650.0,False
185669692,4,4,13,31,999999976,360811,183.0,False
185682216,4,4,13,44,999999976,360824,13.0,False
195825851,4,10,33,25,999999978,383605,NaN,True

In [31]:
df["click_time_interval_ip_device_os_app_hash"].max()

341856.0

In [32]:
df["click_time_interval_ip_device_os_app_hash"].fillna(1e9+7, inplace=True)

In [33]:
df["click_time_interval_ip_device_os_app_hash"] = df["click_time_interval_ip_device_os_app_hash"].astype("uint32")

In [34]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_interval_ip_device_os_app_hash,first_click_interval_ip_device_os_app_hash
5983865,0,22,18,1,111,80281,1000000007,True
20255942,1,3,17,36,111,98256,17975,False
28230899,1,5,37,16,111,106636,8380,False
32910114,1,7,12,4,111,112324,5688,False
61244089,1,16,35,51,111,146151,33827,False
64804845,1,20,43,33,111,161013,14862,False
71205361,2,0,38,39,111,175119,14106,False
73762271,2,1,24,26,111,177866,2747,False
100583594,2,9,49,39,111,208179,30313,False
104020559,2,10,50,55,111,211855,3676,False
119066855,2,15,5,8,111,227108,15253,False
10683421,1,0,23,22,156,87802,1000000007,True
10816085,1,0,25,30,156,87930,128,False
31655690,1,6,45,50,156,110750,22820,False
177130874,3,13,37,31,196,308251,1000000007,True
198427746,4,13,23,13,196,393793,85542,False
54789725,1,14,20,8,218,138008,1000000007,True
55543710,1,14,34,18,237,138858,1000000007,True
77985561,2,2,42,26,237,182546,43688,False
120265428,2,15,24,13,237,228253,45707,False
121983682,2,15,58,2,237,230282,2029,False
75021437,2,1,50,8,254,179408,1000000007,True
80671228,2,3,29,56,254,185396,5988,False
80671262,2,3,29,56,254,185396,0,False
116017177,2,14,15,9,254,224109,38713,False
116794849,2,14,27,55,254,224875,766,False
14016959,1,1,19,28,262,91168,1000000007,True
107443013,2,11,51,10,367,215470,1000000007,True
184064789,3,15,41,30,388,315690,1000000007,True
69134368,2,0,3,28,401,173008,1000000007,True
...,...,...,...,...,...,...,...,...
35811637,1,8,11,17,999999770,115877,1000000007,True
200299711,4,13,57,40,999999770,395860,279983,False
171304442,3,11,54,30,999999773,302070,1000000007,True
115385788,2,14,5,1,999999782,223501,1000000007,True
117263532,2,14,35,43,999999782,225343,1842,False
147660106,3,4,44,16,999999844,276256,1000000007,True
154097689,3,6,28,4,999999844,282484,6228,False
164612862,3,9,53,26,999999844,294806,12322,False
164716103,3,9,55,21,999999844,294921,115,False
164734205,3,9,55,41,999999844,294941,20,False
184094199,3,15,42,8,999999844,315728,20787,False
184181484,3,15,43,56,999999844,315836,108,False
184184258,3,15,43,59,999999844,315839,3,False
76251593,2,2,14,8,999999900,180848,1000000007,True
76251759,2,2,14,8,999999900,180848,0,False
80239597,2,3,21,27,999999900,184887,4039,False
91344922,2,6,47,45,999999900,197265,12378,False
100261915,2,9,43,25,999999900,207805,10540,False
100352995,2,9,45,10,999999900,207910,105,False
104891289,2,11,6,37,999999900,212797,4887,False
115208879,2,14,2,8,999999900,223328,10531,False
191329609,4,9,4,12,999999900,378252,154924,False
194513437,4,10,8,7,999999900,382087,3835,False
5504004,0,21,37,14,999999976,77834,1000000007,True
120860410,2,15,35,18,999999976,228918,151084,False
128821360,2,22,32,58,999999976,253978,25060,False
185493020,4,4,10,28,999999976,360628,106650,False
185669692,4,4,13,31,999999976,360811,183,False
185682216,4,4,13,44,999999976,360824,13,False
195825851,4,10,33,25,999999978,383605,1000000007,True

In [35]:
df.sort_index(inplace=True)

In [36]:
df

,dow,hour,minute,second,ip_os_device_app_hash,click_time_second,click_time_interval_ip_device_os_app_hash,first_click_interval_ip_device_os_app_hash
0,0,14,32,21,210218720,52341,1000000007,True
1,0,14,33,34,808483042,52414,1000000007,True
2,0,14,34,12,307460829,52452,1000000007,True
3,0,14,34,52,250305947,52492,1000000007,True
4,0,14,35,8,950166762,52508,1000000007,True
5,0,14,36,26,90009919,52586,1000000007,True
6,0,14,37,44,228641874,52664,1000000007,True
7,0,14,37,59,261270055,52679,1000000007,True
8,0,14,38,10,797366259,52690,1000000007,True
9,0,14,38,23,87040044,52703,1000000007,True
10,0,14,38,27,703373851,52707,1000000007,True
11,0,14,38,51,421834599,52731,1000000007,True
12,0,14,39,29,53350628,52769,1000000007,True
13,0,14,40,16,525619396,52816,1000000007,True
14,0,14,40,39,261686900,52839,1000000007,True
15,0,14,40,51,148285333,52851,1000000007,True
16,0,14,43,10,422766655,52990,1000000007,True
17,0,14,43,14,414809083,52994,1000000007,True
18,0,14,43,25,708420029,53005,1000000007,True
19,0,14,43,51,801700946,53031,1000000007,True
20,0,14,44,2,324757871,53042,1000000007,True
21,0,14,44,15,856957796,53055,1000000007,True
22,0,14,44,51,900600158,53091,1000000007,True
23,0,14,44,51,728458752,53091,1000000007,True
24,0,14,44,52,239525365,53092,1000000007,True
25,0,14,47,49,103618493,53269,1000000007,True
26,0,14,48,7,438668861,53287,1000000007,True
27,0,14,48,55,646730421,53335,1000000007,True
28,0,14,49,36,118748906,53376,1000000007,True
29,0,14,49,38,805033446,53378,1000000007,True
...,...,...,...,...,...,...,...,...
203694329,4,15,0,0,752962404,399600,1000000007,True
203694330,4,15,0,0,549313512,399600,469,False
203694331,4,15,0,0,548970373,399600,3296,False
203694332,4,15,0,0,205155878,399600,382,False
203694333,4,15,0,0,801565914,399600,18981,False
203694334,4,15,0,0,693863440,399600,1000000007,True
203694335,4,15,0,0,688138810,399600,76,False
203694336,4,15,0,0,564527887,399600,1000000007,True
203694337,4,15,0,0,839451070,399600,4074,False
203694338,4,15,0,0,313201353,399600,32,False
203694339,4,15,0,0,157056077,399600,152,False
203694340,4,15,0,0,892919986,399600,1000000007,True
203694341,4,15,0,0,894558563,399600,4026,False
203694342,4,15,0,0,7706636,399600,776,False
203694343,4,15,0,0,278384507,399600,0,False
203694344,4,15,0,0,535988662,399600,36707,False
203694345,4,15,0,0,278384507,399600,0,False
203694346,4,15,0,0,659787144,399600,32,False
203694347,4,15,0,0,809767354,399600,39194,False
203694348,4,15,0,0,392208433,399600,7,False
203694349,4,15,0,0,581401198,399600,5195,False
203694350,4,15,0,0,262478344,399600,0,False
203694351,4,15,0,0,228142379,399600,16506,False
203694352,4,15,0,0,61770718,399600,29,False
203694353,4,15,0,0,989795271,399600,16,False
203694354,4,15,0,0,840793395,399600,1305,False
203694355,4,15,0,0,648439816,399600,36822,False
203694356,4,15,0,0,454367243,399600,0,False
203694357,4,15,0,0,122167087,399600,1000000007,True
203694358,4,15,0,0,811829443,399600,564,False

In [37]:
df[["click_time_interval_ip_device_os_app_hash", "first_click_interval_ip_device_os_app_hash"]].to_hdf("../data/click_time_interval_ip_device_os_app_hash.hdf", "click_time_interval_ip_device_os_app_hash")

In [38]:
gc.collect()

200

# Add first click features

In [39]:
import pandas as pd
df = pd.read_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [40]:
df["is_attributed"].fillna(0.0, inplace=True)
df["is_attributed"] = (df["is_attributed"] == 1.0)

In [41]:
df["is_attributed"] = df["is_attributed"].astype("uint8")

In [42]:
df["click_id"].fillna(1e9+7, inplace=True)

In [43]:
df["click_id"] = df["click_id"].astype("uint32")

In [44]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                         uint32
device                                           uint16
ip                                               uint32
is_attributed                                     uint8
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
ip_os_device_app_hash                            uint32
dtype: object

In [45]:
df["click_time_interval_by_ip"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip"] = df["click_time_interval_by_ip"].astype("uint32")
df["click_time_interval_by_ip_os_device"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip_os_device"] = df["click_time_interval_by_ip_os_device"].astype("uint32")
df["click_time_interval_by_ip_os_device_dow"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip_os_device_dow"] = df["click_time_interval_by_ip_os_device_dow"].astype("uint32")
df["click_time_interval_by_ip_os_device_dow_hour"].fillna(1e9+7, inplace=True)
df["click_time_interval_by_ip_os_device_dow_hour"] = df["click_time_interval_by_ip_os_device_dow_hour"].astype("uint32")

In [46]:
df.dtypes

app                                              uint16
channel                                          uint16
click_id                                         uint32
device                                           uint16
ip                                               uint32
is_attributed                                     uint8
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                        uint32
click_time_interval_by_ip_os_device              uint32
click_time_interval_by_ip_os_device_dow          uint32
click_time_interval_by_ip_os_device_dow_hour     uint32
ip_device_os_cumcount                            uint32
ip_cumcount                                      uint32
ip_channel_countuniq                              uint8
ip_dow_hour_countuniq                             uint8
ip_app_countuniq                                  uint8
ip_app_os_countuniq                               uint8
ip_device_countuniq                              uint16
app_channel_countuniq                            uint32
ip_device_os_app_countuniq                       uint32
ip_dow_hour_count                                uint32
ip_app_count                                     uint32
ip_app_os_count                                  uint16
ip_dow_channel_var                              float32
ip_app_os_var                                   float32
ip_app_channel_var                              float32
ip_app_channel_mean                             float32
ip_os_device_app_hash                            uint32
dtype: object

In [47]:
df["first_click_by_ip"] = df["click_time_interval_by_ip"]==1e9+7
df["first_click_by_ip_os_device"] = df["click_time_interval_by_ip_os_device"]==1e9+7
df["first_click_by_ip_os_device_dow"] = df["click_time_interval_by_ip_os_device_dow"]==1e9+7
df["first_click_by_ip_os_device_dow_hour"] = df["click_time_interval_by_ip_os_device_dow_hour"]==1e9+7

In [48]:
df.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

# Add categorical features

import pandas as pd

%%time
df = pd.read_feather("../data/basic_table")

%%time
df["ip_str"] = df["ip"].astype(str)

%%time
df["os_str"] = df["os"].astype(str)

%%time
df["device_str"] = df["device"].astype(str)

%%time
df["app_str"] = df["app"].astype(str)

df.dtypes

%%time
df["channel_str"] = df["channel"].astype(str)

df["ip_os_device_str"] = df["ip_str"]+" "+df["os_str"]+" "+df["device_str"]

%%time
df["ip_os_device_app_str"] = (df["ip_str"]+" "
                              +df["os_str"]+" "
                              +df["device_str"]+" "
                              +df["app_str"])

df.dtypes

%%time
df["ip_os_device_categorical"] = pd.Categorical(df["ip_os_device_str"]).codes

%%time
df["ip_os_device_app_categorical"] = pd.Categorical(df["ip_os_device_app_str"]).codes

%%time
df["app_channel_str"] = df["app_str"]+" "+df["channel_str"]

df.dtypes

%%time
df["app_channel_categorical"] = pd.Categorical(df["app_channel_str"]).codes

df.dtypes

%%time
df["ip_os_channel_str"] = (df["ip_str"]+" "
                              +df["os_str"]+" "
                              +df["channel_str"])

%%time
df["ip_os_device_channel_str"] = (df["ip_str"]+" "
                              +df["os_str"]+" "
                              +df["device_str"]+" "
                              +df["channel_str"])

df.dtypes

%%time
df["ip_os_channel_categorical"] = pd.Categorical(df["ip_os_channel_str"]).codes

%%time
df["ip_os_device_channel_categorical"] = pd.Categorical(df["ip_os_device_channel_str"]).codes

df.dtypes

df.drop(columns=["ip_os_device_str", "ip_os_device_app_str", "app_channel_str", "ip_os_channel_str", "ip_os_device_channel_str"], inplace=True)

df.dtypes

import gc
gc.collect()

df.dtypes

%%time
df.sort_index(axis=1, inplace=True)

df

df.dtypes

df["os_device_categorical"] = pd.Categorical(df["os_str"]+" "+df["device_str"]).codes

df["os_device_app_categorical"] =pd.Categorical(
                                    df["os_str"]+" "+
                                    df["device_str"]+" "+
                                    df["app_str"]).codes

df.dtypes

columns = ["ip", "os", "device", "app", "channel"]
n = len(columns)

In [1]:
%%time
import pandas as pd
from logzero import logger
df = pd.read_feather("../data/basic_table")

CPU times: user 892 ms, sys: 1.08 s, total: 1.98 s
Wall time: 1.98 s

In [2]:
df.dtypes

app              uint16
channel          uint16
click_id         uint32
device           uint16
ip               uint32
is_attributed     uint8
os               uint16
dtype: object

In [3]:
%%time
logger.info("app")
df["app"] = df["app"].astype(str)
logger.info("os")
df["os"] = df["os"].astype(str)
logger.info("device")
df["device"] = df["device"].astype(str)
logger.info("channel")
df["channel"] = df["channel"].astype(str)
logger.info("ip")
df["ip"] = df["ip"].astype(str)

[I 180429 11:44:23 <timed exec>:1] app
[I 180429 11:46:59 <timed exec>:3] os
[I 180429 11:49:35 <timed exec>:5] device
[I 180429 11:52:03 <timed exec>:7] channel
[I 180429 11:54:45 <timed exec>:9] ip

CPU times: user 12min 34s, sys: 32.5 s, total: 13min 6s
Wall time: 13min 3s

In [4]:
df.dtypes

app              object
channel          object
click_id         uint32
device           object
ip               object
is_attributed     uint8
os               object
dtype: object

In [5]:
columns = ["ip", "os", "device", "app", "channel"]
n = len(columns)

In [6]:
logger.info("started")
for i in range(n):
    for j in range(i+1, n):
        ci=columns[i]
        cj=columns[j]
        feature="{}_{}".format(ci, cj)
        logger.info("{} started".format(feature))
        df[feature] = pd.Categorical(df[ci]+"_"+df[cj]).codes
        logger.info("{} finished".format(feature))

[I 180429 11:57:27 <ipython-input-6-e942d1df4103>:1] started
[I 180429 11:57:27 <ipython-input-6-e942d1df4103>:7] ip_os started
[I 180429 11:59:02 <ipython-input-6-e942d1df4103>:9] ip_os finished
[I 180429 11:59:02 <ipython-input-6-e942d1df4103>:7] ip_device started
[I 180429 12:01:06 <ipython-input-6-e942d1df4103>:9] ip_device finished
[I 180429 12:01:06 <ipython-input-6-e942d1df4103>:7] ip_app started
[I 180429 12:03:26 <ipython-input-6-e942d1df4103>:9] ip_app finished
[I 180429 12:03:26 <ipython-input-6-e942d1df4103>:7] ip_channel started
[I 180429 12:06:17 <ipython-input-6-e942d1df4103>:9] ip_channel finished
[I 180429 12:06:17 <ipython-input-6-e942d1df4103>:7] os_device started
[I 180429 12:09:34 <ipython-input-6-e942d1df4103>:9] os_device finished
[I 180429 12:09:34 <ipython-input-6-e942d1df4103>:7] os_app started
[I 180429 12:12:54 <ipython-input-6-e942d1df4103>:9] os_app finished
[I 180429 12:12:54 <ipython-input-6-e942d1df4103>:7] os_channel started
[I 180429 12:16:14 <ipython-input-6-e942d1df4103>:9] os_channel finished
[I 180429 12:16:14 <ipython-input-6-e942d1df4103>:7] device_app started
[I 180429 12:19:31 <ipython-input-6-e942d1df4103>:9] device_app finished
[I 180429 12:19:31 <ipython-input-6-e942d1df4103>:7] device_channel started
[I 180429 12:22:51 <ipython-input-6-e942d1df4103>:9] device_channel finished
[I 180429 12:22:51 <ipython-input-6-e942d1df4103>:7] app_channel started
[I 180429 12:26:12 <ipython-input-6-e942d1df4103>:9] app_channel finished

In [7]:
df.dtypes

app               object
channel           object
click_id          uint32
device            object
ip                object
is_attributed      uint8
os                object
ip_os              int32
ip_device          int32
ip_app             int32
ip_channel         int32
os_device          int16
os_app             int16
os_channel         int16
device_app         int16
device_channel     int16
app_channel        int16
dtype: object

In [8]:
import gc
gc.collect()

133

In [9]:
twos = ["{}_{}".format(columns[i], columns[j]) for i in range(n) for j in range(i+1, n)]

In [10]:
for two in twos:
    logger.info("{} {}".format(two, df[two].max()))

[I 180429 12:28:27 <ipython-input-10-80b0f64acc4d>:2] ip_os 3260003
[I 180429 12:28:28 <ipython-input-10-80b0f64acc4d>:2] ip_device 795046
[I 180429 12:28:29 <ipython-input-10-80b0f64acc4d>:2] ip_app 4135195
[I 180429 12:28:30 <ipython-input-10-80b0f64acc4d>:2] ip_channel 8419361
[I 180429 12:28:31 <ipython-input-10-80b0f64acc4d>:2] os_device 5897
[I 180429 12:28:32 <ipython-input-10-80b0f64acc4d>:2] os_app 14638
[I 180429 12:28:33 <ipython-input-10-80b0f64acc4d>:2] os_channel 19725
[I 180429 12:28:33 <ipython-input-10-80b0f64acc4d>:2] device_app 13140
[I 180429 12:28:34 <ipython-input-10-80b0f64acc4d>:2] device_channel 11565
[I 180429 12:28:35 <ipython-input-10-80b0f64acc4d>:2] app_channel 1456

In [11]:
df.drop(columns=["click_id", "is_attributed"], inplace=True)

In [12]:
gc.collect()

104

In [13]:
df["app"] = pd.Categorical(df["app"]).codes
logger.info("app")
df["os"] = pd.Categorical(df["os"]).codes
logger.info("os")
df["device"] = pd.Categorical(df["device"]).codes
logger.info("device")
df["channel"] = pd.Categorical(df["channel"]).codes
logger.info("channel")
df["ip"] = pd.Categorical(df["ip"]).codes
logger.info("ip")

[I 180429 12:30:30 <ipython-input-13-e56391e1c60f>:2] app
[I 180429 12:30:57 <ipython-input-13-e56391e1c60f>:4] os
[I 180429 12:31:19 <ipython-input-13-e56391e1c60f>:6] device
[I 180429 12:31:39 <ipython-input-13-e56391e1c60f>:8] channel
[I 180429 12:32:08 <ipython-input-13-e56391e1c60f>:10] ip

In [14]:
df = df.astype("uint64")

In [15]:
ones = columns
n = len(ones)

In [16]:
df.max()

app                   729
channel               201
device               3798
ip                 333167
os                    855
ip_os             3260003
ip_device          795046
ip_app            4135195
ip_channel        8419361
os_device            5897
os_app              14638
os_channel          19725
device_app          13140
device_channel      11565
app_channel          1456
dtype: uint64

In [17]:
for i in range(n):
    for j in range(i+1, n):
        for k in range(j+1, n):
            feature="{}_{}_{}".format(ones[i], ones[j], ones[k])
            one = ones[i]
            two = "{}_{}".format(ones[j], ones[k])
            logger.info(feature)
            df[feature] = pd.Categorical(df[one]*10000000+df[two]).codes
            logger.info("done")

[I 180429 12:33:12 <ipython-input-17-402fd42ae267>:7] ip_os_device
[I 180429 12:33:31 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:33:31 <ipython-input-17-402fd42ae267>:7] ip_os_app
[I 180429 12:34:02 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:34:02 <ipython-input-17-402fd42ae267>:7] ip_os_channel
[I 180429 12:34:52 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:34:52 <ipython-input-17-402fd42ae267>:7] ip_device_app
[I 180429 12:35:07 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:35:07 <ipython-input-17-402fd42ae267>:7] ip_device_channel
[I 180429 12:35:28 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:35:28 <ipython-input-17-402fd42ae267>:7] ip_app_channel
[I 180429 12:35:53 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:35:53 <ipython-input-17-402fd42ae267>:7] os_device_app
[I 180429 12:36:01 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:36:01 <ipython-input-17-402fd42ae267>:7] os_device_channel
[I 180429 12:36:09 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:36:09 <ipython-input-17-402fd42ae267>:7] os_app_channel
[I 180429 12:36:17 <ipython-input-17-402fd42ae267>:9] done
[I 180429 12:36:17 <ipython-input-17-402fd42ae267>:7] device_app_channel
[I 180429 12:36:25 <ipython-input-17-402fd42ae267>:9] done

In [18]:
df.max()

app                        729.0
channel                    201.0
device                    3798.0
ip                      333167.0
os                         855.0
ip_os                  3260003.0
ip_device               795046.0
ip_app                 4135195.0
ip_channel             8419361.0
os_device                 5897.0
os_app                   14638.0
os_channel               19725.0
device_app               13140.0
device_channel           11565.0
app_channel               1456.0
ip_os_device           3669417.0
ip_os_app             23835240.0
ip_os_channel         43803139.0
ip_device_app          4795604.0
ip_device_channel      9446113.0
ip_app_channel        13206832.0
os_device_app            32952.0
os_device_channel        44789.0
os_app_channel           43287.0
device_app_channel       19606.0
dtype: float64

In [19]:
%%time
df = df.astype("int64")

MemoryError:

In [20]:
%%time
df.max()

CPU times: user 27.2 s, sys: 9.12 s, total: 36.3 s
Wall time: 36.3 s

app                        729
channel                    201
device                    3798
ip                      333167
os                         855
ip_os                  3260003
ip_device               795046
ip_app                 4135195
ip_channel             8419361
os_device                 5897
os_app                   14638
os_channel               19725
device_app               13140
device_channel           11565
app_channel               1456
ip_os_device           3669417
ip_os_app             23835240
ip_os_channel         43803139
ip_device_app          4795604
ip_device_channel      9446113
ip_app_channel        13206832
os_device_app            32952
os_device_channel        44789
os_app_channel           43287
device_app_channel       19606
dtype: int64

In [21]:
%%time
for i in range(n):
    for j in range(i+1, n):
        for k in range(j+1, n):
            for l in range(k+1, n):
                two1="{}_{}".format(ones[i], ones[j])
                two2="{}_{}".format(ones[k], ones[l])
                feature = "{}_{}".format(two1, two2)
                logger.info(feature)
                df[feature] = pd.Categorical(df[two1]*1000000000+ df[two2]).codes
                logger.info("done")

[I 180429 12:39:00 <timed exec>:8] ip_os_device_app
[I 180429 12:39:31 <timed exec>:10] done
[I 180429 12:39:31 <timed exec>:8] ip_os_device_channel

MemoryError:

In [22]:
df.dtypes

app                   uint64
channel               uint64
device                uint64
ip                    uint64
os                    uint64
ip_os                 uint64
ip_device             uint64
ip_app                uint64
ip_channel            uint64
os_device             uint64
os_app                uint64
os_channel            uint64
device_app            uint64
device_channel        uint64
app_channel           uint64
ip_os_device           int32
ip_os_app              int32
ip_os_channel          int32
ip_device_app          int32
ip_device_channel      int32
ip_app_channel         int32
os_device_app          int32
os_device_channel      int32
os_app_channel         int32
device_app_channel     int16
ip_os_device_app       int32
dtype: object

In [23]:
df["ip_os_device_app"].max()

24990688

In [24]:
df["channel"].max()

201

In [25]:
df["ip_os_device_app"] = df["ip_os_device_app"].astype("int64")

In [26]:
df["ip_os_device_app"] = df["ip_os_device_app"] * 1000

In [27]:
%%time
df["ip_os_device_app_channel"] = pd.Categorical(df["ip_os_device_app"]*1000+df["channel"]).codes

CPU times: user 57.8 s, sys: 5.08 s, total: 1min 2s
Wall time: 1min 2s

In [28]:
df.dtypes

app                         uint64
channel                     uint64
device                      uint64
ip                          uint64
os                          uint64
ip_os                       uint64
ip_device                   uint64
ip_app                      uint64
ip_channel                  uint64
os_device                   uint64
os_app                      uint64
os_channel                  uint64
device_app                  uint64
device_channel              uint64
app_channel                 uint64
ip_os_device                 int32
ip_os_app                    int32
ip_os_channel                int32
ip_device_app                int32
ip_device_channel            int32
ip_app_channel               int32
os_device_app                int32
os_device_channel            int32
os_app_channel               int32
device_app_channel           int16
ip_os_device_app             int64
ip_os_device_app_channel     int32
dtype: object

In [29]:
df.drop(columns=["ip", "app", "os", "device", "channel"], inplace=True)

In [30]:
df.dtypes

ip_os                       uint64
ip_device                   uint64
ip_app                      uint64
ip_channel                  uint64
os_device                   uint64
os_app                      uint64
os_channel                  uint64
device_app                  uint64
device_channel              uint64
app_channel                 uint64
ip_os_device                 int32
ip_os_app                    int32
ip_os_channel                int32
ip_device_app                int32
ip_device_channel            int32
ip_app_channel               int32
os_device_app                int32
os_device_channel            int32
os_app_channel               int32
device_app_channel           int16
ip_os_device_app             int64
ip_os_device_app_channel     int32
dtype: object

In [31]:
df.max()

ip_os                       3.260003e+06
ip_device                   7.950460e+05
ip_app                      4.135195e+06
ip_channel                  8.419361e+06
os_device                   5.897000e+03
os_app                      1.463800e+04
os_channel                  1.972500e+04
device_app                  1.314000e+04
device_channel              1.156500e+04
app_channel                 1.456000e+03
ip_os_device                3.669417e+06
ip_os_app                   2.383524e+07
ip_os_channel               4.380314e+07
ip_device_app               4.795604e+06
ip_device_channel           9.446113e+06
ip_app_channel              1.320683e+07
os_device_app               3.295200e+04
os_device_channel           4.478900e+04
os_app_channel              4.328700e+04
device_app_channel          1.960600e+04
ip_os_device_app            2.499069e+10
ip_os_device_app_channel    5.869162e+07
dtype: float64

In [32]:
df["ip_os_device_app"] = pd.Categorical(df["ip_os_device_app"]).codes

In [33]:
df_max = df.max()
df_max

ip_os                        3260003.0
ip_device                     795046.0
ip_app                       4135195.0
ip_channel                   8419361.0
os_device                       5897.0
os_app                         14638.0
os_channel                     19725.0
device_app                     13140.0
device_channel                 11565.0
app_channel                     1456.0
ip_os_device                 3669417.0
ip_os_app                   23835240.0
ip_os_channel               43803139.0
ip_device_app                4795604.0
ip_device_channel            9446113.0
ip_app_channel              13206832.0
os_device_app                  32952.0
os_device_channel              44789.0
os_app_channel                 43287.0
device_app_channel             19606.0
ip_os_device_app            24990688.0
ip_os_device_app_channel    58691622.0
dtype: float64

In [34]:
df = df.astype("uint32")

In [35]:
for c in df_max[df_max < 60000].index:
    logger.info(c)
    logger.info(df[c].max())
    df[c] = df[c].astype("uint16")

[I 180429 12:44:44 <ipython-input-35-a94b67c351ee>:2] os_device
[I 180429 12:44:46 <ipython-input-35-a94b67c351ee>:3] 5897
[I 180429 12:44:53 <ipython-input-35-a94b67c351ee>:2] os_app
[I 180429 12:44:54 <ipython-input-35-a94b67c351ee>:3] 14638
[I 180429 12:45:02 <ipython-input-35-a94b67c351ee>:2] os_channel
[I 180429 12:45:03 <ipython-input-35-a94b67c351ee>:3] 19725
[I 180429 12:45:10 <ipython-input-35-a94b67c351ee>:2] device_app
[I 180429 12:45:11 <ipython-input-35-a94b67c351ee>:3] 13140
[I 180429 12:45:18 <ipython-input-35-a94b67c351ee>:2] device_channel
[I 180429 12:45:19 <ipython-input-35-a94b67c351ee>:3] 11565
[I 180429 12:45:25 <ipython-input-35-a94b67c351ee>:2] app_channel
[I 180429 12:45:27 <ipython-input-35-a94b67c351ee>:3] 1456
[I 180429 12:45:33 <ipython-input-35-a94b67c351ee>:2] os_device_app
[I 180429 12:45:34 <ipython-input-35-a94b67c351ee>:3] 32952
[I 180429 12:45:39 <ipython-input-35-a94b67c351ee>:2] os_device_channel
[I 180429 12:45:41 <ipython-input-35-a94b67c351ee>:3] 44789
[I 180429 12:45:46 <ipython-input-35-a94b67c351ee>:2] os_app_channel
[I 180429 12:45:47 <ipython-input-35-a94b67c351ee>:3] 43287
[I 180429 12:45:52 <ipython-input-35-a94b67c351ee>:2] device_app_channel
[I 180429 12:45:53 <ipython-input-35-a94b67c351ee>:3] 19606

In [36]:
df.dtypes

ip_os                       uint32
ip_device                   uint32
ip_app                      uint32
ip_channel                  uint32
os_device                   uint16
os_app                      uint16
os_channel                  uint16
device_app                  uint16
device_channel              uint16
app_channel                 uint16
ip_os_device                uint32
ip_os_app                   uint32
ip_os_channel               uint32
ip_device_app               uint32
ip_device_channel           uint32
ip_app_channel              uint32
os_device_app               uint16
os_device_channel           uint16
os_app_channel              uint16
device_app_channel          uint16
ip_os_device_app            uint32
ip_os_device_app_channel    uint32
dtype: object

In [37]:
df.to_feather("../data/multi_basic")