In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
%%time
click_data = pd.read_hdf("../data/click_data.hdf", "click_data")

CPU times: user 10.7 s, sys: 10.7 s, total: 21.4 s
Wall time: 21.3 s

In [3]:
click_data

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os
0,3,NaN,379,NaN,2017-11-06 14:32:21,1,83230,0.0,13
1,3,NaN,379,NaN,2017-11-06 14:33:34,1,17357,0.0,19
2,3,NaN,379,NaN,2017-11-06 14:34:12,1,35810,0.0,13
3,14,NaN,478,NaN,2017-11-06 14:34:52,1,45745,0.0,13
4,3,NaN,379,NaN,2017-11-06 14:35:08,1,161007,0.0,13
5,3,NaN,379,NaN,2017-11-06 14:36:26,1,18787,0.0,16
6,3,NaN,379,NaN,2017-11-06 14:37:44,1,103022,0.0,23
7,3,NaN,379,NaN,2017-11-06 14:37:59,1,114221,0.0,19
8,3,NaN,379,NaN,2017-11-06 14:38:10,1,165970,0.0,13
9,64,NaN,459,NaN,2017-11-06 14:38:23,1,74544,0.0,22
10,3,NaN,379,NaN,2017-11-06 14:38:27,1,172522,0.0,25
11,3,NaN,379,NaN,2017-11-06 14:38:51,1,105861,0.0,13
12,3,NaN,379,NaN,2017-11-06 14:39:29,1,210962,0.0,19
13,3,NaN,379,NaN,2017-11-06 14:40:16,1,124979,0.0,18
14,3,NaN,379,NaN,2017-11-06 14:40:39,1,38816,0.0,18
15,3,NaN,379,NaN,2017-11-06 14:40:51,1,80447,0.0,19
16,3,NaN,379,NaN,2017-11-06 14:43:10,1,134575,0.0,13
17,3,NaN,379,NaN,2017-11-06 14:43:14,1,57576,0.0,19
18,3,NaN,379,NaN,2017-11-06 14:43:25,1,7755,0.0,13
19,3,NaN,379,NaN,2017-11-06 14:43:51,1,91749,0.0,19
20,3,NaN,379,NaN,2017-11-06 14:44:02,1,50694,0.0,18
21,3,NaN,379,NaN,2017-11-06 14:44:15,1,111385,0.0,18
22,14,NaN,478,NaN,2017-11-06 14:44:51,1,125222,0.0,3
23,3,NaN,379,NaN,2017-11-06 14:44:51,1,191759,0.0,13
24,3,NaN,379,NaN,2017-11-06 14:44:52,1,53418,0.0,17
25,3,NaN,379,NaN,2017-11-06 14:47:49,1,183168,0.0,19
26,3,NaN,379,NaN,2017-11-06 14:48:07,1,47902,0.0,17
27,3,NaN,379,NaN,2017-11-06 14:48:55,1,209663,0.0,13
28,3,NaN,379,NaN,2017-11-06 14:49:36,1,129614,0.0,20
29,3,NaN,379,NaN,2017-11-06 14:49:38,1,208347,0.0,19
...,...,...,...,...,...,...,...,...,...
203694329,27,NaN,153,18790438.0,2017-11-10 15:00:00,1,51432,NaN,13
203694330,14,NaN,401,18790440.0,2017-11-10 15:00:00,1,14334,NaN,19
203694331,9,NaN,334,18790441.0,2017-11-10 15:00:00,1,16749,NaN,13
203694332,23,NaN,153,18790442.0,2017-11-10 15:00:00,1,17814,NaN,13
203694333,21,NaN,232,18790443.0,2017-11-10 15:00:00,1,8825,NaN,13
203694334,8,NaN,259,18790444.0,2017-11-10 15:00:00,2,115536,NaN,13
203694335,2,NaN,205,18790445.0,2017-11-10 15:00:00,1,121472,NaN,19
203694336,12,NaN,242,18790446.0,2017-11-10 15:00:00,1,38000,NaN,12
203694337,1,NaN,125,18790447.0,2017-11-10 15:00:00,1,66176,NaN,19
203694338,2,NaN,205,18790448.0,2017-11-10 15:00:00,1,25553,NaN,22
203694339,21,NaN,128,18790449.0,2017-11-10 15:00:00,2,119531,NaN,19
203694340,13,NaN,469,18790450.0,2017-11-10 15:00:00,1,14062,NaN,53
203694341,14,NaN,442,18790451.0,2017-11-10 15:00:00,1,48536,NaN,19
203694342,1,NaN,125,18790452.0,2017-11-10 15:00:00,1,93291,NaN,19
203694343,9,NaN,258,18790453.0,2017-11-10 15:00:00,1,93291,NaN,19
203694344,1,NaN,125,18790455.0,2017-11-10 15:00:00,1,55874,NaN,22
203694345,9,NaN,145,18790454.0,2017-11-10 15:00:00,1,93291,NaN,19
203694346,8,NaN,259,18790456.0,2017-11-10 15:00:00,1,100697,NaN,18
203694347,20,NaN,259,18790457.0,2017-11-10 15:00:00,1,93291,NaN,19
203694348,2,NaN,452,18790458.0,2017-11-10 15:00:00,1,85329,NaN,14
203694349,15,NaN,140,18790459.0,2017-11-10 15:00:00,1,102467,NaN,17
203694350,9,NaN,445,18790460.0,2017-11-10 15:00:00,1,80537,NaN,19
203694351,2,NaN,237,18790462.0,2017-11-10 15:00:00,2,101214,NaN,16
203694352,17,NaN,128,18790461.0,2017-11-10 15:00:00,1,113418,NaN,17
203694353,12,NaN,135,18790463.0,2017-11-10 15:00:00,1,69245,NaN,13
203694354,9,NaN,127,18790464.0,2017-11-10 15:00:00,1,99442,NaN,13
203694355,23,NaN,153,18790465.0,2017-11-10 15:00:00,1,88046,NaN,37
203694356,18,NaN,265,18790467.0,2017-11-10 15:00:00,1,81398,NaN,17
203694357,27,NaN,122,18790466.0,2017-11-10 15:00:00,1,123236,NaN,13
203694358,12,NaN,265,18790468.0,2017-11-10 15:00:00,2,73516,NaN,27

In [5]:
ids = click_data[["ip", "device", "os"]]

In [9]:
%%time
ids["ip"] = ids["ip"].astype("object")
ids["os"] = ids["os"].astype("object")
ids["device"] = ids["device"].astype("object")

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

CPU times: user 13.1 s, sys: 3.35 s, total: 16.5 s
Wall time: 16.4 s

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
%%time
print(ids["ip"].max())
print(ids["os"].max())
print(ids["device"].max())

364778
956
4227
CPU times: user 41.6 s, sys: 1.52 s, total: 43.1 s
Wall time: 42.9 s

In [14]:
%%time
ids["ip_os_device"] = ids["ip"] * 1000 * 10000 + ids["os"] * 10000 + ids["device"]

CPU times: user 34.2 s, sys: 19 s, total: 53.2 s
Wall time: 53.1 s

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
ids = ids[["ip_os_device"]]

In [17]:
ids

            ip_os_device
0           832300130001
1           173570190001
2           358100130001
3           457450130001
4          1610070130001
5           187870160001
6          1030220230001
7          1142210190001
8          1659700130001
9           745440220001
10         1725220250001
11         1058610130001
12         2109620190001
13         1249790180001
14          388160180001
15          804470190001
16         1345750130001
17          575760190001
18           77550130001
19          917490190001
20          506940180001
21         1113850180001
22         1252220030001
23         1917590130001
24          534180170001
25         1831680190001
26          479020170001
27         2096630130001
28         1296140200001
29         2083470190001
...                  ...
203694329   514320130001
203694330   143340190001
203694331   167490130001
203694332   178140130001
203694333    88250130001
203694334  1155360130002
203694335  1214720190001
203694336   380000120001
203694337   661760190001
203694338   255530220001
203694339  1195310190002
203694340   140620530001
203694341   485360190001
203694342   932910190001
203694343   932910190001
203694344   558740220001
203694345   932910190001
203694346  1006970180001
203694347   932910190001
203694348   853290140001
203694349  1024670170001
203694350   805370190001
203694351  1012140160002
203694352  1134180170001
203694353   692450130001
203694354   994420130001
203694355   880460370001
203694356   813980170001
203694357  1232360130001
203694358   735160270002

[203694359 rows x 1 columns]

In [18]:
%%time
ids.to_hdf("../data/ip_os_device", "ip_os_device")

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/pandas/core/generic.py:1471: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->integer,key->block0_values] [items->['ip_os_device']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

CPU times: user 24.9 s, sys: 3.65 s, total: 28.6 s
Wall time: 28.4 s