In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt

/home/ubuntu/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }

In [3]:
%%time
train = pd.read_csv("../data/train.csv", dtype=dtypes)

CPU times: user 1min 44s, sys: 6.37 s, total: 1min 50s
Wall time: 2min 27s

In [4]:
%%time
test = pd.read_csv("../data/test.csv", dtype=dtypes)

CPU times: user 11.1 s, sys: 212 ms, total: 11.3 s
Wall time: 15.5 s

In [5]:
%%time
click_data = pd.concat([train, test])

CPU times: user 7.52 s, sys: 4.09 s, total: 11.6 s
Wall time: 11.6 s

In [6]:
%%time
click_data.sort_values(by=["click_time", "is_attributed"], inplace=True)

CPU times: user 33.6 s, sys: 13.7 s, total: 47.2 s
Wall time: 47.2 s

In [7]:
click_data

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os
0,3,NaN,379,NaN,2017-11-06 14:32:21,1,83230,0.0,13
1,3,NaN,379,NaN,2017-11-06 14:33:34,1,17357,0.0,19
2,3,NaN,379,NaN,2017-11-06 14:34:12,1,35810,0.0,13
3,14,NaN,478,NaN,2017-11-06 14:34:52,1,45745,0.0,13
4,3,NaN,379,NaN,2017-11-06 14:35:08,1,161007,0.0,13
5,3,NaN,379,NaN,2017-11-06 14:36:26,1,18787,0.0,16
6,3,NaN,379,NaN,2017-11-06 14:37:44,1,103022,0.0,23
7,3,NaN,379,NaN,2017-11-06 14:37:59,1,114221,0.0,19
8,3,NaN,379,NaN,2017-11-06 14:38:10,1,165970,0.0,13
9,64,NaN,459,NaN,2017-11-06 14:38:23,1,74544,0.0,22
10,3,NaN,379,NaN,2017-11-06 14:38:27,1,172522,0.0,25
11,3,NaN,379,NaN,2017-11-06 14:38:51,1,105861,0.0,13
12,3,NaN,379,NaN,2017-11-06 14:39:29,1,210962,0.0,19
13,3,NaN,379,NaN,2017-11-06 14:40:16,1,124979,0.0,18
14,3,NaN,379,NaN,2017-11-06 14:40:39,1,38816,0.0,18
15,3,NaN,379,NaN,2017-11-06 14:40:51,1,80447,0.0,19
16,3,NaN,379,NaN,2017-11-06 14:43:10,1,134575,0.0,13
17,3,NaN,379,NaN,2017-11-06 14:43:14,1,57576,0.0,19
18,3,NaN,379,NaN,2017-11-06 14:43:25,1,7755,0.0,13
19,3,NaN,379,NaN,2017-11-06 14:43:51,1,91749,0.0,19
20,3,NaN,379,NaN,2017-11-06 14:44:02,1,50694,0.0,18
21,3,NaN,379,NaN,2017-11-06 14:44:15,1,111385,0.0,18
22,14,NaN,478,NaN,2017-11-06 14:44:51,1,125222,0.0,3
23,3,NaN,379,NaN,2017-11-06 14:44:51,1,191759,0.0,13
24,3,NaN,379,NaN,2017-11-06 14:44:52,1,53418,0.0,17
25,3,NaN,379,NaN,2017-11-06 14:47:49,1,183168,0.0,19
26,3,NaN,379,NaN,2017-11-06 14:48:07,1,47902,0.0,17
27,3,NaN,379,NaN,2017-11-06 14:48:55,1,209663,0.0,13
28,3,NaN,379,NaN,2017-11-06 14:49:36,1,129614,0.0,20
29,3,NaN,379,NaN,2017-11-06 14:49:38,1,208347,0.0,19
...,...,...,...,...,...,...,...,...,...
18790439,27,NaN,153,18790438.0,2017-11-10 15:00:00,1,51432,NaN,13
18790440,14,NaN,401,18790440.0,2017-11-10 15:00:00,1,14334,NaN,19
18790441,9,NaN,334,18790441.0,2017-11-10 15:00:00,1,16749,NaN,13
18790442,23,NaN,153,18790442.0,2017-11-10 15:00:00,1,17814,NaN,13
18790443,21,NaN,232,18790443.0,2017-11-10 15:00:00,1,8825,NaN,13
18790444,8,NaN,259,18790444.0,2017-11-10 15:00:00,2,115536,NaN,13
18790445,2,NaN,205,18790445.0,2017-11-10 15:00:00,1,121472,NaN,19
18790446,12,NaN,242,18790446.0,2017-11-10 15:00:00,1,38000,NaN,12
18790447,1,NaN,125,18790447.0,2017-11-10 15:00:00,1,66176,NaN,19
18790448,2,NaN,205,18790448.0,2017-11-10 15:00:00,1,25553,NaN,22
18790449,21,NaN,128,18790449.0,2017-11-10 15:00:00,2,119531,NaN,19
18790450,13,NaN,469,18790450.0,2017-11-10 15:00:00,1,14062,NaN,53
18790451,14,NaN,442,18790451.0,2017-11-10 15:00:00,1,48536,NaN,19
18790452,1,NaN,125,18790452.0,2017-11-10 15:00:00,1,93291,NaN,19
18790453,9,NaN,258,18790453.0,2017-11-10 15:00:00,1,93291,NaN,19
18790454,1,NaN,125,18790455.0,2017-11-10 15:00:00,1,55874,NaN,22
18790455,9,NaN,145,18790454.0,2017-11-10 15:00:00,1,93291,NaN,19
18790456,8,NaN,259,18790456.0,2017-11-10 15:00:00,1,100697,NaN,18
18790457,20,NaN,259,18790457.0,2017-11-10 15:00:00,1,93291,NaN,19
18790458,2,NaN,452,18790458.0,2017-11-10 15:00:00,1,85329,NaN,14
18790459,15,NaN,140,18790459.0,2017-11-10 15:00:00,1,102467,NaN,17
18790460,9,NaN,445,18790460.0,2017-11-10 15:00:00,1,80537,NaN,19
18790461,2,NaN,237,18790462.0,2017-11-10 15:00:00,2,101214,NaN,16
18790462,17,NaN,128,18790461.0,2017-11-10 15:00:00,1,113418,NaN,17
18790463,12,NaN,135,18790463.0,2017-11-10 15:00:00,1,69245,NaN,13
18790464,9,NaN,127,18790464.0,2017-11-10 15:00:00,1,99442,NaN,13
18790465,23,NaN,153,18790465.0,2017-11-10 15:00:00,1,88046,NaN,37
18790466,18,NaN,265,18790467.0,2017-11-10 15:00:00,1,81398,NaN,17
18790467,27,NaN,122,18790466.0,2017-11-10 15:00:00,1,123236,NaN,13
18790468,12,NaN,265,18790468.0,2017-11-10 15:00:00,2,73516,NaN,27

In [8]:
click_data.reset_index(inplace=True)
click_data

,index,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os
0,0,3,NaN,379,NaN,2017-11-06 14:32:21,1,83230,0.0,13
1,1,3,NaN,379,NaN,2017-11-06 14:33:34,1,17357,0.0,19
2,2,3,NaN,379,NaN,2017-11-06 14:34:12,1,35810,0.0,13
3,3,14,NaN,478,NaN,2017-11-06 14:34:52,1,45745,0.0,13
4,4,3,NaN,379,NaN,2017-11-06 14:35:08,1,161007,0.0,13
5,5,3,NaN,379,NaN,2017-11-06 14:36:26,1,18787,0.0,16
6,6,3,NaN,379,NaN,2017-11-06 14:37:44,1,103022,0.0,23
7,7,3,NaN,379,NaN,2017-11-06 14:37:59,1,114221,0.0,19
8,8,3,NaN,379,NaN,2017-11-06 14:38:10,1,165970,0.0,13
9,9,64,NaN,459,NaN,2017-11-06 14:38:23,1,74544,0.0,22
10,10,3,NaN,379,NaN,2017-11-06 14:38:27,1,172522,0.0,25
11,11,3,NaN,379,NaN,2017-11-06 14:38:51,1,105861,0.0,13
12,12,3,NaN,379,NaN,2017-11-06 14:39:29,1,210962,0.0,19
13,13,3,NaN,379,NaN,2017-11-06 14:40:16,1,124979,0.0,18
14,14,3,NaN,379,NaN,2017-11-06 14:40:39,1,38816,0.0,18
15,15,3,NaN,379,NaN,2017-11-06 14:40:51,1,80447,0.0,19
16,16,3,NaN,379,NaN,2017-11-06 14:43:10,1,134575,0.0,13
17,17,3,NaN,379,NaN,2017-11-06 14:43:14,1,57576,0.0,19
18,18,3,NaN,379,NaN,2017-11-06 14:43:25,1,7755,0.0,13
19,19,3,NaN,379,NaN,2017-11-06 14:43:51,1,91749,0.0,19
20,20,3,NaN,379,NaN,2017-11-06 14:44:02,1,50694,0.0,18
21,21,3,NaN,379,NaN,2017-11-06 14:44:15,1,111385,0.0,18
22,22,14,NaN,478,NaN,2017-11-06 14:44:51,1,125222,0.0,3
23,23,3,NaN,379,NaN,2017-11-06 14:44:51,1,191759,0.0,13
24,24,3,NaN,379,NaN,2017-11-06 14:44:52,1,53418,0.0,17
25,25,3,NaN,379,NaN,2017-11-06 14:47:49,1,183168,0.0,19
26,26,3,NaN,379,NaN,2017-11-06 14:48:07,1,47902,0.0,17
27,27,3,NaN,379,NaN,2017-11-06 14:48:55,1,209663,0.0,13
28,28,3,NaN,379,NaN,2017-11-06 14:49:36,1,129614,0.0,20
29,29,3,NaN,379,NaN,2017-11-06 14:49:38,1,208347,0.0,19
...,...,...,...,...,...,...,...,...,...,...
203694329,18790439,27,NaN,153,18790438.0,2017-11-10 15:00:00,1,51432,NaN,13
203694330,18790440,14,NaN,401,18790440.0,2017-11-10 15:00:00,1,14334,NaN,19
203694331,18790441,9,NaN,334,18790441.0,2017-11-10 15:00:00,1,16749,NaN,13
203694332,18790442,23,NaN,153,18790442.0,2017-11-10 15:00:00,1,17814,NaN,13
203694333,18790443,21,NaN,232,18790443.0,2017-11-10 15:00:00,1,8825,NaN,13
203694334,18790444,8,NaN,259,18790444.0,2017-11-10 15:00:00,2,115536,NaN,13
203694335,18790445,2,NaN,205,18790445.0,2017-11-10 15:00:00,1,121472,NaN,19
203694336,18790446,12,NaN,242,18790446.0,2017-11-10 15:00:00,1,38000,NaN,12
203694337,18790447,1,NaN,125,18790447.0,2017-11-10 15:00:00,1,66176,NaN,19
203694338,18790448,2,NaN,205,18790448.0,2017-11-10 15:00:00,1,25553,NaN,22
203694339,18790449,21,NaN,128,18790449.0,2017-11-10 15:00:00,2,119531,NaN,19
203694340,18790450,13,NaN,469,18790450.0,2017-11-10 15:00:00,1,14062,NaN,53
203694341,18790451,14,NaN,442,18790451.0,2017-11-10 15:00:00,1,48536,NaN,19
203694342,18790452,1,NaN,125,18790452.0,2017-11-10 15:00:00,1,93291,NaN,19
203694343,18790453,9,NaN,258,18790453.0,2017-11-10 15:00:00,1,93291,NaN,19
203694344,18790454,1,NaN,125,18790455.0,2017-11-10 15:00:00,1,55874,NaN,22
203694345,18790455,9,NaN,145,18790454.0,2017-11-10 15:00:00,1,93291,NaN,19
203694346,18790456,8,NaN,259,18790456.0,2017-11-10 15:00:00,1,100697,NaN,18
203694347,18790457,20,NaN,259,18790457.0,2017-11-10 15:00:00,1,93291,NaN,19
203694348,18790458,2,NaN,452,18790458.0,2017-11-10 15:00:00,1,85329,NaN,14
203694349,18790459,15,NaN,140,18790459.0,2017-11-10 15:00:00,1,102467,NaN,17
203694350,18790460,9,NaN,445,18790460.0,2017-11-10 15:00:00,1,80537,NaN,19
203694351,18790461,2,NaN,237,18790462.0,2017-11-10 15:00:00,2,101214,NaN,16
203694352,18790462,17,NaN,128,18790461.0,2017-11-10 15:00:00,1,113418,NaN,17
203694353,18790463,12,NaN,135,18790463.0,2017-11-10 15:00:00,1,69245,NaN,13
203694354,18790464,9,NaN,127,18790464.0,2017-11-10 15:00:00,1,99442,NaN,13
203694355,18790465,23,NaN,153,18790465.0,2017-11-10 15:00:00,1,88046,NaN,37
203694356,18790466,18,NaN,265,18790467.0,2017-11-10 15:00:00,1,81398,NaN,17
203694357,18790467,27,NaN,122,18790466.0,2017-11-10 15:00:00,1,123236,NaN,13
203694358,18790468,12,NaN,265,18790468.0,2017-11-10 15:00:00,2,73516,NaN,27

In [9]:
%time
click_data.drop(["index"], axis=1, inplace=True)
click_data

CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 6.2 µs

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os
0,3,NaN,379,NaN,2017-11-06 14:32:21,1,83230,0.0,13
1,3,NaN,379,NaN,2017-11-06 14:33:34,1,17357,0.0,19
2,3,NaN,379,NaN,2017-11-06 14:34:12,1,35810,0.0,13
3,14,NaN,478,NaN,2017-11-06 14:34:52,1,45745,0.0,13
4,3,NaN,379,NaN,2017-11-06 14:35:08,1,161007,0.0,13
5,3,NaN,379,NaN,2017-11-06 14:36:26,1,18787,0.0,16
6,3,NaN,379,NaN,2017-11-06 14:37:44,1,103022,0.0,23
7,3,NaN,379,NaN,2017-11-06 14:37:59,1,114221,0.0,19
8,3,NaN,379,NaN,2017-11-06 14:38:10,1,165970,0.0,13
9,64,NaN,459,NaN,2017-11-06 14:38:23,1,74544,0.0,22
10,3,NaN,379,NaN,2017-11-06 14:38:27,1,172522,0.0,25
11,3,NaN,379,NaN,2017-11-06 14:38:51,1,105861,0.0,13
12,3,NaN,379,NaN,2017-11-06 14:39:29,1,210962,0.0,19
13,3,NaN,379,NaN,2017-11-06 14:40:16,1,124979,0.0,18
14,3,NaN,379,NaN,2017-11-06 14:40:39,1,38816,0.0,18
15,3,NaN,379,NaN,2017-11-06 14:40:51,1,80447,0.0,19
16,3,NaN,379,NaN,2017-11-06 14:43:10,1,134575,0.0,13
17,3,NaN,379,NaN,2017-11-06 14:43:14,1,57576,0.0,19
18,3,NaN,379,NaN,2017-11-06 14:43:25,1,7755,0.0,13
19,3,NaN,379,NaN,2017-11-06 14:43:51,1,91749,0.0,19
20,3,NaN,379,NaN,2017-11-06 14:44:02,1,50694,0.0,18
21,3,NaN,379,NaN,2017-11-06 14:44:15,1,111385,0.0,18
22,14,NaN,478,NaN,2017-11-06 14:44:51,1,125222,0.0,3
23,3,NaN,379,NaN,2017-11-06 14:44:51,1,191759,0.0,13
24,3,NaN,379,NaN,2017-11-06 14:44:52,1,53418,0.0,17
25,3,NaN,379,NaN,2017-11-06 14:47:49,1,183168,0.0,19
26,3,NaN,379,NaN,2017-11-06 14:48:07,1,47902,0.0,17
27,3,NaN,379,NaN,2017-11-06 14:48:55,1,209663,0.0,13
28,3,NaN,379,NaN,2017-11-06 14:49:36,1,129614,0.0,20
29,3,NaN,379,NaN,2017-11-06 14:49:38,1,208347,0.0,19
...,...,...,...,...,...,...,...,...,...
203694329,27,NaN,153,18790438.0,2017-11-10 15:00:00,1,51432,NaN,13
203694330,14,NaN,401,18790440.0,2017-11-10 15:00:00,1,14334,NaN,19
203694331,9,NaN,334,18790441.0,2017-11-10 15:00:00,1,16749,NaN,13
203694332,23,NaN,153,18790442.0,2017-11-10 15:00:00,1,17814,NaN,13
203694333,21,NaN,232,18790443.0,2017-11-10 15:00:00,1,8825,NaN,13
203694334,8,NaN,259,18790444.0,2017-11-10 15:00:00,2,115536,NaN,13
203694335,2,NaN,205,18790445.0,2017-11-10 15:00:00,1,121472,NaN,19
203694336,12,NaN,242,18790446.0,2017-11-10 15:00:00,1,38000,NaN,12
203694337,1,NaN,125,18790447.0,2017-11-10 15:00:00,1,66176,NaN,19
203694338,2,NaN,205,18790448.0,2017-11-10 15:00:00,1,25553,NaN,22
203694339,21,NaN,128,18790449.0,2017-11-10 15:00:00,2,119531,NaN,19
203694340,13,NaN,469,18790450.0,2017-11-10 15:00:00,1,14062,NaN,53
203694341,14,NaN,442,18790451.0,2017-11-10 15:00:00,1,48536,NaN,19
203694342,1,NaN,125,18790452.0,2017-11-10 15:00:00,1,93291,NaN,19
203694343,9,NaN,258,18790453.0,2017-11-10 15:00:00,1,93291,NaN,19
203694344,1,NaN,125,18790455.0,2017-11-10 15:00:00,1,55874,NaN,22
203694345,9,NaN,145,18790454.0,2017-11-10 15:00:00,1,93291,NaN,19
203694346,8,NaN,259,18790456.0,2017-11-10 15:00:00,1,100697,NaN,18
203694347,20,NaN,259,18790457.0,2017-11-10 15:00:00,1,93291,NaN,19
203694348,2,NaN,452,18790458.0,2017-11-10 15:00:00,1,85329,NaN,14
203694349,15,NaN,140,18790459.0,2017-11-10 15:00:00,1,102467,NaN,17
203694350,9,NaN,445,18790460.0,2017-11-10 15:00:00,1,80537,NaN,19
203694351,2,NaN,237,18790462.0,2017-11-10 15:00:00,2,101214,NaN,16
203694352,17,NaN,128,18790461.0,2017-11-10 15:00:00,1,113418,NaN,17
203694353,12,NaN,135,18790463.0,2017-11-10 15:00:00,1,69245,NaN,13
203694354,9,NaN,127,18790464.0,2017-11-10 15:00:00,1,99442,NaN,13
203694355,23,NaN,153,18790465.0,2017-11-10 15:00:00,1,88046,NaN,37
203694356,18,NaN,265,18790467.0,2017-11-10 15:00:00,1,81398,NaN,17
203694357,27,NaN,122,18790466.0,2017-11-10 15:00:00,1,123236,NaN,13
203694358,12,NaN,265,18790468.0,2017-11-10 15:00:00,2,73516,NaN,27

In [10]:
%%time
click_data["click_time"] = pd.to_datetime(click_data["click_time"])

CPU times: user 41.6 s, sys: 2.34 s, total: 44 s
Wall time: 43.8 s

In [11]:
click_data.dtypes

app                        uint16
attributed_time            object
channel                    uint16
click_id                  float64
click_time         datetime64[ns]
device                     uint16
ip                         uint32
is_attributed             float64
os                         uint16
dtype: object

In [12]:
%%time
click_data.to_hdf("../data/click_data.hdf", "click_data")

/home/ubuntu/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:1471: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['attributed_time']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

CPU times: user 15 s, sys: 12.6 s, total: 27.6 s
Wall time: 27.8 s

In [13]:
%%time
click_data = pd.read_hdf("../data/click_data.hdf", "click_data")

CPU times: user 11 s, sys: 11.2 s, total: 22.2 s
Wall time: 22.2 s

In [14]:
click_data

,app,attributed_time,channel,click_id,click_time,device,ip,is_attributed,os
0,3,NaN,379,NaN,2017-11-06 14:32:21,1,83230,0.0,13
1,3,NaN,379,NaN,2017-11-06 14:33:34,1,17357,0.0,19
2,3,NaN,379,NaN,2017-11-06 14:34:12,1,35810,0.0,13
3,14,NaN,478,NaN,2017-11-06 14:34:52,1,45745,0.0,13
4,3,NaN,379,NaN,2017-11-06 14:35:08,1,161007,0.0,13
5,3,NaN,379,NaN,2017-11-06 14:36:26,1,18787,0.0,16
6,3,NaN,379,NaN,2017-11-06 14:37:44,1,103022,0.0,23
7,3,NaN,379,NaN,2017-11-06 14:37:59,1,114221,0.0,19
8,3,NaN,379,NaN,2017-11-06 14:38:10,1,165970,0.0,13
9,64,NaN,459,NaN,2017-11-06 14:38:23,1,74544,0.0,22
10,3,NaN,379,NaN,2017-11-06 14:38:27,1,172522,0.0,25
11,3,NaN,379,NaN,2017-11-06 14:38:51,1,105861,0.0,13
12,3,NaN,379,NaN,2017-11-06 14:39:29,1,210962,0.0,19
13,3,NaN,379,NaN,2017-11-06 14:40:16,1,124979,0.0,18
14,3,NaN,379,NaN,2017-11-06 14:40:39,1,38816,0.0,18
15,3,NaN,379,NaN,2017-11-06 14:40:51,1,80447,0.0,19
16,3,NaN,379,NaN,2017-11-06 14:43:10,1,134575,0.0,13
17,3,NaN,379,NaN,2017-11-06 14:43:14,1,57576,0.0,19
18,3,NaN,379,NaN,2017-11-06 14:43:25,1,7755,0.0,13
19,3,NaN,379,NaN,2017-11-06 14:43:51,1,91749,0.0,19
20,3,NaN,379,NaN,2017-11-06 14:44:02,1,50694,0.0,18
21,3,NaN,379,NaN,2017-11-06 14:44:15,1,111385,0.0,18
22,14,NaN,478,NaN,2017-11-06 14:44:51,1,125222,0.0,3
23,3,NaN,379,NaN,2017-11-06 14:44:51,1,191759,0.0,13
24,3,NaN,379,NaN,2017-11-06 14:44:52,1,53418,0.0,17
25,3,NaN,379,NaN,2017-11-06 14:47:49,1,183168,0.0,19
26,3,NaN,379,NaN,2017-11-06 14:48:07,1,47902,0.0,17
27,3,NaN,379,NaN,2017-11-06 14:48:55,1,209663,0.0,13
28,3,NaN,379,NaN,2017-11-06 14:49:36,1,129614,0.0,20
29,3,NaN,379,NaN,2017-11-06 14:49:38,1,208347,0.0,19
...,...,...,...,...,...,...,...,...,...
203694329,27,NaN,153,18790438.0,2017-11-10 15:00:00,1,51432,NaN,13
203694330,14,NaN,401,18790440.0,2017-11-10 15:00:00,1,14334,NaN,19
203694331,9,NaN,334,18790441.0,2017-11-10 15:00:00,1,16749,NaN,13
203694332,23,NaN,153,18790442.0,2017-11-10 15:00:00,1,17814,NaN,13
203694333,21,NaN,232,18790443.0,2017-11-10 15:00:00,1,8825,NaN,13
203694334,8,NaN,259,18790444.0,2017-11-10 15:00:00,2,115536,NaN,13
203694335,2,NaN,205,18790445.0,2017-11-10 15:00:00,1,121472,NaN,19
203694336,12,NaN,242,18790446.0,2017-11-10 15:00:00,1,38000,NaN,12
203694337,1,NaN,125,18790447.0,2017-11-10 15:00:00,1,66176,NaN,19
203694338,2,NaN,205,18790448.0,2017-11-10 15:00:00,1,25553,NaN,22
203694339,21,NaN,128,18790449.0,2017-11-10 15:00:00,2,119531,NaN,19
203694340,13,NaN,469,18790450.0,2017-11-10 15:00:00,1,14062,NaN,53
203694341,14,NaN,442,18790451.0,2017-11-10 15:00:00,1,48536,NaN,19
203694342,1,NaN,125,18790452.0,2017-11-10 15:00:00,1,93291,NaN,19
203694343,9,NaN,258,18790453.0,2017-11-10 15:00:00,1,93291,NaN,19
203694344,1,NaN,125,18790455.0,2017-11-10 15:00:00,1,55874,NaN,22
203694345,9,NaN,145,18790454.0,2017-11-10 15:00:00,1,93291,NaN,19
203694346,8,NaN,259,18790456.0,2017-11-10 15:00:00,1,100697,NaN,18
203694347,20,NaN,259,18790457.0,2017-11-10 15:00:00,1,93291,NaN,19
203694348,2,NaN,452,18790458.0,2017-11-10 15:00:00,1,85329,NaN,14
203694349,15,NaN,140,18790459.0,2017-11-10 15:00:00,1,102467,NaN,17
203694350,9,NaN,445,18790460.0,2017-11-10 15:00:00,1,80537,NaN,19
203694351,2,NaN,237,18790462.0,2017-11-10 15:00:00,2,101214,NaN,16
203694352,17,NaN,128,18790461.0,2017-11-10 15:00:00,1,113418,NaN,17
203694353,12,NaN,135,18790463.0,2017-11-10 15:00:00,1,69245,NaN,13
203694354,9,NaN,127,18790464.0,2017-11-10 15:00:00,1,99442,NaN,13
203694355,23,NaN,153,18790465.0,2017-11-10 15:00:00,1,88046,NaN,37
203694356,18,NaN,265,18790467.0,2017-11-10 15:00:00,1,81398,NaN,17
203694357,27,NaN,122,18790466.0,2017-11-10 15:00:00,1,123236,NaN,13
203694358,12,NaN,265,18790468.0,2017-11-10 15:00:00,2,73516,NaN,27