In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline
print('imported')

imported

In [2]:
path = '../../data/'
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }
train_columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']
test_columns  = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'click_id']

In [3]:
%%time
train_df = pd.read_csv(path+"train.csv",
#                        nrows=10000000,
                       dtype=dtypes,
                       usecols=train_columns)

CPU times: user 1min 13s, sys: 4.12 s, total: 1min 17s
Wall time: 1min 16s

%time
test_df = pd.read_csv(path+"test.csv",
#                       nrows=1000000,
                      dtype=dtypes,
                      usecols=test_columns)

In [4]:
count_device = train_df.groupby("device", as_index=False).count().sort_values("ip", ascending=False)[["device", "ip"]]

In [5]:
count_device.reset_index(inplace=True)
count_device["count_device"] = count_device.ip
count_device = count_device[["device", "count_device"]]

In [6]:
count_device["cum"] = count_device.count_device.cumsum() / np.sum(count_device.count_device)
count_device

      device  count_device       cum
0          1     174330052  0.942814
1          2       8105054  0.986648
2          0       1033413  0.992237
3       3032        692891  0.995985
4       3543        266596  0.997426
5       3866        178274  0.998390
6         59         24018  0.998520
7          5         14379  0.998598
8          6         12569  0.998666
9         40         12351  0.998733
10        16         10147  0.998788
11        18          6742  0.998824
12        21          5430  0.998854
13        33          5337  0.998882
14        30          4199  0.998905
15       154          4011  0.998927
16        67          3770  0.998947
17       114          3585  0.998967
18        37          3474  0.998985
19        88          3262  0.999003
20         7          3075  0.999020
21        46          3001  0.999036
22       109          2973  0.999052
23        50          2770  0.999067
24        78          2767  0.999082
25        97          2537  0.999096
26        60          2335  0.999108
27        82          2287  0.999121
28       203          2265  0.999133
29        56          2247  0.999145
...      ...           ...       ...
3445    1706             1  1.000000
3446    2729             1  1.000000
3447    3541             1  1.000000
3448    3575             1  1.000000
3449    2769             1  1.000000
3450    1673             1  1.000000
3451    3547             1  1.000000
3452    2765             1  1.000000
3453    1679             1  1.000000
3454    2762             1  1.000000
3455    3552             1  1.000000
3456    1682             1  1.000000
3457    3554             1  1.000000
3458    3555             1  1.000000
3459    3556             1  1.000000
3460    3557             1  1.000000
3461     880             1  1.000000
3462    1683             1  1.000000
3463    3562             1  1.000000
3464    2748             1  1.000000
3465    3565             1  1.000000
3466    3566             1  1.000000
3467     874             1  1.000000
3468    3568             1  1.000000
3469    3569             1  1.000000
3470     859             1  1.000000
3471    2736             1  1.000000
3472    1692             1  1.000000
3473    3574             1  1.000000
3474    2061             1  1.000000

[3475 rows x 3 columns]

In [7]:
count_device.loc[count_device.cum <= 0.95]

   device  count_device       cum
0       1     174330052  0.942814

In [9]:
count_device.loc[count_device.count_device > 1000]

    device  count_device       cum
0        1     174330052  0.942814
1        2       8105054  0.986648
2        0       1033413  0.992237
3     3032        692891  0.995985
4     3543        266596  0.997426
5     3866        178274  0.998390
6       59         24018  0.998520
7        5         14379  0.998598
8        6         12569  0.998666
9       40         12351  0.998733
10      16         10147  0.998788
11      18          6742  0.998824
12      21          5430  0.998854
13      33          5337  0.998882
14      30          4199  0.998905
15     154          4011  0.998927
16      67          3770  0.998947
17     114          3585  0.998967
18      37          3474  0.998985
19      88          3262  0.999003
20       7          3075  0.999020
21      46          3001  0.999036
22     109          2973  0.999052
23      50          2770  0.999067
24      78          2767  0.999082
25      97          2537  0.999096
26      60          2335  0.999108
27      82          2287  0.999121
28     203          2265  0.999133
29      56          2247  0.999145
30      96          2110  0.999156
31      20          2031  0.999167
32      25          1786  0.999177
33     220          1734  0.999187
34       4          1713  0.999196
35     211          1700  0.999205
36     136          1628  0.999214
37      11          1572  0.999222
38      76          1571  0.999231
39     343          1559  0.999239
40     299          1527  0.999247
41     210          1478  0.999255
42     182          1468  0.999263
43    3867          1379  0.999271
44     214          1374  0.999278
45     124          1353  0.999286
46       8          1259  0.999292
47     137          1259  0.999299
48     101          1253  0.999306
49     558          1243  0.999313
50       9          1189  0.999319
51     234          1170  0.999325
52     160          1100  0.999331
53    3033          1055  0.999337
54     231          1033  0.999343
55     103          1031  0.999348
56    3545          1023  0.999354
57      42          1019  0.999359
58     379          1008  0.999365