In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt

def read_hdf(name:str):
    return pd.read_hdf("../data/{}.hdf".format(name), name)

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
ls -lha ../data/*.hdf

-rw-rw-r-- 1 ubuntu ubuntu 7.7M Apr 19 17:21 ../data/click_count_by_ip.hdf
-rw-rw-r-- 1 ubuntu ubuntu 158M Apr 19 17:29 ../data/click_count_by_ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu 529M Apr 19 17:33 ../data/click_count_by_ip_os_device_dow_hour.hdf
-rw-rw-r-- 1 ubuntu ubuntu 6.1G Apr 19 22:18 ../data/click_counts.hdf
-rw-rw-r-- 1 ubuntu ubuntu  18G Apr 19 10:09 ../data/click_data.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:16 ../data/click_time_interval_by_ip.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:48 ../data/click_time_interval_by_ip_os_device.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:58 ../data/click_time_interval_by_ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 21:05 ../data/click_time_interval_by_ip_os_device_dow_hour.hdf
-rw-rw-r-- 1 ubuntu ubuntu 7.6G Apr 19 11:00 ../data/click_times.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.0G Apr 19 11:26 ../data/ip_os_device.hdf
-rw-rw-r-- 1 ubuntu ubuntu 4.6G Apr 19 17:02 ../data/ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu 6.1G Apr 19 18:37 ../data/ranks.hdf

In [4]:
%%time
click_counts = read_hdf("click_counts")

CPU times: user 1.08 s, sys: 2.72 s, total: 3.8 s
Wall time: 1min 43s

In [5]:
%%time
ranks = read_hdf("ranks")

CPU times: user 432 ms, sys: 3.32 s, total: 3.75 s
Wall time: 1min 44s

In [6]:
%%time
click_data = read_hdf("click_data")

CPU times: user 13.7 s, sys: 9.1 s, total: 22.8 s
Wall time: 3min 7s

In [7]:
%%time
click_times = read_hdf("click_times")

CPU times: user 1.07 s, sys: 3.61 s, total: 4.68 s
Wall time: 2min 9s

In [12]:
click_counts.shape, ranks.shape, click_data.shape, click_times.shape

((203694359, 3), (203694359, 3), (203694359, 9), (203694359, 4))

In [15]:
%%time
merged_data = pd.concat([click_data, click_counts, click_times, ranks], axis=1)

CPU times: user 16.9 s, sys: 7.29 s, total: 24.2 s
Wall time: 24.2 s

In [17]:
%%time
del click_data
del click_counts
del click_times
del ranks
merged_data.drop(columns=["click_time"], inplace=True)

CPU times: user 15.7 s, sys: 17.6 s, total: 33.3 s
Wall time: 33.2 s

In [18]:
gc.collect()

4565

In [ ]:
%%time
merged_data.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

/home/ubuntu/.pyenv/versions/3.6.4/envs/talkingdata/lib/python3.6/site-packages/pandas/core/generic.py:1471: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['attributed_time']]

  return pytables.to_hdf(path_or_buf, key, self, **kwargs)

In [2]:
ls -lha ../data/*.hdf

-rw-rw-r-- 1 ubuntu ubuntu 7.7M Apr 19 17:21 ../data/click_count_by_ip.hdf
-rw-rw-r-- 1 ubuntu ubuntu 158M Apr 19 17:29 ../data/click_count_by_ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu 529M Apr 19 17:33 ../data/click_count_by_ip_os_device_dow_hour.hdf
-rw-rw-r-- 1 ubuntu ubuntu 6.1G Apr 19 22:18 ../data/click_counts.hdf
-rw-rw-r-- 1 ubuntu ubuntu  18G Apr 19 10:09 ../data/click_data.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:16 ../data/click_time_interval_by_ip.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:48 ../data/click_time_interval_by_ip_os_device.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:58 ../data/click_time_interval_by_ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 21:05 ../data/click_time_interval_by_ip_os_device_dow_hour.hdf
-rw-rw-r-- 1 ubuntu ubuntu 7.6G Apr 19 11:00 ../data/click_times.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.0G Apr 19 11:26 ../data/ip_os_device.hdf
-rw-rw-r-- 1 ubuntu ubuntu 4.6G Apr 19 17:02 ../data/ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu  24G Apr 20 00:05 ../data/merged_click_data.hdf
-rw-rw-r-- 1 ubuntu ubuntu 6.1G Apr 19 18:37 ../data/ranks.hdf

In [5]:
%%time
click_time_interval_by_ip = read_hdf("click_time_interval_by_ip")
click_time_interval_by_ip_os_device = read_hdf("click_time_interval_by_ip_os_device")
click_time_interval_by_ip_os_device_dow = read_hdf("click_time_interval_by_ip_os_device_dow")
click_time_interval_by_ip_os_device_dow_hour = read_hdf("click_time_interval_by_ip_os_device_dow_hour")

CPU times: user 3.14 s, sys: 7.33 s, total: 10.5 s
Wall time: 3min 28s

In [10]:
%%time
click_time_intervals = pd.concat([
    click_time_interval_by_ip, 
    click_time_interval_by_ip_os_device, 
    click_time_interval_by_ip_os_device_dow, 
    click_time_interval_by_ip_os_device_dow_hour], axis=1)

CPU times: user 4.11 s, sys: 1.54 s, total: 5.66 s
Wall time: 5.66 s

In [14]:
%%time
click_time_intervals.to_hdf("../data/click_time_intervals.hdf", "click_time_intervals")

CPU times: user 5.87 s, sys: 12 s, total: 17.9 s
Wall time: 17.9 s

In [3]:
%%time
click_time_intervals = read_hdf("click_time_intervals")

CPU times: user 1.41 s, sys: 5.56 s, total: 6.97 s
Wall time: 58.5 s

In [2]:
%%time
merged_click_data = read_hdf("merged_click_data")

CPU times: user 1.27 s, sys: 9.94 s, total: 11.2 s
Wall time: 11.2 s

In [6]:
merged_click_data.dtypes

app                                      uint16
attributed_time                          object
channel                                  uint16
click_id                                float64
device                                   uint16
ip                                       uint32
is_attributed                           float64
os                                       uint16
click_count_by_ip_os_device_dow           int64
click_count_by_ip_os_device_dow_hour      int64
click_count_by_ip                         int64
dow                                       int64
hour                                      int64
minute                                    int64
second                                    int64
rank_by_ip                                int64
rank_by_ip_os_device                      int64
rank_by_ip_os_device_dow                  int64
dtype: object

In [13]:
merged_click_data["click_count_by_ip_os_device_dow"] = merged_click_data["click_count_by_ip_os_device_dow"].astype("uint32")

In [15]:
merged_click_data["click_count_by_ip_os_device_dow_hour"] = merged_click_data["click_count_by_ip_os_device_dow_hour"].astype("uint16")

In [17]:
%%time
merged_click_data["click_count_by_ip"] = merged_click_data["click_count_by_ip"].astype("uint32")

CPU times: user 2.47 s, sys: 3.31 s, total: 5.78 s
Wall time: 5.78 s

In [18]:
merged_click_data["dow"].max(), merged_click_data["dow"].min()

(4, 0)

In [19]:
%%time
merged_click_data["dow"] = merged_click_data["dow"].astype("uint8")

CPU times: user 2.08 s, sys: 2.58 s, total: 4.66 s
Wall time: 4.66 s

In [20]:
%%time
merged_click_data["hour"] = merged_click_data["hour"].astype("uint8")
merged_click_data["minute"] = merged_click_data["minute"].astype("uint8")
merged_click_data["second"] = merged_click_data["second"].astype("uint8")

CPU times: user 4.68 s, sys: 5.24 s, total: 9.92 s
Wall time: 9.92 s

In [21]:
merged_click_data.dtypes

app                                      uint16
attributed_time                          object
channel                                  uint16
click_id                                float64
device                                   uint16
ip                                       uint32
is_attributed                           float64
os                                       uint16
click_count_by_ip_os_device_dow          uint32
click_count_by_ip_os_device_dow_hour     uint16
click_count_by_ip                        uint32
dow                                       uint8
hour                                      uint8
minute                                    uint8
second                                    uint8
rank_by_ip                                int64
rank_by_ip_os_device                      int64
rank_by_ip_os_device_dow                  int64
dtype: object

In [22]:
merged_click_data["rank_by_ip_os_device"].max(), merged_click_data["rank_by_ip_os_device"].min()

(282426, 0)

In [23]:
%%time
merged_click_data["rank_by_ip_os_device"] = merged_click_data["rank_by_ip_os_device"].astype("uint32")

CPU times: user 1.03 s, sys: 1.21 s, total: 2.24 s
Wall time: 2.24 s

In [24]:
merged_click_data["rank_by_ip_os_device_dow"].max(), merged_click_data["rank_by_ip_os_device_dow"].min()

(93200, 0)

In [25]:
%%time
merged_click_data["rank_by_ip_os_device_dow"] = merged_click_data["rank_by_ip_os_device_dow"].astype("uint32")

CPU times: user 720 ms, sys: 804 ms, total: 1.52 s
Wall time: 1.52 s

In [26]:
merged_click_data.dtypes

app                                      uint16
attributed_time                          object
channel                                  uint16
click_id                                float64
device                                   uint16
ip                                       uint32
is_attributed                           float64
os                                       uint16
click_count_by_ip_os_device_dow          uint32
click_count_by_ip_os_device_dow_hour     uint16
click_count_by_ip                        uint32
dow                                       uint8
hour                                      uint8
minute                                    uint8
second                                    uint8
rank_by_ip                                int64
rank_by_ip_os_device                     uint32
rank_by_ip_os_device_dow                 uint32
dtype: object

In [29]:
merged_click_data["rank_by_ip"].max(), merged_click_data["rank_by_ip"].min()

(1421255, 0)

In [28]:
%%time
merged_click_data["rank_by_ip"] = merged_click_data["rank_by_ip"].astype("uint32")

CPU times: user 368 ms, sys: 448 ms, total: 816 ms
Wall time: 815 ms

In [30]:
merged_click_data.drop(columns=["attributed_time"], inplace=True)

In [33]:
merged_click_data.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [2]:
%%time
merged_click_data = read_hdf("merged_click_data")

CPU times: user 40 ms, sys: 5.72 s, total: 5.76 s
Wall time: 5.76 s

In [4]:
ls -lha ../data/*.hdf

-rw-rw-r-- 1 ubuntu ubuntu 7.7M Apr 19 17:21 ../data/click_count_by_ip.hdf
-rw-rw-r-- 1 ubuntu ubuntu 158M Apr 19 17:29 ../data/click_count_by_ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu 529M Apr 19 17:33 ../data/click_count_by_ip_os_device_dow_hour.hdf
-rw-rw-r-- 1 ubuntu ubuntu 6.1G Apr 19 22:18 ../data/click_counts.hdf
-rw-rw-r-- 1 ubuntu ubuntu  18G Apr 19 10:09 ../data/click_data.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:16 ../data/click_time_interval_by_ip.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:48 ../data/click_time_interval_by_ip_os_device.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 20:58 ../data/click_time_interval_by_ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.1G Apr 19 21:05 ../data/click_time_interval_by_ip_os_device_dow_hour.hdf
-rw-rw-r-- 1 ubuntu ubuntu 7.6G Apr 20 00:15 ../data/click_time_intervals.hdf
-rw-rw-r-- 1 ubuntu ubuntu 7.6G Apr 19 11:00 ../data/click_times.hdf
-rw-rw-r-- 1 ubuntu ubuntu 3.0G Apr 19 11:26 ../data/ip_os_device.hdf
-rw-rw-r-- 1 ubuntu ubuntu 4.6G Apr 19 17:02 ../data/ip_os_device_dow.hdf
-rw-rw-r-- 1 ubuntu ubuntu  12G Apr 20 01:06 ../data/merged_click_data.hdf
-rw-rw-r-- 1 ubuntu ubuntu 6.1G Apr 19 18:37 ../data/ranks.hdf

In [5]:
%%time
click_time_intervals = read_hdf("click_time_intervals")

CPU times: user 1.51 s, sys: 5.36 s, total: 6.86 s
Wall time: 43 s

In [8]:
%%time
merged_click_data = pd.concat([merged_click_data, click_time_intervals], axis=1)

CPU times: user 19.2 s, sys: 8.44 s, total: 27.7 s
Wall time: 27.7 s

In [9]:
merged_click_data.to_hdf("../data/merged_click_data.hdf", "merged_click_data")

In [10]:
merged_click_data

,app,channel,click_id,device,ip,is_attributed,os,click_count_by_ip_os_device_dow,click_count_by_ip_os_device_dow_hour,click_count_by_ip,...,hour,minute,second,rank_by_ip,rank_by_ip_os_device,rank_by_ip_os_device_dow,click_time_interval_by_ip,click_time_interval_by_ip_os_device,click_time_interval_by_ip_os_device_dow,click_time_interval_by_ip_os_device_dow_hour
0,3,379,NaN,1,83230,0.0,13,434,1,28085,...,14,32,21,0,0,0,NaT,NaT,NaT,NaT
1,3,379,NaN,1,17357,0.0,19,183,1,26234,...,14,33,34,0,0,0,NaT,NaT,NaT,NaT
2,3,379,NaN,1,35810,0.0,13,34,1,11002,...,14,34,12,0,0,0,NaT,NaT,NaT,NaT
3,14,478,NaN,1,45745,0.0,13,1501,1,188741,...,14,34,52,0,0,0,NaT,NaT,NaT,NaT
4,3,379,NaN,1,161007,0.0,13,28,1,1171,...,14,35,8,0,0,0,NaT,NaT,NaT,NaT
5,3,379,NaN,1,18787,0.0,16,1,1,4029,...,14,36,26,0,0,0,NaT,NaT,NaT,NaT
6,3,379,NaN,1,103022,0.0,23,1,1,6099,...,14,37,44,0,0,0,NaT,NaT,NaT,NaT
7,3,379,NaN,1,114221,0.0,19,51,1,2334,...,14,37,59,0,0,0,NaT,NaT,NaT,NaT
8,3,379,NaN,1,165970,0.0,13,19,1,2014,...,14,38,10,0,0,0,NaT,NaT,NaT,NaT
9,64,459,NaN,1,74544,0.0,22,5,1,3882,...,14,38,23,0,0,0,NaT,NaT,NaT,NaT
10,3,379,NaN,1,172522,0.0,25,109,1,9494,...,14,38,27,0,0,0,NaT,NaT,NaT,NaT
11,3,379,NaN,1,105861,0.0,13,495,1,12443,...,14,38,51,0,0,0,NaT,NaT,NaT,NaT
12,3,379,NaN,1,210962,0.0,19,84,1,8688,...,14,39,29,0,0,0,NaT,NaT,NaT,NaT
13,3,379,NaN,1,124979,0.0,18,1,1,1001,...,14,40,16,0,0,0,NaT,NaT,NaT,NaT
14,3,379,NaN,1,38816,0.0,18,1,1,4551,...,14,40,39,0,0,0,NaT,NaT,NaT,NaT
15,3,379,NaN,1,80447,0.0,19,42,1,5475,...,14,40,51,0,0,0,NaT,NaT,NaT,NaT
16,3,379,NaN,1,134575,0.0,13,16,1,3267,...,14,43,10,0,0,0,NaT,NaT,NaT,NaT
17,3,379,NaN,1,57576,0.0,19,1,1,297,...,14,43,14,0,0,0,NaT,NaT,NaT,NaT
18,3,379,NaN,1,7755,0.0,13,34,1,685,...,14,43,25,0,0,0,NaT,NaT,NaT,NaT
19,3,379,NaN,1,91749,0.0,19,100,1,6074,...,14,43,51,0,0,0,NaT,NaT,NaT,NaT
20,3,379,NaN,1,50694,0.0,18,9,1,1221,...,14,44,2,0,0,0,NaT,NaT,NaT,NaT
21,3,379,NaN,1,111385,0.0,18,4,1,2474,...,14,44,15,0,0,0,NaT,NaT,NaT,NaT
22,14,478,NaN,1,125222,0.0,3,123,1,171961,...,14,44,51,0,0,0,NaT,NaT,NaT,NaT
23,3,379,NaN,1,191759,0.0,13,407,1,25290,...,14,44,51,0,0,0,NaT,NaT,NaT,NaT
24,3,379,NaN,1,53418,0.0,17,6,1,2572,...,14,44,52,0,0,0,NaT,NaT,NaT,NaT
25,3,379,NaN,1,183168,0.0,19,3,1,90,...,14,47,49,0,0,0,NaT,NaT,NaT,NaT
26,3,379,NaN,1,47902,0.0,17,6,1,5766,...,14,48,7,0,0,0,NaT,NaT,NaT,NaT
27,3,379,NaN,1,209663,0.0,13,2679,1,173423,...,14,48,55,0,0,0,NaT,NaT,NaT,NaT
28,3,379,NaN,1,129614,0.0,20,10,1,2201,...,14,49,36,0,0,0,NaT,NaT,NaT,NaT
29,3,379,NaN,1,208347,0.0,19,31,1,2753,...,14,49,38,0,0,0,NaT,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203694329,27,153,18790438.0,1,51432,NaN,13,22,1,22,...,15,0,0,21,21,21,00:00:01,0 days 00:00:01,00:00:01,NaT
203694330,14,401,18790440.0,1,14334,NaN,19,274,1,2854,...,15,0,0,2853,758,273,00:00:01,0 days 00:00:01,00:00:01,NaT
203694331,9,334,18790441.0,1,16749,NaN,13,46,1,1528,...,15,0,0,1527,246,45,00:00:04,0 days 00:00:06,00:00:06,NaT
203694332,23,153,18790442.0,1,17814,NaN,13,260,1,11860,...,15,0,0,11859,2849,259,00:00:09,0 days 00:00:09,00:00:09,NaT
203694333,21,232,18790443.0,1,8825,NaN,13,41,3,2273,...,15,0,0,2272,435,40,00:00:00,0 days 00:00:00,00:00:00,0 days
203694334,8,259,18790444.0,2,115536,NaN,13,4,1,1568,...,15,0,0,1567,28,3,00:00:08,0 days 00:00:08,00:00:08,NaT
203694335,2,205,18790445.0,1,121472,NaN,19,1789,1,90013,...,15,0,0,90012,16462,1788,00:00:00,0 days 00:00:01,00:00:01,NaT
203694336,12,242,18790446.0,1,38000,NaN,12,7,1,1639,...,15,0,0,1638,6,6,00:00:03,0 days 00:00:03,00:00:03,NaT
203694337,1,125,18790447.0,1,66176,NaN,19,304,6,18979,...,15,0,0,18978,4153,303,00:00:00,0 days 00:00:00,00:00:00,0 days
203694338,2,205,18790448.0,1,25553,NaN,22,114,1,49910,...,15,0,0,49909,2205,113,00:00:02,0 days 00:00:32,00:00:32,NaT
203694339,21,128,18790449.0,2,119531,NaN,19,878,1,162916,...,15,0,0,162915,4480,877,00:00:04,0 days 00:02:32,00:02:32,NaT
203694340,13,469,18790450.0,1,14062,NaN,53,1,1,4266,...,15,0,0,4265,13,0,00:15:04,1 days 10:15:09,NaT,NaT
203694341,14,442,18790451.0,1,48536,NaN,19,80,2,1748,...,15,0,0,1747,383,79,00:00:00,0 days 00:00:00,00:00:00,0 days
203694342,1,125,18790452.0,1,93291,NaN,19,2245,7,38820,...,15,0,0,38816,8182,2241,00:00:00,0 days 00:00:00,00:00:00,0 days
203694343,9,258,18790453.0,1,93291,NaN,19,2245,7,38820,...,15,0,0,38817,8183,2242,00:00:00,0 days 00:00:00,00:00:00,0 days
203694344,1,125,18790455.0,1,55874,NaN,22,60,6,13763,...,15,0,0,13762,544,59,00:00:00,0 days 00:00:00,00:00:00,0 days
203694345,9,145,18790454.0,1,93291,NaN,19,2245,7,38820,...,15,0,0,38818,8184,2243,00:00:00,0 days 00:00:00,00:00:00,0 days
203694346,8,259,18790456.0,1,100697,NaN,18,17,1,3519,...,15,0,0,3518,191,16,00:00:13,0 days 00:00:32,00:00:32,NaT
203694347,20,259,18790457.0,1,93291,NaN,19,2245,7,38820,...,15,0,0,38819,8185,2244,00:00:00,0 days 00:00:00,00:00:00,0 days
203694348,2,452,18790458.0,1,85329,NaN,14,76,2,75986,...,15,0,0,75985,761,75,00:00:00,0 days 00:00:00,00:00:00,0 days
203694349,15,140,18790459.0,1,102467,NaN,17,173,6,40051,...,15,0,0,40050,1329,172,00:00:00,0 days 00:00:00,00:00:00,0 days
203694350,9,445,18790460.0,1,80537,NaN,19,79,6,1048,...,15,0,0,1047,235,78,00:00:00,0 days 00:00:00,00:00:00,0 days
203694351,2,237,18790462.0,2,101214,NaN,16,13,1,50215,...,15,0,0,50214,98,12,00:00:01,0 days 00:00:21,00:00:21,NaT
203694352,17,128,18790461.0,1,113418,NaN,17,60,2,13166,...,15,0,0,13165,832,59,00:00:00,0 days 00:00:00,00:00:00,0 days
203694353,12,135,18790463.0,1,69245,NaN,13,100,1,4666,...,15,0,0,4665,983,99,00:00:16,0 days 00:00:16,00:00:16,NaT
203694354,9,127,18790464.0,1,99442,NaN,13,5,2,377,...,15,0,0,376,97,4,00:00:00,0 days 00:00:00,00:00:00,0 days
203694355,23,153,18790465.0,1,88046,NaN,37,23,1,11288,...,15,0,0,11287,374,22,00:00:04,0 days 00:00:04,00:00:04,NaT
203694356,18,265,18790467.0,1,81398,NaN,17,48,2,12192,...,15,0,0,12191,669,47,00:00:00,0 days 00:00:00,00:00:00,0 days
203694357,27,122,18790466.0,1,123236,NaN,13,13,1,963,...,15,0,0,962,184,12,00:00:01,0 days 00:00:01,00:00:01,NaT
203694358,12,265,18790468.0,2,73516,NaN,27,172,1,839540,...,15,0,0,839539,2289,171,00:00:00,0 days 00:09:24,00:09:24,NaT

In [2]:
merged_click_data = read_hdf("merged_click_data")

In [5]:
merged_click_data.dtypes

app                                                      uint16
channel                                                  uint16
click_id                                                float64
device                                                   uint16
ip                                                       uint32
is_attributed                                           float64
os                                                       uint16
click_count_by_ip_os_device_dow                          uint32
click_count_by_ip_os_device_dow_hour                     uint16
click_count_by_ip                                        uint32
dow                                                       uint8
hour                                                      uint8
minute                                                    uint8
second                                                    uint8
rank_by_ip                                               uint32
rank_by_ip_os_device                                     uint32
rank_by_ip_os_device_dow                                 uint32
click_time_interval_by_ip                       timedelta64[ns]
click_time_interval_by_ip_os_device             timedelta64[ns]
click_time_interval_by_ip_os_device_dow         timedelta64[ns]
click_time_interval_by_ip_os_device_dow_hour    timedelta64[ns]
dtype: object

In [8]:
%%time
merged_click_data["click_time_interval_by_ip"] = merged_click_data["click_time_interval_by_ip"] / np.timedelta64(1, "s")
merged_click_data["click_time_interval_by_ip_os_device"] = merged_click_data["click_time_interval_by_ip_os_device"] / np.timedelta64(1, "s")
merged_click_data["click_time_interval_by_ip_os_device_dow"] = merged_click_data["click_time_interval_by_ip_os_device_dow"] / np.timedelta64(1, "s")
merged_click_data["click_time_interval_by_ip_os_device_dow_hour"] = merged_click_data["click_time_interval_by_ip_os_device_dow_hour"] / np.timedelta64(1, "s")

CPU times: user 29.4 s, sys: 11.5 s, total: 40.9 s
Wall time: 34.3 s

In [9]:
merged_click_data.dtypes

app                                              uint16
channel                                          uint16
click_id                                        float64
device                                           uint16
ip                                               uint32
is_attributed                                   float64
os                                               uint16
click_count_by_ip_os_device_dow                  uint32
click_count_by_ip_os_device_dow_hour             uint16
click_count_by_ip                                uint32
dow                                               uint8
hour                                              uint8
minute                                            uint8
second                                            uint8
rank_by_ip                                       uint32
rank_by_ip_os_device                             uint32
rank_by_ip_os_device_dow                         uint32
click_time_interval_by_ip                       float64
click_time_interval_by_ip_os_device             float64
click_time_interval_by_ip_os_device_dow         float64
click_time_interval_by_ip_os_device_dow_hour    float64
dtype: object

In [10]:
merged_click_data.to_hdf("../data/merged_click_data.hdf", "merged_click_data")