`app` と `channel` の相関を調べる。

In [29]:
import psycopg2
import seaborn as sns
import pandas as pd
import json
%matplotlib inline

In [34]:
with open("config.json") as f:
    connection=psycopg2.connect(json.load(f)["psql"])
count_by_app_channel=pd.read_sql_query("SELECT to_char(app,'99999')||'_'||to_char(count,'999999999') AS app_channel,count FROM count_by_app_channel ORDER BY count DESC;", connection)
count_by_app_channel

            app_channel     count
0          3_  14507909  14507909
1         18_   8750331   8750331
2         15_   5786795   5786795
3         12_   5253765   5253765
4         12_   4693367   4693367
5          2_   3884274   3884274
6         18_   3443694   3443694
7          8_   3370954   3370954
8         13_   3242433   3242433
9         12_   3090102   3090102
10        12_   2995586   2995586
11        23_   2915972   2915972
12         2_   2868101   2868101
13        21_   2807798   2807798
14         9_   2600589   2600589
15         2_   2563775   2563775
16         2_   2438619   2438619
17         9_   2174777   2174777
18        18_   2085153   2085153
19        18_   2081259   2081259
20         9_   2080550   2080550
21         3_   2043974   2043974
22        12_   2022609   2022609
23         2_   1953555   1953555
24        14_   1927338   1927338
25        64_   1894364   1894364
26         2_   1817039   1817039
27         7_   1809191   1809191
28         2_   1792049   1792049
29         6_   1747386   1747386
...                 ...       ...
1427     312_         1         1
1428     709_         1         1
1429     447_         1         1
1430     564_         1         1
1431     728_         1         1
1432     653_         1         1
1433     456_         1         1
1434     417_         1         1
1435      40_         1         1
1436     521_         1         1
1437     751_         1         1
1438     416_         1         1
1439     652_         1         1
1440     736_         1         1
1441     745_         1         1
1442      13_         1         1
1443     665_         1         1
1444     543_         1         1
1445     597_         1         1
1446     441_         1         1
1447      32_         1         1
1448      35_         1         1
1449     591_         1         1
1450     715_         1         1
1451     620_         1         1
1452     322_         1         1
1453     635_         1         1
1454     160_         1         1
1455     755_         1         1
1456     230_         1         1

[1457 rows x 2 columns]

`train` と `test` のクリック数は全部で 203694359 件

In [46]:
total=count_by_app_channel["count"].sum()
total

203694359

うち 10000 回以上の (app, channel) の組み合わせによってもたらされたものは 202966554 件

In [48]:
upper10000=count_by_app_channel[count_by_app_channel["count"]>=10000]["count"].sum()
upper10000

202966554

全体の 99.6% のクリックがメジャーな (app, channel) の組み合わせによって起こる。

In [49]:
upper10000/total

0.9964269751819685