|data|lines|
|:---|---:|
|train|184,903,890|
|test |1,879,069|

train が test の 100 倍ある。メモリゲーっぽい。

Bosch コンペの時に、明らかにクソなデータを間引くことで学習を高速化するテクがあったのを思い出した。

In [1]:
import gc
import time
import numpy as np
import pandas as pd
from sklearn.cross_validation import train_test_split
import xgboost as xgb
from xgboost import plot_importance
import matplotlib.pyplot as plt
import seaborn as sns

train_columns = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'is_attributed']
test_columns  = ['ip', 'app', 'device', 'os', 'channel', 'click_time', 'click_id']
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }

/home/kenkou_n/.pyenv/versions/3.6.4/envs/talking-data/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
%%time
train=pd.read_csv("../data/train.csv", usecols=train_columns, dtype=dtypes)

CPU times: user 3min 44s, sys: 39.8 s, total: 4min 24s
Wall time: 4min 24s

In [7]:
%%time
test=pd.read_csv("../data/test.csv", usecols=test_columns, dtype=dtypes)

CPU times: user 22.7 s, sys: 2.19 s, total: 24.9 s
Wall time: 28.5 s

In [14]:
%%time
train.to_hdf("../data/train.hdf", "train")

CPU times: user 30.9 s, sys: 34.7 s, total: 1min 5s
Wall time: 4min 7s

In [15]:
%%time
test.to_hdf("../data/test.hdf", "test")

CPU times: user 3.14 s, sys: 3.26 s, total: 6.4 s
Wall time: 15.2 s

In [16]:
%%time
train=pd.read_hdf("../data/train.hdf", "train")

CPU times: user 9.78 s, sys: 22.1 s, total: 31.9 s
Wall time: 32.8 s

In [17]:
%%time
test=pd.read_hdf("../data/test.hdf", "test")

CPU times: user 961 ms, sys: 2.43 s, total: 3.39 s
Wall time: 4.22 s

In [18]:
train

,ip,app,device,os,channel,click_time,is_attributed,hour,minute,second
0,83230,3,1,13,379,2017-11-06 14:32:21,0,14,32,21
1,17357,3,1,19,379,2017-11-06 14:33:34,0,14,33,34
2,35810,3,1,13,379,2017-11-06 14:34:12,0,14,34,12
3,45745,14,1,13,478,2017-11-06 14:34:52,0,14,34,52
4,161007,3,1,13,379,2017-11-06 14:35:08,0,14,35,8
5,18787,3,1,16,379,2017-11-06 14:36:26,0,14,36,26
6,103022,3,1,23,379,2017-11-06 14:37:44,0,14,37,44
7,114221,3,1,19,379,2017-11-06 14:37:59,0,14,37,59
8,165970,3,1,13,379,2017-11-06 14:38:10,0,14,38,10
9,74544,64,1,22,459,2017-11-06 14:38:23,0,14,38,23
10,172522,3,1,25,379,2017-11-06 14:38:27,0,14,38,27
11,105861,3,1,13,379,2017-11-06 14:38:51,0,14,38,51
12,210962,3,1,19,379,2017-11-06 14:39:29,0,14,39,29
13,124979,3,1,18,379,2017-11-06 14:40:16,0,14,40,16
14,38816,3,1,18,379,2017-11-06 14:40:39,0,14,40,39
15,80447,3,1,19,379,2017-11-06 14:40:51,0,14,40,51
16,134575,3,1,13,379,2017-11-06 14:43:10,0,14,43,10
17,57576,3,1,19,379,2017-11-06 14:43:14,0,14,43,14
18,7755,3,1,13,379,2017-11-06 14:43:25,0,14,43,25
19,91749,3,1,19,379,2017-11-06 14:43:51,0,14,43,51
20,50694,3,1,18,379,2017-11-06 14:44:02,0,14,44,2
21,111385,3,1,18,379,2017-11-06 14:44:15,0,14,44,15
22,125222,14,1,3,478,2017-11-06 14:44:51,0,14,44,51
23,191759,3,1,13,379,2017-11-06 14:44:51,0,14,44,51
24,53418,3,1,17,379,2017-11-06 14:44:52,0,14,44,52
25,183168,3,1,19,379,2017-11-06 14:47:49,0,14,47,49
26,47902,3,1,17,379,2017-11-06 14:48:07,0,14,48,7
27,209663,3,1,13,379,2017-11-06 14:48:55,0,14,48,55
28,129614,3,1,20,379,2017-11-06 14:49:36,0,14,49,36
29,208347,3,1,19,379,2017-11-06 14:49:38,0,14,49,38
...,...,...,...,...,...,...,...,...,...,...
184903860,37462,2,2,9,435,2017-11-09 16:00:00,0,16,0,0
184903861,37168,2,1,19,237,2017-11-09 16:00:00,0,16,0,0
184903862,163581,9,1,3,322,2017-11-09 16:00:00,0,16,0,0
184903863,34894,9,1,15,322,2017-11-09 16:00:00,0,16,0,0
184903864,49383,24,2,20,178,2017-11-09 16:00:00,0,16,0,0
184903865,258208,9,1,18,490,2017-11-09 16:00:00,0,16,0,0
184903866,121312,2,1,10,236,2017-11-09 16:00:00,0,16,0,0
184903867,100212,15,2,13,15,2017-11-09 16:00:00,0,16,0,0
184903868,7912,9,1,90,445,2017-11-09 16:00:00,0,16,0,0
184903869,2463,9,1,17,107,2017-11-09 16:00:00,0,16,0,0
184903870,43763,3,1,25,402,2017-11-09 16:00:00,0,16,0,0
184903871,88718,14,1,18,446,2017-11-09 16:00:00,0,16,0,0
184903872,77979,12,1,23,259,2017-11-09 16:00:00,0,16,0,0
184903873,84092,21,1,13,232,2017-11-09 16:00:00,0,16,0,0
184903874,119502,11,1,1,173,2017-11-09 16:00:00,0,16,0,0
184903875,123994,15,1,17,130,2017-11-09 16:00:00,0,16,0,0
184903876,112862,2,1,17,477,2017-11-09 16:00:00,0,16,0,0
184903877,22978,3,1,10,173,2017-11-09 16:00:00,0,16,0,0
184903878,48184,12,1,19,259,2017-11-09 16:00:00,0,16,0,0
184903879,88,23,1,19,153,2017-11-09 16:00:00,0,16,0,0
184903880,110840,2,1,17,435,2017-11-09 16:00:00,0,16,0,0
184903881,131635,2,1,17,435,2017-11-09 16:00:00,0,16,0,0
184903882,5314,18,1,3,107,2017-11-09 16:00:00,0,16,0,0
184903883,66000,1,2,37,13,2017-11-09 16:00:00,0,16,0,0
184903884,100212,1,2,13,125,2017-11-09 16:00:00,0,16,0,0
184903885,121312,12,1,10,340,2017-11-09 16:00:00,0,16,0,0
184903886,46894,3,1,19,211,2017-11-09 16:00:00,0,16,0,0
184903887,320126,1,1,13,274,2017-11-09 16:00:00,0,16,0,0
184903888,189286,12,1,37,259,2017-11-09 16:00:00,0,16,0,0
184903889,106485,11,1,19,137,2017-11-09 16:00:00,0,16,0,0

## 思考停止 count
正例は全体の 0.2% しかない。

In [8]:
train["is_attributed"].value_counts()

0    184447044
1       456846
Name: is_attributed, dtype: int64

In [10]:
train["ip"].value_counts()

5348      1238734
5314      1171448
73516      770451
73487      763854
53454      498186
114276     427453
26995      401495
95766      378693
17149      310996
105475     302192
100275     276799
43793      261970
105560     260049
86767      257649
111025     247187
137052     217614
201182     212448
5178       211556
49602      200053
5147       197994
48282      188092
48212      185885
48240      182754
48170      180609
123994     176285
209663     173423
93587      171417
84896      170166
45745      169149
119369     159276
           ...
287517          1
322237          1
191100          1
322238          1
275703          1
358930          1
275702          1
252062          1
144444          1
219639          1
322200          1
219638          1
144579          1
219598          1
191066          1
275458          1
358932          1
228052          1
239835          1
219593          1
25479           1
219594          1
322193          1
252079          1
174284          1
219636          1
322191          1
350517          1
144443          1
278672          1
Name: ip, Length: 277396, dtype: int64

In [11]:
train["channel"].value_counts()

280    15065927
245     8873025
107     8457471
477     7188340
134     5924250
259     5787004
153     5537977
265     5446388
178     5271408
121     4692438
205     4359180
145     3583945
442     3574611
459     3477150
379     3402636
439     2901762
489     2711240
128     2703163
135     2663913
466     2655396
237     2632794
480     2618441
469     2588380
140     2562964
122     2526161
219     2349454
137     2302316
232     2275338
435     2192870
101     2147174
         ...
223         118
225          96
233          61
14           22
471          20
458          16
251          14
248          14
256          13
169          13
162          12
238           9
29            6
473           5
475           3
142           2
476           2
165           2
149           2
470           1
146           1
434           1
422           1
394           1
354           1
227           1
221           1
217           1
172           1
500           1
Name: channel, Length: 202, dtype: int64

In [12]:
train["app"].value_counts()

3      33911780
12     24179003
2      21642136
9      16458268
15     15958970
18     15756587
14     10027169
1       5796274
13      4329409
8       3731948
21      3616407
11      3466971
26      3126136
23      2675259
6       2464136
64      1893969
7       1764954
20      1758934
25      1467907
28      1311496
27      1296189
24      1259100
19       922902
17       797335
22       684604
10       684043
29       652090
32       485426
5        375533
151      188490
         ...
678           1
679           1
558           1
681           1
404           1
653           1
684           1
410           1
687           1
608           1
689           1
691           1
673           1
671           1
571           1
669           1
668           1
667           1
572           1
665           1
664           1
578           1
661           1
580           1
659           1
582           1
657           1
656           1
655           1
626           1
Name: app, Length: 706, dtype: int64

In [4]:
train_hour=pd.read_csv("../data/train_hour.csv")
train_minute=pd.read_csv("../data/train_minute.csv")
train_second=pd.read_csv("../data/train_second.csv")

In [5]:
train["hour"]=train_hour["click_time"]
train["minute"]=train_minute["click_time"]
train["second"]=train_second["click_time"]

In [6]:
train

,ip,app,device,os,channel,click_time,is_attributed,hour,minute,second
0,83230,3,1,13,379,2017-11-06 14:32:21,0,14,32,21
1,17357,3,1,19,379,2017-11-06 14:33:34,0,14,33,34
2,35810,3,1,13,379,2017-11-06 14:34:12,0,14,34,12
3,45745,14,1,13,478,2017-11-06 14:34:52,0,14,34,52
4,161007,3,1,13,379,2017-11-06 14:35:08,0,14,35,8
5,18787,3,1,16,379,2017-11-06 14:36:26,0,14,36,26
6,103022,3,1,23,379,2017-11-06 14:37:44,0,14,37,44
7,114221,3,1,19,379,2017-11-06 14:37:59,0,14,37,59
8,165970,3,1,13,379,2017-11-06 14:38:10,0,14,38,10
9,74544,64,1,22,459,2017-11-06 14:38:23,0,14,38,23
10,172522,3,1,25,379,2017-11-06 14:38:27,0,14,38,27
11,105861,3,1,13,379,2017-11-06 14:38:51,0,14,38,51
12,210962,3,1,19,379,2017-11-06 14:39:29,0,14,39,29
13,124979,3,1,18,379,2017-11-06 14:40:16,0,14,40,16
14,38816,3,1,18,379,2017-11-06 14:40:39,0,14,40,39
15,80447,3,1,19,379,2017-11-06 14:40:51,0,14,40,51
16,134575,3,1,13,379,2017-11-06 14:43:10,0,14,43,10
17,57576,3,1,19,379,2017-11-06 14:43:14,0,14,43,14
18,7755,3,1,13,379,2017-11-06 14:43:25,0,14,43,25
19,91749,3,1,19,379,2017-11-06 14:43:51,0,14,43,51
20,50694,3,1,18,379,2017-11-06 14:44:02,0,14,44,2
21,111385,3,1,18,379,2017-11-06 14:44:15,0,14,44,15
22,125222,14,1,3,478,2017-11-06 14:44:51,0,14,44,51
23,191759,3,1,13,379,2017-11-06 14:44:51,0,14,44,51
24,53418,3,1,17,379,2017-11-06 14:44:52,0,14,44,52
25,183168,3,1,19,379,2017-11-06 14:47:49,0,14,47,49
26,47902,3,1,17,379,2017-11-06 14:48:07,0,14,48,7
27,209663,3,1,13,379,2017-11-06 14:48:55,0,14,48,55
28,129614,3,1,20,379,2017-11-06 14:49:36,0,14,49,36
29,208347,3,1,19,379,2017-11-06 14:49:38,0,14,49,38
...,...,...,...,...,...,...,...,...,...,...
184903860,37462,2,2,9,435,2017-11-09 16:00:00,0,16,0,0
184903861,37168,2,1,19,237,2017-11-09 16:00:00,0,16,0,0
184903862,163581,9,1,3,322,2017-11-09 16:00:00,0,16,0,0
184903863,34894,9,1,15,322,2017-11-09 16:00:00,0,16,0,0
184903864,49383,24,2,20,178,2017-11-09 16:00:00,0,16,0,0
184903865,258208,9,1,18,490,2017-11-09 16:00:00,0,16,0,0
184903866,121312,2,1,10,236,2017-11-09 16:00:00,0,16,0,0
184903867,100212,15,2,13,15,2017-11-09 16:00:00,0,16,0,0
184903868,7912,9,1,90,445,2017-11-09 16:00:00,0,16,0,0
184903869,2463,9,1,17,107,2017-11-09 16:00:00,0,16,0,0
184903870,43763,3,1,25,402,2017-11-09 16:00:00,0,16,0,0
184903871,88718,14,1,18,446,2017-11-09 16:00:00,0,16,0,0
184903872,77979,12,1,23,259,2017-11-09 16:00:00,0,16,0,0
184903873,84092,21,1,13,232,2017-11-09 16:00:00,0,16,0,0
184903874,119502,11,1,1,173,2017-11-09 16:00:00,0,16,0,0
184903875,123994,15,1,17,130,2017-11-09 16:00:00,0,16,0,0
184903876,112862,2,1,17,477,2017-11-09 16:00:00,0,16,0,0
184903877,22978,3,1,10,173,2017-11-09 16:00:00,0,16,0,0
184903878,48184,12,1,19,259,2017-11-09 16:00:00,0,16,0,0
184903879,88,23,1,19,153,2017-11-09 16:00:00,0,16,0,0
184903880,110840,2,1,17,435,2017-11-09 16:00:00,0,16,0,0
184903881,131635,2,1,17,435,2017-11-09 16:00:00,0,16,0,0
184903882,5314,18,1,3,107,2017-11-09 16:00:00,0,16,0,0
184903883,66000,1,2,37,13,2017-11-09 16:00:00,0,16,0,0
184903884,100212,1,2,13,125,2017-11-09 16:00:00,0,16,0,0
184903885,121312,12,1,10,340,2017-11-09 16:00:00,0,16,0,0
184903886,46894,3,1,19,211,2017-11-09 16:00:00,0,16,0,0
184903887,320126,1,1,13,274,2017-11-09 16:00:00,0,16,0,0
184903888,189286,12,1,37,259,2017-11-09 16:00:00,0,16,0,0
184903889,106485,11,1,19,137,2017-11-09 16:00:00,0,16,0,0

In [10]:
test_hour=pd.read_csv("../data/test_hour.csv")
test_minute=pd.read_csv("../data/test_minute.csv")
test_second=pd.read_csv("../data/test_second.csv")

In [11]:
test["hour"]=test_hour["click_time"]
test["minute"]=test_minute["click_time"]
test["second"]=test_second["click_time"]

In [12]:
test

,click_id,ip,app,device,os,channel,click_time,hour,minute,second
0,0,5744,9,1,3,107,2017-11-10 04:00:00,4,0,0
1,1,119901,9,1,3,466,2017-11-10 04:00:00,4,0,0
2,2,72287,21,1,19,128,2017-11-10 04:00:00,4,0,0
3,3,78477,15,1,13,111,2017-11-10 04:00:00,4,0,0
4,4,123080,12,1,13,328,2017-11-10 04:00:00,4,0,0
5,5,110769,18,1,13,107,2017-11-10 04:00:00,4,0,0
6,6,12540,3,1,1,137,2017-11-10 04:00:00,4,0,0
7,7,88637,27,1,19,153,2017-11-10 04:00:00,4,0,0
8,9,14932,18,1,10,107,2017-11-10 04:00:00,4,0,0
9,8,123701,12,1,53,424,2017-11-10 04:00:00,4,0,0
10,10,106056,26,1,19,477,2017-11-10 04:00:00,4,0,0
11,11,111025,3,1,19,137,2017-11-10 04:00:00,4,0,0
12,12,16050,12,1,13,265,2017-11-10 04:00:00,4,0,0
13,13,31555,9,1,13,244,2017-11-10 04:00:00,4,0,0
14,14,3009,12,1,25,242,2017-11-10 04:00:00,4,0,0
15,15,17149,14,1,49,480,2017-11-10 04:00:00,4,0,0
16,16,104009,18,1,17,107,2017-11-10 04:00:00,4,0,0
17,20,17149,14,1,49,480,2017-11-10 04:00:00,4,0,0
18,19,80209,27,1,13,122,2017-11-10 04:00:00,4,0,0
19,17,41399,3,1,8,417,2017-11-10 04:00:00,4,0,0
20,18,43655,12,1,15,178,2017-11-10 04:00:00,4,0,0
21,21,37338,8,1,8,145,2017-11-10 04:00:00,4,0,0
22,22,72562,13,1,19,477,2017-11-10 04:00:00,4,0,0
23,23,61583,12,1,13,242,2017-11-10 04:00:00,4,0,0
24,24,48240,18,1,42,107,2017-11-10 04:00:00,4,0,0
25,25,46401,27,1,22,153,2017-11-10 04:00:00,4,0,0
26,26,95155,2,1,16,258,2017-11-10 04:00:00,4,0,0
27,27,114220,9,1,13,445,2017-11-10 04:00:00,4,0,0
28,28,76736,18,1,39,134,2017-11-10 04:00:00,4,0,0
29,29,35834,12,1,13,178,2017-11-10 04:00:00,4,0,0
...,...,...,...,...,...,...,...,...,...,...
18790439,18790438,51432,27,1,13,153,2017-11-10 15:00:00,15,0,0
18790440,18790440,14334,14,1,19,401,2017-11-10 15:00:00,15,0,0
18790441,18790441,16749,9,1,13,334,2017-11-10 15:00:00,15,0,0
18790442,18790442,17814,23,1,13,153,2017-11-10 15:00:00,15,0,0
18790443,18790443,8825,21,1,13,232,2017-11-10 15:00:00,15,0,0
18790444,18790444,115536,8,2,13,259,2017-11-10 15:00:00,15,0,0
18790445,18790445,121472,2,1,19,205,2017-11-10 15:00:00,15,0,0
18790446,18790446,38000,12,1,12,242,2017-11-10 15:00:00,15,0,0
18790447,18790447,66176,1,1,19,125,2017-11-10 15:00:00,15,0,0
18790448,18790448,25553,2,1,22,205,2017-11-10 15:00:00,15,0,0
18790449,18790449,119531,21,2,19,128,2017-11-10 15:00:00,15,0,0
18790450,18790450,14062,13,1,53,469,2017-11-10 15:00:00,15,0,0
18790451,18790451,48536,14,1,19,442,2017-11-10 15:00:00,15,0,0
18790452,18790452,93291,1,1,19,125,2017-11-10 15:00:00,15,0,0
18790453,18790453,93291,9,1,19,258,2017-11-10 15:00:00,15,0,0
18790454,18790455,55874,1,1,22,125,2017-11-10 15:00:00,15,0,0
18790455,18790454,93291,9,1,19,145,2017-11-10 15:00:00,15,0,0
18790456,18790456,100697,8,1,18,259,2017-11-10 15:00:00,15,0,0
18790457,18790457,93291,20,1,19,259,2017-11-10 15:00:00,15,0,0
18790458,18790458,85329,2,1,14,452,2017-11-10 15:00:00,15,0,0
18790459,18790459,102467,15,1,17,140,2017-11-10 15:00:00,15,0,0
18790460,18790460,80537,9,1,19,445,2017-11-10 15:00:00,15,0,0
18790461,18790462,101214,2,2,16,237,2017-11-10 15:00:00,15,0,0
18790462,18790461,113418,17,1,17,128,2017-11-10 15:00:00,15,0,0
18790463,18790463,69245,12,1,13,135,2017-11-10 15:00:00,15,0,0
18790464,18790464,99442,9,1,13,127,2017-11-10 15:00:00,15,0,0
18790465,18790465,88046,23,1,37,153,2017-11-10 15:00:00,15,0,0
18790466,18790467,81398,18,1,17,265,2017-11-10 15:00:00,15,0,0
18790467,18790466,123236,27,1,13,122,2017-11-10 15:00:00,15,0,0
18790468,18790468,73516,12,2,27,265,2017-11-10 15:00:00,15,0,0

In [9]:
train.to_hdf("../data/train.hdf", "train")

In [13]:
test.to_hdf("../data/test.hdf", "test")