In [35]:
import pandas as pd
import numpy as np

In [36]:
path = '../../data/'
# file = 'analysis_data.csv'
key = 'sample'

In [38]:
%%time
merge = pd.read_hdf(path + key + '.hdf', key=key)
print(merge.shape)

(100000, 32)
CPU times: user 72 ms, sys: 32 ms, total: 104 ms
Wall time: 106 ms

In [39]:
merge.head()

,id,click_id,ip,app,device,os,channel,is_attributed,is_test,click_time_ch,...,click_time_30min,click_time_15min,click_time_10min,click_time_5min,cnt_1hour,cnt_30min,cnt_15min,cnt_10min,cnt_5min,cnt_1min
0,114898003,NaN,220031,11,1,19,319,0,0,2017-11-08 16:19:35,...,2017-11-08 16:30:00,2017-11-08 16:15:00,2017-11-08 16:20:00,2017-11-08 16:20:00,27,23,20,23,16,10
1,114886888,NaN,220031,18,1,19,439,0,0,2017-11-08 16:19:22,...,2017-11-08 16:30:00,2017-11-08 16:15:00,2017-11-08 16:20:00,2017-11-08 16:20:00,27,23,20,23,16,10
2,114875904,NaN,220031,3,1,19,489,0,0,2017-11-08 16:19:08,...,2017-11-08 16:30:00,2017-11-08 16:15:00,2017-11-08 16:20:00,2017-11-08 16:20:00,27,23,20,23,16,10
3,114882647,NaN,220031,23,1,19,153,0,0,2017-11-08 16:19:17,...,2017-11-08 16:30:00,2017-11-08 16:15:00,2017-11-08 16:20:00,2017-11-08 16:20:00,27,23,20,23,16,10
4,114876527,NaN,220031,27,1,19,122,0,0,2017-11-08 16:19:09,...,2017-11-08 16:30:00,2017-11-08 16:15:00,2017-11-08 16:20:00,2017-11-08 16:20:00,27,23,20,23,16,10